<section>
  <h2>{{'Vyberte způsob dopravy' | translate}}</h2>
  <div class="content">
    <label class="item" *ngFor="let item of shippingObj.records">
      <input type="radio" name="delivery" [value]="item.code"
             [(ngModel)]="selectedShipping"
             [disabled]="isProcess"
             (ngModelChange)="selectItem(item)"
      >
      <div>
        <div class="name">
          {{item.name | translate}} <span class="info" title="{{item.name}}"></span>
        </div>
        <!--PRICE WITHOUT VAR FOR AT-->
        <div class="price" *ngIf="item.priceVat && item.priceVat!='0' && store.isAustria">
          {{item.price | number:formatNumber1}} {{item.currency}}
        </div>
        <!--PRICE-->
        <div class="price" *ngIf="item.priceVat && item.priceVat!='0' && !store.isAustria">
          {{item.priceVat | number:formatNumber1}} {{item.currency}}
        </div>
        <div class="price" *ngIf="!item.priceVat || item.priceVat=='0'">
          {{'zdarma' | translate}}
        </div>
      </div>
    </label>
  </div>
</section>
