<div class="site_order_content">
  <table class="basket_order_products">
    <thead>
    <tr>
      <th colspan="2">{{'Zboží' | translate}}</th>
      <th>{{'Počet' | translate}}</th>
      <th>{{'Dostupnost' | translate}}</th>
      <th><span>{{'Cena za kus' | translate}}</span></th>
      <!--<th>Sleva</th>
      <th><span>Cena za kus</span><br /><span>vč.&nbsp;slevy</span></th>-->
      <th><span>{{'Cena celkem' | translate}}</span><br /><span>{{'bez DPH' | translate}}</span></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <!-- //// -->
    <tr *ngFor="let item of cartObj.records">
      <td class="image">
        <img src="/files/{{item.fileName}}" alt="{{item.name}}">
      </td>
      <td>
        <h2>
          <a [routerLink]="[item.redirect]">{{item.name}}</a>
        </h2>
      </td>
      <td [attr.data-title]="trans('Počet') + ':'">
        <form action="" method="post" name="products">
          <!--NO EDIT-->
          <div class="ui_input_number" *ngIf="item.noEdit" title="{{'Nelze měnit, přidáno z konfigurátoru.' | translate}}">
            <input type="text" name="amount" value="{{item.amount | number: formatNumber1}}" />
          </div>
          <!--EDIT-->
          <div class="ui_input_number" *ngIf="!item.noEdit">
            <input type="text" name="amount" [(ngModel)]="item.amount" (ngModelChange)="changeAmount()" (blur)="updateItem(item)" (keypress)="updateItem(item, $event)" />
            <button type="button" class="minus" (click)="decAmount(item)" [disabled]="inProcess">-</button>
            <button type="button" class="plus" (click)="incAmount(item)" [disabled]="inProcess">+</button>
          </div>
        </form>
      </td>
      <td [attr.data-title]="trans('Dostupnost') + ':'">
        <div class="store positive">
          {{item.availability | translate}}
        </div>
      </td>
      <td [attr.data-title]="trans('Cena za kus') + ':'">
        {{item.price | number:formatNumber1}} {{item.currency}}
      </td>
      <td [attr.data-title]="trans('Cena celkem bez DPH') + ':'">
        <strong>{{item.priceAmount | number:formatNumber1}} {{item.currency}}</strong>
      </td>
      <td>
        <a *ngIf="item.noEdit && item.parentItemId" href="javascript:void(0);" class="remove fa_b_times" title="{{'Nelze měnit, přidáno z konfigurátoru.' | translate}}"></a>
        <a *ngIf="item.noEdit && !item.parentItemId" href="javascript:void(0);" (click)="removeItem(item)" class="remove fa_b_times" title="{{'Odebráním odstraníte související produkty z konfigurace.' | translate}}"></a>
        <a *ngIf="!item.noEdit" href="javascript:void(0);" (click)="removeItem(item)" class="remove fa_b_times" title="{{'Odstranit z košíku' | translate}}"></a>
      </td>
    </tr>
    <!-- //// -->
    </tbody>
  </table>
  <!-- ///// -->
  <div class="basket_order_extras">
    <!-- ///// -->
    <div class="item">
      <input type="checkbox" id="add_product" name="addProduct">
      <label for="add_product">{{'Přidat zboží' | translate}}</label>
      <div class="content">
        <form action="" method="post" class="lui_form" name="product" (ngSubmit)="buy()">
          <div class="container fluid nospace">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-lg-auto">
                <div class="row va-center item">
                  <div class="col-xs-12 col-sm-12 col-lg-auto">
                    <label class="label nospace sm-block">
                      {{'Objednací kód' | translate}}
                    </label>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-lg-auto">
                    <div class="input">
                      <input type="text" name="product_code" [(ngModel)]="otherProduct['code']" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-lg-auto">
                <div class="row va-center item">
                  <div class="col-xs-12 col-sm-12 col-lg-auto">
                    <label class="label nospace sm-block">
                      {{'Počet kusů' | translate}}
                    </label>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-lg-auto">
                    <div class="ui_input_number">
                      <input type="text" [(ngModel)]="otherProduct['amount']" name="product_amount" />
                      <button type="button" class="minus" (click)="decAmount(otherProduct)" [disabled]="inProcess">-</button>
                      <button type="button" class="plus" (click)="incAmount(otherProduct)" [disabled]="inProcess">+</button>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-lg-auto">
                <div class="row va-center item">
                  <div class="col-12">
                    <button type="submit" class="lui_button warning" [disabled]="inProcess">{{'Přidat do košíku' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- ///// -->
    <div class="item">
      <input type="checkbox" id="add_voucher" name="addVoucher" [(ngModel)]="showCoupons">
      <label for="add_voucher">{{'Mám slevový poukaz' | translate}}</label>
      <div class="content">
        <form action="" method="post" class="lui_form" name="voucher" (ngSubmit)="onCoupon()">
          <div class="container fluid nospace">
            <div class="row va-center item">
              <div class="col-xs-12 col-lg-auto">
                <label class="label nospace md-block">
                  {{'Kód poukazu' | translate}}
                </label>
              </div>
              <div class="col-xs-12 col-lg-auto">
                <div *ngIf="existCoupons">{{coupon.code}} - {{coupon.name}}</div>
                <div class="input" *ngIf="!existCoupons">
                  <input type="text" name="voucher_code" [(ngModel)]="coupon.code">
                </div>
              </div>
              <div class="col-xs-12 col-lg-auto">
                <div class="row va-center item">
                  <div class="col-12">
                    <button type="submit" class="lui_button warning" [disabled]="inProcess" *ngIf="!existCoupons">{{'Použít' | translate}}</button>
                    <button type="submit" class="lui_button warning" [disabled]="inProcess" *ngIf="existCoupons">{{'Odstranit' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- ///// -->
  </div>
  <!-- ///// -->
  <div class="basket_prices_box">
    <!--CLASS FOR AUSTRIA-->
    <div class="price" [ngClass]="{secondary: !store.isAustria, primary: store.isAustria}">
      {{'Cena celkem bez DPH' | translate}}
      <span>{{cartObj.priceAmount | number:formatNumber1}} {{cartObj.currency}}</span>
    </div>
    <div class="choice_delivery">
      <a href="javascript:void(0);" (click)="shippingAndDeliveryPopupOpen()">{{'Doprava a platba' | translate}}</a>
    </div>
    <!--HIDE FOR AUSTRIA-->
    <div class="price" [ngClass]="{primary: !store.isAustria, secondary: store.isAustria}" >
      <div *ngIf="!store.isAustria">
        {{'Cena celkem s DPH' | translate}}
        <span>{{cartObj.priceAmountVat | number:formatNumber1}} {{cartObj.currency}}</span>
      </div>
    </div>
    <!--END HIDE FOR AUSTRIA-->
    <div class="free_delivery">
      <span *ngFor="let item of cartObj.shippingAndPaymentLimits">
        {{'Do dopravy' | translate}} <strong>{{'ZDARMA' | translate}}</strong> {{'zbývá' | translate}} <span class="remain">{{item.left | number:formatNumber1}} {{cartObj.currency}}</span>
      </span>
    </div>
  </div>
  <div class="order_actions">
    <a href="javascript:void(0);" (click)="prev()" class="lui_button prev light fa_b_chevron-left mobile_big">{{'Zpět do obchodu' | translate}}</a>
    <a href="javascript:void(0);" (click)="next()" class="lui_button next bold info fa_a_chevron-right mobile_big">{{'Pokračovat' | translate}}</a>
  </div>
</div>

<shipping-and-delivery-popup #sdp [cartObj]="cartObj"></shipping-and-delivery-popup>
