<section class="container" style="padding:0 0 20px;border-bottom:1px solid rgba(255,255,255,0.25);">
    <div class="row" style="margin:0;">
      <nav class="col-xs-12 col-md-7" style="border-right:1px solid rgba(255,255,255,0.25);">
        <div class="row">
          <ul class="col-xs-6 col-md-3" style="padding:0;list-style:none;">
            <h5 style="text-transform:uppercase;letter-spacing:1px;font-weight:bold;">Explore</h5>
            <li><a routerLink="explore/featured">Featured</a></li>
            <li><a routerLink="explore/popular">Popular</a></li>
            <li><a routerLink="explore/categories">Categories</a></li>
            <li><a routerLink="trending/teams">Trending teams</a></li>
            <li><a routerLink="trending/users">Power users</a></li>
            <li><a routerLink="highlights">Highlights</a></li>
          </ul>
          <ul class="col-xs-6 col-md-3" style="padding:0;list-style:none;">
            <h5 style="text-transform:uppercase;letter-spacing:1px;font-weight:bold;">About us</h5>
            <li><a routerLink="about/welcome">An open letter to the internet</a></li>
            <li><a routerLink="about/how-it-works">How it works</a></li>
            <li><a routerLink="about/who-we-are">Who we are</a></li>
            <li><a routerLink="jobs">Jobs</a></li>
            <li><a routerLink="about/press">Press</a></li>
          </ul>
          <ul class="col-xs-6 col-md-3" style="padding:0;list-style:none;">
            <h5 style="text-transform:uppercase;letter-spacing:1px;font-weight:bold;">Help</h5>
            <li><a routerLink="help/faq">FAQ</a></li>
            <li><a href="https://community.heystitch.io">Community</a></li>
            <li><a routerLink="help/support">Support</a></li>
            <li><a routerLink="terms/use">Terms of use</a></li>
            <li><a routerLink="terms/privacy">Privacy policy</a></li>
            <li><a routerLink="terms/cookies">Cookie policy</a></li>
          </ul>
          <ul class="col-xs-6 col-md-3" style="padding:0;list-style:none;">
            <h5 style="text-transform:uppercase;letter-spacing:1px;font-weight:bold;">Keep in touch</h5>
            <li><a href="https://blog.heystitch.io">Blog</a></li>
            <li><a routerLink="newsletters">Newsletters</a></li>
            <li><a routerLink="contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div class="col-xs-12 col-md-5" style="padding:0 0 0 40px;">
        <form [formGroup]="newsletterForm">
          <h3 style="margin-bottom:20px;">Join our newsletter</h3>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="awesome@email.com">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">I want in</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </section>
  <nav>
    
  </nav>