<div class="site_order_content n-space-top n-space-bottom">
    <div class="order_thx_page">
        <h1>Děkujeme za objednávku</h1>
        <p>
            Vážený zákazníku,<br />
            objednávka byla přijata a její kopie zaslána na vaši e-mailovou adresu.
            O jejím aktuálním stavu vás budeme informovat.
        </p>
        <p>
            Pokud máte nějaké dotazy či připomínky, neváhejte nás kontaktovat
            na tel. čísle <strong>220 184 800</strong> nebo na e-mailu <strong>support@mcled.cz</strong>
        </p>
        <p>
            <a [routerLink]="['/']" class="continue lui_button info"><strong>Zpět do obchodu</strong></a>
        </p>
    </div>
</div>
