<!-- POPUP IMAGES -->
<div class="product_detail_img_popup">
    <div class="bgr event_close_img_popup"></div>
    <div class="window">
        <div class="container fluid">
            <div class="row va-top a-center stretch">
                <div class="col-xs-12 col-xl-8 image">
                    <button class="close fa_b_times event_close_img_popup"></button>
                    <button class="prev fa_b_caret-left"></button>
                    <button class="next fa_b_caret-right"></button>
                    <div class="data">
                        <img src="/examples/product_image_full_test_1.jpg" alt="" />
                    </div>
                </div>
                <div class="col-xs-12 col-xl-4 sidebar">
                    <h1 class="title">Lorem ipsum dolor sit amed</h1>
                    <p class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet augue commodo, egestas purus ac, molestie est. Donec eu elit vel ipsum porta congue ut ac ante. Duis fermentum justo turpis. Praesent et nibh libero. Phasellus sem dui, vehicula at felis eget, rhoncus finibus felis.
                    </p>
                    <div class="price_store">
                        <div class="price">
                            <div class="primary"><strong>120</strong> Kč/ks</div>
                            <div class="secondary">99 Kč bez DPH</div>
                        </div>
                        <div class="store positive">
                            Skladem
                        </div>
                    </div>
                    <div class="images">
                        <div class="item active">
                            <img src="/examples/product_image_full_test_1.jpg" data-full-src="/examples/product_image_full_test_1_full.jpg" alt="" />
                        </div>
                        <div class="item">
                            <img src="/examples/product_image_full_test_2.jpg" data-full-src="/examples/product_image_full_test_2_full.jpg" alt="" />
                        </div>
                        <div class="item">
                            <img src="/examples/product_image_full_test_3.jpg" data-full-src="/examples/product_image_full_test_3_full.jpg" alt="" />
                        </div>
                        <div class="item">
                            <img src="/examples/product_image_full_test_4.jpg" data-full-src="/examples/product_image_full_test_4_full.jpg" alt="" />
                        </div>
                        <div class="item">
                            <img src="/examples/product_image_full_test_1.jpg" data-full-src="/examples/product_image_full_test_1_full.jpg" alt="" />
                        </div>
                        <div class="item">
                            <img src="/examples/product_image_full_test_2.jpg" data-full-src="/examples/product_image_full_test_2_full.jpg" alt="" />
                        </div>
                        <div class="item">
                            <img src="/examples/product_image_full_test_3.jpg" data-full-src="/examples/product_image_full_test_3_full.jpg" alt="" />
                        </div>
                        <div class="item">
                            <img src="//placekitten.com/200/200" data-full-src="//placekitten.com/800/800" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
