<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">LED Produkty</h1>
    <div class="shop_categories_router">

        <div class="item">
            <a [routerLink]="['/led-svetelne-zdroje']" class="inside">
                <img src="/images/category/led-svetelne-zdroje.jpg" alt="LED světelné zdroje"/>
                <h2>Světelné zdroje</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla']" class="inside">
                <img src="/images/category/led-interierova-svitidla.jpg" alt="LED interiérová svítidla" />
                <h2>Interiérová</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla']" class="inside">
                <img src="/images/category/led-prumyslova-svitidla.jpg" alt="LED průmyslová svítidla" />
                <h2>Průmyslová</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-nouzove-osvetleni']" class="inside">
                <img src="/images/category/led-nouzove-osvetleni.jpg" alt="LED nouzové osvětlení" />
                <h2>Nouzové osvětlení</h2>
            </a>
        </div>

<!-- skryté kategorie pro 2.fázi
        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <img src="http://placekitten.com/440/440" alt="" />
                <h2>Lorem ipsum</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <img src="http://placekitten.com/440/440" alt="" />
                <h2>Lorem ipsum</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <img src="http://placekitten.com/440/440" alt="" />
                <h2>Lorem ipsum</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <img src="http://placekitten.com/440/440" alt="" />
                <h2>Lorem ipsum</h2>
            </a>
        </div>
-->

    </div>
</div>
