<div class="site_subpage_content n-space-top n-space-bottom">
  <h1 class="page_title">Novinky</h1>
  <div class="articles_list">
    <h2 class="title">Nové produkty</h2>
    <div class="new_products_category_list">
      <div class="shop_categories_router">

        <div class="item">
            <a [routerLink]="['/led-svetelne-zdroje']" class="inside">
                <img src="/images/category/led-svetelne-zdroje.jpg" alt="LED světelné zdroje"/>
                <h2>Světelné zdroje</h2>
          </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla']" class="inside">
                <img src="/images/category/led-interierova-svitidla.jpg" alt="LED interiérová svítidla" />
                <h2>Interiérová </h2>
          </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla']" class="inside">
                <img src="/images/category/led-prumyslova-svitidla.jpg" alt="LED průmyslová svítidla" />
                <h2>Průmyslová</h2>
            </a>
        </div>


        <div class="item">
            <a [routerLink]="['/led-nouzove-osvetleni']" class="inside">
                <img src="/images/category/led-nouzove-osvetleni.jpg" alt="LED nouzové osvětlení" />
                <h2>Nouzové osvětlení</h2>
          </a>
        </div>

<!-- skryté kategorie pro 2.fázi
        <div class="item">
          <a [routerLink]="['/led-kapsle']" class="inside">
            <img src="/images/category/svetelne-zdroje-kapsle.jpg" alt="LED kapsle"/>
            <h2>LED kapsle</h2>
          </a>
        </div>

        <div class="item">
          <a [routerLink]="['/led-globe']" class="inside">
            <img src="/images/category/svetelne-zdroje-globe.jpg" alt="LED globe"/>
            <h2>LED globe</h2>
          </a>
        </div>

        <div class="item">
          <a [routerLink]="['/led-reflektory']" class="inside">
            <img src="/images/category/svetelne-zdroje-reflektory.jpg" alt="LED reflektory"/>
            <h2>LED reflektory</h2>
          </a>
        </div>

        <div class="item">
          <a [routerLink]="['/led-trubice']" class="inside">
            <img src="/images/category/svetelne-zdroje-trubice.jpg" alt="LED trubice"/>
            <h2>LED trubice</h2>
          </a>
        </div>
-->

      </div>
    </div>
  </div>
  <hr/>
