<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">LED světelné zdroje</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-zarovky']" class="inside">
                <img src="/images/category/svetelne-zdroje-zarovky.jpg" alt="LED žárovky"/>
                <h2>LED žárovky</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-spoty']" class="inside">
                <img src="/images/category/svetelne-zdroje-spoty.jpg" alt="LED Spoty" />
                <h2>LED spoty</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-svicky']" class="inside">
                <img src="/images/category/svetelne-zdroje-svicky.jpg" alt="LED svíčky" />
                <h2>LED svíčky</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-kapky']" class="inside">
                <img src="/images/category/svetelne-zdroje-kapky.jpg" alt="LED kapky" />
                <h2>LED kapky</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-kapsle']" class="inside">
                <img src="/images/category/svetelne-zdroje-kapsle.jpg" alt="LED kapsle" />
                <h2>LED kapsle</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-globe']" class="inside">
                <img src="/images/category/svetelne-zdroje-globe.jpg" alt="LED globe" />
                <h2>LED globe</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-reflektory']" class="inside">
                <img src="/images/category/svetelne-zdroje-reflektory.jpg" alt="LED reflektory" />
                <h2>LED reflektory</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-trubice']" class="inside">
                <img src="/images/category/svetelne-zdroje-trubice.jpg" alt="LED trubice" />
                <h2>LED trubice</h2>
            </a>
        </div>
    </div>
</div>
