<!-- FOOTER -->
<div class="site_footer">
    <div class="container">
        <div class="row stretch">
            <div class="col-xs-12 col-lg-3 examples">
                <div class="inside">
                    <a [routerLink]="['/led-produkty']">
                        Sitemap
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-lg-9 navigation">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <h3>Jak nakupovat</h3>
                        <ul>
                            <li>
                                <a [routerLink]="['/vyber-zbozi']">výběr zboží</a>
                            </li>
                            <li>
                                <a [routerLink]="['/doprava']">doprava</a>
                            </li>
                            <li>
                                <a [routerLink]="['/platba']">platba</a>
                            </li>

                            <li>
                                <a [routerLink]="['/reklamace']">reklamace</a>
                            </li>
                            <li>
                                <a  [routerLink]="['/obchodni-podminky']">obchodní podmínky</a>
                            </li>
                            <li>
                                <a [routerLink]="['/pomoc-s-nakupem']">pomoc s nákupem</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <h3>Ke stažení</h3>
                        <ul>
                            <!--<li>
                                <a [routerLink]="['/elumdata']">Elumdata</a>
                            </li>-->
                            <li>
                                <a [routerLink]="['/led-pasky']">LED pásky</a>
                            </li>
                            <li>
                                <a [routerLink]="['/led-zarovky']">LED žárovky</a>
                            </li>
                          <li>
                            <a [routerLink]="['/download']" fragment="test">Test</a>
                          </li>
<!--                            <li>
                                <a [routerLink]="['/prumyslove-reflektory']">Průmyslové reflektory</a>
                            </li>
                            <li>
                                <a [routerLink]="['/klasicke-reflektory']">Klasické reflektory</a>
                            </li>
                            <li>
                                <a [routerLink]="['/downlighty']">Downlighty</a>
                            </li>
                            <li>
                                <a [routerLink]="['/nastenne-a-stropni-osvetleni']">Nástěnné a stropní osvětlení</a>
                            </li>
                            <li>
                                <a [routerLink]="['/poulicni-osvetleni-shark']">Pouliční osvětlení Shark</a>
                            </li>-->
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <h3>Tématické články</h3>
                        <ul>
                            <li>
                                <a [routerLink]="['/tema-led-zarovky']">LED žárovky</a>
                            </li>
                            <li>
                                <a [routerLink]="['/tema-led-pasky']">LED pásky</a>
                            </li>
                            <li>
                                <a [routerLink]="['/tema-led-profily']">LED profily</a>
                            </li>
                            <li>
                                <a [routerLink]="['/tema-led-reflektory']">LED reflektory</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <h3>O společnosti</h3>
                        <ul>
                            <li>
                                <a [routerLink]="['/novinky']">Novinky</a>
                            </li>
                            <li>
                                <a [routerLink]="['/o-nas']">O nás</a>
                            </li>
                            <li>
                                <a [routerLink]="['/reference']">Reference</a>
                            </li>
                            <li>
                                <a [routerLink]="['/kontakt']">Kontakt</a>
                            </li>
                        </ul>
                        <div class="social">
                            <a href="https://www.facebook.com/pages/McLED/245685692249455" class="facebook fa_b_facebook-square">

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
