<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">{{'Zapomenuté heslo' | translate}}</h1>
    <div class="container fluid nospace">
        <form action="" class="lui_form">
            <div class="item row va-middle">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    <label class="label">{{'Váš e-mail:' | translate}}</label>
                </div>
                <div class="col-xs-12 col-lg-5">
                    <div class="input">
                        <input type="text" name="lostpassword" />
                    </div>
                </div>
            </div>
            <div class="item row va-middle">
                <div class="col-xs-12 col-lg-9 ml-lg-3">
                    <button type="submit" class="lui_button warning">{{'Odeslat' | translate}}</button>
                    <a [routerLink]="['/login']" class="forget_pwd">{{'Zpět na přihlášení' | translate}}</a>
                </div>
            </div>
        </form>
    </div>
</div>
