<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Registrace</h1>
    <div class="ui_message confirm">
        <header>
            <h2>Vaše registrace proběhla úspěšně</h2>
        </header>
        Přihlašovací údaje Vám byly zaslány na zadaný e-mail
    </div>
    <br />
    <div class="ui_message error">
        <header>
            <h2>chyba</h2>
        </header>
        text
    </div>
    <div class="ui_message error minimal">
        <header>
            <h2>chyba</h2>
        </header>
    </div>
    <div class="ui_message warning">
        <header>
            <h2>varování</h2>
        </header>
        text
    </div>
    <div class="ui_message warning minimal">
        <header>
            <h2>chyba</h2>
        </header>
    </div>
    <div class="ui_message info">
        <header>
            <h2>info</h2>
        </header>
        text
    </div>
    <div class="ui_message info minimal">
        <header>
            <h2>chyba</h2>
        </header>
    </div>
</div>