<div class="site_homepage">
    <div class="row">
        <div class="col-12">
            <h2 class="articles_title"><span>Aktuální články</span></h2>
        </div>
    </div>
    <br />
    <div class="row stretch">
	
        <div class="col-xs-12 col-md-6 col-xl-3 article_item">
            <h3>
                <a [routerLink]="['/novinky']" fragment="novinka4">Nový web McLED</a>
            </h3>
            <p>
               Vážení obchodní partneři, právě jsme spustili nový web McLED! 
                <a [routerLink]="['/novinky']" fragment="novinka4" class="more fa_a_angle-double-right ">
                    Více
                </a>
            </p>
        </div>
		
        <div class="col-xs-12 col-md-6 col-xl-3 article_item">
            <h3>
                <a [routerLink]="['/novinky']" fragment="novinka3">Nouzové osvětlení Cala E</a>
            </h3>
            <p>
                Nová řada nouzových LED svítidel Cala E vychází z velmi oblíbeného designu našich LED svítidel Cala. Nouzová svítidla Cala E jsou vybavena integrovaným akumulátorem, který umožňuje v případě plného nabití při výpadku proudu až 1,5 hodiny provozu.
                <a [routerLink]="['/novinky']" fragment="novinka3" class="more fa_a_angle-double-right ">
                    Více
                </a>
            </p>
        </div>
		
        <div class="col-xs-12 col-md-6 col-xl-3 article_item">
            <h3>
                <a [routerLink]="['/novinky']" fragment="novinka2">LED reflektor Flash s akumulátorem</a>
            </h3>
            <p>
                Naši nabídku LED reflektorů rozšířil nový kousek – LED reflektor Flash 10 vybavený akumulátorem. Tento nový produkt je navíc velmi kompaktních rozměrů, doplněný praktickým madlem a podstavcem.
                <a [routerLink]="['/novinky']" fragment="novinka2" class="more fa_a_angle-double-right ">
                    Více
                </a>
            </p>
        </div>
		
        <div class="col-xs-12 col-md-6 col-xl-3 article_item">
            <h3>
                <a [routerLink]="['/novinky']" fragment="novinka1">LED reflektor Flash s akumulátorem</a>
            </h3>
            <p>
                V reakci na přísné požadavky norem, které v kancelářských prostorách připouští pouze velmi nízký index oslnění,
			jsme vyvinuli novou verzi nejpoužívanějšího kancelářské LED svítidla řady Office, která nese označení „UGR<19“.
                <a [routerLink]="['/novinky']" fragment="novinka1" class="more fa_a_angle-double-right ">
                    Více
                </a>
            </p>
        </div>
		
    </div>
</div>
