<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">LED pásky a moduly</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-pasky']" class="inside">
                <img src="/images/category/pasky-led-pasky.jpg" alt="LED pásky"/>
                <h2>LED pásky</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-pasky-sady']" class="inside">
                <img src="/images/category/pasky-sady.jpg" alt="Sady LED pásků" />
                <h2>LED pásky sady</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-pasky-flexibini-pasky']" class="inside">
                <img src="/images/category/pasky-flexibilni.jpg" alt="Flexibilní LED pásky" />
                <h2>Flexibilní pásky</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-pasky-led-moduly']" class="inside">
                <img src="/images/category/pasky-moduly.jpg" alt="Moduly pro LED pásky" />
                <h2>LED moduly</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-pasky-zdroje']" class="inside">
                <img src="/images/category/pasky-zdroje.jpg" alt="Zdroje pro LED pásky" />
                <h2>Zdroje</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-pasky-ovladani']" class="inside">
                <img src="/images/category/pasky-ovladani.jpg" alt="Ovládání LED pásků" />
                <h2>Ovládání</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-pasky-prislusenstvi']" class="inside">
                <img src="/images/category/pasky-prislusenstvi.jpg" alt="Příslušenství LED pásků" />
                <h2>Příslušenství</h2>
            </a>
        </div>
    </div>
</div>
