<div class="site_subpage_content n-space-bottom">
    <hr />
    <div class="container fluid nospace">
        <div class="row">
		
            <div class="col-xs-12 col-md-7 col-xl-9">	
			
                <div class="downloads_list">				
					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756510" class="download fa_a_download" alt="LEDtube T8" name="LEDtube" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            LED Leuchtmittel <small>(.pdf)</small>
                        </h2>
                    </div>
                </div>
			</div>
			
			<div class="col-xs-12 col-md-12 col-xl-12">
<p>LED žárovky představují v současnosti <strong>nejúspornější technologii osvětlení</strong> na trhu. V našem sortimentu naleznete velmi širokou nabídku těchto úsporných LED světelných zdrojů.</p>

<p>Můžete pohodlně vybírat <strong>z více než 90 různých LED žárovek a LED trubic</strong> se všemi běžně používanými paticemi (E14, E27, GU10, MR16, G4, G9, G13…), které Vám nabízíme v mnoha výkonech, s různými vyzařovacími úhly a v různých teplotách barev (teple bílá, neutrální bílá i studená bílá). </p>

<p>V našich <strong>LED žárovkách McLED<sup>®</sup></strong> používáme výhradně kvalitní komponenty předních světových výrobců. Na vývoji každého LED světelného zdroje se podepsaly naše dlouholeté zkušenosti, díky kterým se nám podařilo dosáhnout stabilního světelného výkonu, dlouhé životnosti a vysoké kvality za dostupnou cenu.</p>


            </div>
			
		<!-- pravá část - rozdělení na dvě části obrazovku
			<div class="col-xs-12 col-md-7 col-xl-9">

            <div class="col-xs-12 col-md-5 col-xl-3">
			

                <div class="product_action_sidebox nospace-left">
                    <div class="texts">
                        <h3 class="title">Akce</h3>
                        <p>
                            LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                        </p>
                        <div class="price_buy">
                            <a [routerLink]="['/']" class="buy"></a>
                            <div class="prices">
                                <div class="old">4 999 Kč</div>
                                <div class="primary">3 999 Kč</div>
                                <div class="secondary">4 499 Kč bez DPH</div>
                            </div>
                        </div>
                    </div>
                    <a class="image">
                        <img src="/images/example/121.255.10_0_L.jpg" alt="" />
                    </a>
                </div>
		
		
            </div>
		-->
        </div>
    </div>
</div>
