<div class="site_subpage_content n-space-top n-space-bottom">
  <h1 class="page_title">Kontakty</h1>
  <div class="container fluid nospace contact_page">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-xl-6">
        <h2>McLED asist</h2>
        <br>
        <p style="padding-right: 20px;">
          <strong>tel.:</strong> +420 220 184 886 <br>
          <strong>tel.:</strong> +420 220 184 827 <br>
          <strong>e-mail:</strong>
          <a href="mailto:support@mcled.cz"> support@mcled.cz</a>
        </p>
        <br>
        <h2>Výdejní místo a sídlo firmy</h2>
        <br>
        <p>McLED s.r.o.</p>
        <p style="line-height:17px;">Vídeňská 185 <br>
          252 42 Jesenice</p>
        <br>
        <p style="line-height:17px;"><strong>Po - Čt</strong> 8:00 - 16:00
          <br>
          <strong>Pá</strong><span style="margin-left:28px;"> 8:00 - 13:30</span></p>
        <br>
        <p style="line-height:17px;"><strong>tel.:</strong> + 420 220 184 800
          <br>
          <strong>fax:</strong> + 420 244 910 700
          <br>
          <strong>e-mail:</strong> <a href="mailto:office@mcled.cz">office@mcled.cz</a></p>
        <br>
        <p style="line-height:17px;"><strong>IČ:</strong> 045 77 817
          <br>
          <strong>DIČ:</strong> CZ 045 77 817</p>
        <br>
      </div>
      <div class="col-xs-12 col-md-6 col-xl-6">
        <a href="http://www.mapy.cz/#!x=14.497641&amp;y=49.981952&amp;z=15&amp;d=firm_146161_1&amp;t=s"
           onclick="window.open(this.href); return false">
          <img src="/images/mcled_mapa.jpg" alt="Schmachtl mapa sídlo" title="Schmachtl mapa sídlo">
        </a>
      </div>
	  
<strong>Podle zákona o evidenci tržeb je prodávající povinen vystavit kupujícímu účtenku. Zároveň je povinen zaevidovat přijatou tržbu u správce daně online; v případě technického výpadku pak nejpozději do 48 hodin.
</strong>

    </div>
  </div>
</div>
