<div class="site_homepage">
    <div class="homepage_slideshow">
        <div class="slides" id="hp_slideshow" slides>

            <div class="item" data-title="Slide 1">
                <div class="image" style="background:url(/files/1761225.jpg) left top no-repeat;background-size:cover"></div>
                <div class="texts">
                    <h2>LED Nouzová osvětlení</h2>
                    <p>Nová řada nouzových osvětlení Cala E</p>
                    <a [routerLink]="['/']">Zobrazit nabídku</a>
                </div>
            </div>

            <div class="item active" data-title="Slide 2">
                <div class="image" style="background:url(/files/1761191.jpg) left top no-repeat;background-size:cover"></div>
                <div class="texts">
                    <h2>MOLD</h2>
                    <p>Oblíbené produkty řady MOLD</p>
                    <a [routerLink]="['/led-interierova-svitidla-prisazena-mold']">Zobrazit nabídku</a>
                </div>
            </div>

            <div class="item active" data-title="Slide 3">
                <div class="image" style="background:url(/files/1762162.jpg) left top no-repeat;background-size:cover"></div>
                <div class="texts">
                    <h2>Flash 10</h2>
                    <a [routerLink]="['/led-prumyslova-svitidla-flash']">Zobrazit produkt</a>
                </div>
            </div>

            <div class="item active" data-title="Slide 4">
                <div class="image" style="background:url(/files/1761190.jpg) left top no-repeat;background-size:cover"></div>
                <div class="texts">
                    <h2>Velký text</h2>
                    <p>Krátký text</p>
                    <p>Krátký text</p>
                    <a [routerLink]="['/']">Odkaz</a>
                </div>
            </div>

        </div>
    </div>
    <br />
</div>

<!--<div style="height: 400px;" [ngClass]="{hide: isLoaded}">
  <img style="width: 50px; height: 50px; position: relative; left: 50%; top: 50%;" src="/images/loader.gif" />
</div>-->
