<div class="site_subpage_content n-space-top">
<h1 class="page_title">LED Žárovky</h1>

<p>Představujeme Vám nejširší výběr úsporných LED žárovek s paticí E27. Žárovky s touto paticí představují v současné době jeden z nejpoužívanějších světelných zdrojů. Nalezneme je v nejrůznějších svítidlech v kuchyních, obývacích pokojích, ložnicích, na chodbách, v koupelnách, v obchodech, restauracích, hotelech apod. </p>

<p>Vybírat můžete ze široké nabídky výkonů (náhrady klasických žárovek o příkonech 25 až 110 W), různých teplot barvy světla (teple bílá / neutrální bílá / studeně bílá) a různých provedení – od cenově nejpříznivějších LED žárovek s plastovým pouzdrem, přes nejefektivnější skleněné LED žárovky až po nejvýkonnější LED žárovky s robustním hliníkovým chladičem. </p>

</div>
