<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Jak vybrat LED pásek</h1>
    <div class="container fluid">
        <div class="row">
                <h2>LED pásky</h2>
                <br>
                <p>Nákup LED pásků je trochu složitější a proto Vám s ním ráda pomůže naše služba McLED asist, kterou naleznete u daného konkrétního LED pásku. Můžete ji kontaktovat na telefonním čísle
                    <br><strong> +420 244 001 586</strong> nebo e-mailu <strong><a href="mailto:support@mcled.cz"> support@mcled.cz</a></strong>.</p>

                <p>LED pásky nabízíme zpravidla v balení po 5 metrech (minimální objednací množství).  Některé druhy máme v rolích 30 či 50 metrů a z těchto rolí Vám můžeme ustřihnout požadovanou míru. V e-shopu u LED pásku toto poznáte podle toho, že v řádku „prodej po“ nebude napsáno 5m, ale hodnota nižší (0,025; 0,05; 0,1 m). Za ustřižení požadované délky si účtujeme poplatek 100 Kč bez DPH a proto Vás před vyřízením objednávky kontaktujeme a poplatek si od Vás necháme odsouhlasit. </p>

                <strong>U LED pásků jsou 3 nejdůležitější faktory výběru:</strong>
                <ul>
                    <li>umístění (ochrana krytí IP) – vnitřní, vlhké prostředí, exteriér</li>
                    <li>svítivost (světelný tok v lumenech) – slabá, střední, vysoká, extra vysoká</li>
                    <li>barva – studeně bílá, teple bílá, červená, žlutá, modrá, zelená, RGB</li>
                </ul>

                <p><strong>Umístěním LED pásku</strong>
                    <br> si volím, jak vysoký stupeň ochrany krytí IP má LED pásek mít. Když budete chtít LED pásek umístit ve skříni, za televizi, okolo skříněk nebo tam, kde pásek nepřijde ke styku s vodou vyberte „Umístění – Interiér“ neboli LED pásek s krytím IP 20. Pro prostory, kde LED pásek může přijít do kontaktu se stříkající vodou (např. koupelna či kuchyň),  vyberte „Umístění – Vlhké prostředí“ neboli LED pásek s krytím IP 54. Tam, kde by LED pásek mohl být po dobu několika hodin ponořen ve vodě, je třeba vybrat „Umístění – Exteriér“ neboli stupeň ochrany krytí IP 68. Umístění LED pásků doporučujeme na teplovodivý a nehořlavý povrch.
                </p>

                <p><strong>Svítivostí</strong>
                    <br>LED pásku si volíte, do jaké míry Vám má LED pásek prostor osvětlovat. Když potřebujete pouze dekorativní osvětlení, vyberte „Svítivost – Slabá.“ Pokud potřebujete osvětlit například oblečení v šatní skříni, vyberte „Svítivost – Střední“. Pro pracovní plochy (např. kuchyňská linka) je dobré zvolit „Svítivost – Vysoká“. „Svítivost – Extra vysoká“ je vhodná pro místa, kde je LED pásek umístěn dále od pracovní plochy nebo požadujete plochu více osvítit. Upozorňujeme, že LED pásky jsou prvotně určené k dekorativnímu osvětlení a člověk by pod nimi neměl trávit většinu dne. </p>

                <p><strong>Barva</strong>
                    <br>neboli jakou barvou LED pásek svítí, je možné zvolit ze 7 možností - studeně bílá, teple bílá, červená, žlutá, modrá, zelená, RGB. Barva studeně bílá je podobná světlu ze zářivek, barva teple bílá světlu z klasických vláknových žárovek. Do domácnosti se proto doporučuje použití barvy teple bílé (lidské oko je na ní více zvyklé). Barva světla studeně bílá se zpravidla využívá k osvětlení vitrín či v obchodech.  Barva RGB značí, že si s pomocí ovládání (sekce Ovládání) můžete vybrat, jakou barvou bude LED pásek svítit. Dále si můžete vybrat barvu modrou, žlutou, červenou či zelenou.</p>

                <p>Když mám LED pásek vybraný a potřebuji kratší délku, jednoduše pásek ustřihnu na vyznačeném místě i pomocí klasických nůžek na papír. LED pásky se dají po určitých úsecích stříhat. Po jak velkých je uvedeno u každého LED pásku v parametru „Délka jednotlivých úseků“. Většinou se dají stříhat po 10; 5; 2,5 cm. </p>

                <p>K LED páskům s krytím IP20 nabízíme tyto služby: </p>
                <ol>
                    <li>napájení Vámi určené délky vodiče pro připojení napájecího zdroje dál od pásku za 250 Kč bez DPH + 10 Kč bez DPH za 1 m vodiče</li>
                    <li>napájení konektoru ML-112.005.90.0 pro jednoduché připojení LED pásku k plastovému napájecímu zdroji za 250 Kč bez DPH + 26,50 Kč bez DPH za konektor</li>
                    <li>napájení konektoru i určené délky vodiče pro připojení napájecího zdroje dál od pásku a zároveň k připojení plastového napájecího zdroje za 300 Kč bez DPH + 10 Kč bez DPH za 1 metr vodiče + 26,50 Kč bez DPH za konektor</li>
                </ol>
                <br>
                <p><a [routerLink]="['/led-pasky']"><strong>Výběr LED pásků</strong></a></p>
        </div>
    </div>
</div>
