<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">LED Interiérová svítidla</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-zavesna']" class="inside">
                <img src="/images/category/interierova-svitidla-zavesna-svitidla.jpg" alt="LED závěsná interiérová svítidla"/>
                <h2>Závěsná</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-prisazena']" class="inside">
                <img src="/images/category/interierova-svitidla-prisazena-svitidla.jpg" alt="LED přisazená interiérová svítidla" />
                <h2>Přisazená</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-downlights']" class="inside">
                <img src="/images/category/interierova-svitidla-downlights.jpg" alt="LED interiérová svítidla downlights" />
                <h2>Downlights</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-led-panely']" class="inside">
                <img src="/images/category/interierova-svitidla-led-panely.jpg" alt="LED interiérová svítidla LED panely" />
                <h2>LED panely</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-podhledova']" class="inside">
                <img src="/images/category/interierova-svitidla-podhledova.jpg" alt="LED podhledová interiérová svítidla" />
                <h2>Podhledová</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-listove-systemy']" class="inside">
                <img src="/images/category/interierova-svitidla-listove-systemy.jpg" alt="LED listové systémy pro interiérová svítidla" />
                <h2>Lištové systémy</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-dekorativni']" class="inside">
                <img src="/images/category/interierova-svitidla-dekorativni-svitidla.jpg" alt="LED dekorativní interiérová svítidla" />
                <h2>Dekorativní</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-nastenna']" class="inside">
                <img src="/images/category/interierova-svitidla-nastenna-svitidla.jpg" alt="LED nástěnná interiérová svítidla" />
                <h2>Nástěnná</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-senzorova']" class="inside">
                <img src="/images/category/interierova-svitidla-senzorova-svitidla.jpg" alt="LED senzorová interiérová svítidla" />
                <h2>Senzorová</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-prislusenstvi']" class="inside">
                <img src="/images/category/interierova-svitidla-prislusenstvi.jpg" alt="LED příslušenství pro interiérová svítidla" />
                <h2>Příslušenství</h2>
            </a>
        </div>
    </div>
</div>
