<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Sloupky</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-boutique']" class="inside">
                <img src="/images/category/venkovni-svitidla-boutique.jpg" alt="Venkovní svítidla Boutique"/>
                <h2>Boutique</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-gateway']" class="inside">
                <img src="/images/category/venkovni-svitidla-gateway.jpg" alt="Venkovní svítidla Gateway"/>
                <h2>Gateway</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-court']" class="inside">
                <img src="/images/category/venkovni-svitidla-court.jpg" alt="Venkovní svítidla Court"/>
                <h2>Court</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-stake-r']" class="inside">
                <img src="/images/category/venkovni-svitidla-stake-r.jpg" alt="Venkovní svítidla Stake R"/>
                <h2>Stake R</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-stake-f']" class="inside">
                <img src="/images/category/venkovni-svitidla-stake-f.jpg" alt="Venkovní svítidla Stake F"/>
                <h2>Stake F</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-lucerna-p']" class="inside">
                <img src="/images/category/venkovni-svitidla-lucerna-p.jpg" alt="Venkovní svítidla Lucerna P"/>
                <h2>Lucerna P</h2>
            </a>
        </div>
    </div>
</div>
