<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">LED venkovní svítidla</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-reflektory']" class="inside">
                <img src="/images/category/venkovni-svitidla-reflektory.jpg" alt="Venkovní svítidla reflektory" />
                <h2>Reflektory</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-podzemni']" class="inside">
                <img src="/images/category/venkovni-svitidla-podzemni.jpg" alt="Venkovní svítidla podzemní" />
                <h2>Podzemní svítidla</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-sloupky']" class="inside">
                <img src="/images/category/venkovni-svitidla-sloupky.jpg" alt="Venkovní svítidla sloupky" />
                <h2>Sloupky</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-fasadni']" class="inside">
                <img src="/images/category/venkovni-svitidla-fasadni.jpg" alt="Venkovní svítidla fasádní" />
                <h2>Fasádní svítidla</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-vestavna']" class="inside">
                <img src="/images/category/venkovni-svitidla-vestavna.jpg" alt="Venkovní svítidla vestavná" />
                <h2>Vestavná svítidla</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-prisazena']" class="inside">
                <img src="/images/category/venkovni-svitidla-prisazena.jpg" alt="Venkovní svítidla přisazená" />
                <h2>Přisazená svítidla</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-prislusenstvi']" class="inside">
                <img src="/images/category/venkovni-svitidla-prislusenstvi.jpg" alt="Venkovní svítidla příslušenství" />
                <h2>Příslušenství</h2>
            </a>
        </div>
    </div>
</div>
