<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Linear LED light</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/nabytkove-a-regalove-osvetleni-linear-led-light-linear-light']" class="inside">
                <img src="/images/category/nabytkove-a-regalove-osvetleni-linear-led-lights.jpg" alt="Nábytkové a regálové osvětlení Linear light"/>
                <h2>Linear light</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/nabytkove-a-regalove-osvetleni-linear-led-light-ovladaci-prvky']" class="inside">
                <img src="/images/category/nabytkove-a-regalove-osvetleni-linear-led-lights.jpg" alt="Nábytkové a regálové osvětlení Linear light - Ovládací prvky"/>
                <h2>Ovládací prvky</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/nabytkove-a-regalove-osvetleni-linear-led-light-propojovaci-prvky']" class="inside">
                <img src="/images/category/nabytkove-a-regalove-osvetleni-linear-led-lights.jpg" alt="Nábytkové a regálové osvětlení Linear light - Propojovací prvky"/>
                <h2>Propojovací prvky</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/nabytkove-a-regalove-osvetleni-linear-led-light-napajeci-zdroje']" class="inside">
                <img src="/images/category/nabytkove-a-regalove-osvetleni-linear-led-lights.jpg" alt="Nábytkové a regálové osvětlení Linear light - Napájecí zdroje"/>
                <h2>Napájecí zdroje</h2>
            </a>
        </div>
    </div>
</div>
