<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Výběr zboží</h1>
    <div class="container fluid">
        <div class="row">

            <h2>LED žárovky</h2>

            <p>Nákup LED žárovek je jednoduchý. Nejdůležitější je vybrat si správnou patici, jak „silně“ má žárovka svítit a teplotu bílé barvy (teple nebo studeně bílá).  </p>

            <p>Patice označuje závit neboli konec žárovky, který se zašroubovává či zasouvá do svítidla. Na původní žárovce by měl být název patice uveden (E27, E14, GU 5,3, GU10) nebo podle obrázku na našem webu potřebnou patici naleznete.   </p>

            <p><strong>Jak „silně“ původní žárovka svítila</strong> by mělo být na ní uvedeno (40 W, 60W, 100W,...). Do parametru „Náhrada za“ si vyberete výkon původní žárovky a my Vám nabídneme LED žárovku s mnohem nižším příkonem ( nižší spotřebou energie), ale se stejnou svítivostí.</p>

            <p><strong>Teplotu bílé barvy</strong> (jakou barvou bude žárovka svítit) si můžete zvolit ze dvou možností – teple bílá nebo bílá. Zpravidla máte doma barvu světla teple bílou. Je to barva trochu do žluta a  pro Vaše oko přirozenější. Proto, když si vybíráte žárovku do obývacího pokoje, dětských pokojů, chodby a jiných místností v domě či bytě, bude lepší zvolit si barvu světla teple bílou. Barva bílá je barva, jakou například svítí zářivky (např. v kancelářích). Proto bychom tuto barvu světla doporučovali spíše do kanceláře nebo do prostor, kde si tuto barvu přejete.  </p>
            <br>

            <h2>LED pásky a ostatní související produkty</h2>

            <h2>LED pásky</h2>
            <br>
            <p>Nákup LED pásků je trochu složitější a proto Vám s ním ráda pomůže naše služba McLED asist, kterou naleznete u daného konkrétního LED pásku. Můžete ji kontaktovat na telefonním čísle
                <br><strong> +420 244 001 586</strong> nebo e-mailu <strong><a href="mailto:support@mcled.cz"> support@mcled.cz</a></strong>.</p>

            <p>LED pásky nabízíme zpravidla v balení po 5 metrech (minimální objednací množství).  Některé druhy máme v rolích 30 či 50 metrů a z těchto rolí Vám můžeme ustřihnout požadovanou míru. V e-shopu u LED pásku toto poznáte podle toho, že v řádku „prodej po“ nebude napsáno 5m, ale hodnota nižší (0,025; 0,05; 0,1 m). Za ustřižení požadované délky si účtujeme poplatek 100 Kč bez DPH a proto Vás před vyřízením objednávky kontaktujeme a poplatek si od Vás necháme odsouhlasit. </p>

            <p><strong>U LED pásků jsou 3 nejdůležitější faktory výběru:</strong>
            </p><ul>
            <li>umístění (ochrana krytí IP) – vnitřní, vlhké prostředí, exteriér</li>
            <li>svítivost (světelný tok v lumenech) – slabá, střední, vysoká, extra vysoká</li>
            <li>barva – studeně bílá, teple bílá, červená, žlutá, modrá, zelená, RGB</li>
        </ul><p></p>

            <p><strong>Umístěním LED pásku</strong> si volím, jak vysoký stupeň ochrany krytí IP má LED pásek mít. Když budete chtít LED pásek umístit ve skříni, za televizi, okolo skříněk nebo tam, kde pásek nepřijde ke styku s vodou vyberte „Umístění – Interiér“ neboli LED pásek s krytím IP 20. Pro prostory, kde LED pásek může přijít do kontaktu se stříkající vodou (např. koupelna či kuchyň),  vyberte „Umístění – Vlhké prostředí“ neboli LED pásek s krytím IP 54. Tam, kde by LED pásek mohl být po dobu několika hodin ponořen ve vodě, je třeba vybrat „Umístění – Exteriér“ neboli stupeň ochrany krytí IP 68. Umístění LED pásků doporučujeme na teplovodivý a nehořlavý povrch.
            </p>

            <p><strong>Svítivostí</strong> LED pásku si volíte, do jaké míry Vám má LED pásek prostor osvětlovat. Když potřebujete pouze dekorativní osvětlení, vyberte „Svítivost – Slabá.“ Pokud potřebujete osvětlit například oblečení v šatní skříni, vyberte „Svítivost – Střední“. Pro pracovní plochy (např. kuchyňská linka) je dobré zvolit „Svítivost – Vysoká“. „Svítivost – Extra vysoká“ je vhodná pro místa, kde je LED pásek umístěn dále od pracovní plochy nebo požadujete plochu více osvítit. Upozorňujeme, že LED pásky jsou prvotně určené k dekorativnímu osvětlení a člověk by pod nimi neměl trávit většinu dne.  </p>

            <p><strong>Barva</strong> neboli jakou barvou LED pásek svítí, je možné zvolit ze 7 možností - studeně bílá, teple bílá, červená, žlutá, modrá, zelená, RGB. Barva studeně bílá je podobná světlu ze zářivek, barva teple bílá světlu z klasických vláknových žárovek. Do domácnosti se proto doporučuje použití barvy teple bílé (lidské oko je na ní více zvyklé). Barva světla studeně bílá se zpravidla využívá k osvětlení vitrín či v obchodech.  Barva RGB značí, že si s pomocí ovládání (sekce Ovládání) můžete vybrat, jakou barvou bude LED pásek svítit. Dále si můžete vybrat barvu modrou, žlutou, červenou či zelenou.</p>

            <p>Když mám LED pásek vybraný a potřebuji kratší délku, jednoduše pásek ustřihnu na vyznačeném místě i pomocí klasických nůžek na papír. LED pásky se dají po určitých úsecích stříhat. Po jak velkých je uvedeno u každého LED pásku v parametru „Délka jednotlivých úseků“. Většinou se dají stříhat po 10; 5; 2,5 cm. </p>

            <p>K LED páskům, které jsou určeny do interiéru (mají krytí IP 20), nabízíme tyto služby:</p>
            <ol>
                <li>napájení vámi určené délky vodiče k LED pásku, abyste mohli napájecí zdroj připojit dále od pásku za 250 Kč bez DPH + 10 Kč bez DPH za 1 metr vodiče</li>
                <li>napájení konektoru ML-112.005.10.0 k LED pásku, abyste mohli LED pásek jednoduše připojit k plastovému napájecímu zdroji za 250 Kč bez DPH + 26,50 Kč bez DPH za konektor  </li>
                <li>napájení konektoru i určené délky vodiče k LED pásku, abyste mohli napájecí zdroj připojit dále od pásku a zároveň ho mohli připojit k plastovému napájecímu zdroji za 300 Kč bez DPH + 10 Kč bez DPH za 1 metr vodiče + 26,50 Kč bez DPH za konektor </li>
            </ol>
            <br>


            <h2>Napájecí zdroj</h2>
            <br>
            <p>Aby LED pásek svítil, budete k němu potřebovat napájecí zdroj. Ty najdete v sekci „Napájecí zdroje“ LED pásek je napájen stejnosměrným napětím 12 nebo 24 V (záleží na vybraném LED pásku).  </p>
            <ol>
                Jak správný napájecí zdroj vybrat:
                <li>Znát výkon LED pásku. Potřebujete-li LED pásek o délce 3,5 m, tak si zjistíte u LED pásku v parametru „Výkon svítidla na metr (W)“, jaký výkon LED pásek má na jednom metru  například 4,8 W. Pokud tedy potřebuji délku pásku 3,5m, tak na této délce mám výkon 3,5 x 4,8 = 16,8 W. Proto, aby napájecí zdroj nebyl zcela vytížen a aby byla jeho životnost co nejdelší, je dobré mít napájecí zdroj o 20% silnější. Tedy pokud LED pásek má výkon 16,8 W, tak bude lepší vzít napájecí zdroj o výkonu minimálně 16,8 x 1,2 = 20,16 W.  </li>
                <li>Potřebujete znát, kam chcete napájecí zdroj umístit – interiér nebo exteriér. Pokud budete zdroj umisťovat v místech, kde nepřijde ke styku s vodou vyberte „Umístění – Interiér“. Pokud byste umisťovali napájecí zdroj v místech, kde může přijít do styku s vodou, vyberte „Umístění – Exteriér“.</li>
                <ol>
                    <br>
                    <p>Ke spojení napájecího zdroje a LED pásku je potřeba mít u plastového napájecího zdroje do interiéru nebo napájecího zdroje do exteriéru hrotovou pájku nebo použít propojovací konektor. Plastový napájecí zdroj do interiéru je zakončen konektorem (vidlicí) a je proto třeba k LED pásku připájet konektor (zásuvku) ML-112.005.90.0 nebo jednoduše přicvaknout konektor (zásuvku) ML-112.007.90.0. Poté můžete bez problémů LED pásek zapojit do zdroje a LED pásek rozsvítit. Instalace by měla provádět pouze kvalifikovaná osoba, která splňuje patřičnou vyhlášku. Tato vyhláška platí při zapojování každého svítidla a proto pokud dojde k poškození LED pásku nebo jiného zboží zakoupeného v našem e-shopu neodborným zapojením, záruka na toto zboží propadá.
                    </p>

                    <p>U kovového zdroje určeného do interiéru stačí vodiče od LED pásku přišroubovat do zdroje. Nemusíte nic letovat nebo používat propojovací konektory.</p>

                    <p>Při připojování LED pásku k napájecímu zdroji pro exteriér byste měli použít speciální krabičku se svorkovnicí, která bude spojení proti vodě chránit, pokud bude spoj umístěn, tam, kde může přijít do styku s vodou. Další možností je napájecí zdroj přiletovat k vodičům od LED pásku a speciální smršťovací bužírkou s lepidlem určenou pro exteriér spoj ochránit. </p>

                    <p>Víme, že může být výběr napájecího zdroje složitější, tak neváhejte kontaktovat naší službu
                        <br><strong>McLED asist</strong> na telefonním čísle
                        <strong>+420 244 001 586</strong> nebo emailu:<strong><a href="mailto:support@mcled.cz"> support@mcled.cz</a></strong> .</p>

                    <br>
                    <h2>Hliníkové profily</h2>
                    <br>
                    <p>LED pásek můžete umístit také do hliníkového profilu a vytvořit z něj desinové svítidlo. </p>

                    Nabízíme tyto typy profilů:
                    <ul>
                        <li>vestavný – můžete vyfrézovat drážku například ve skříňkách nad kuchyňskou linkou a do drážky umístit hliníkový profil</li>
                        <li>přisazený – profil pomocí příchytek přichytíte, kam potřebujete (ke skříni, zdi,...) </li>
                        <li>rohový – profil 45° slouží k umístění do pravoúhlých rohů </li>
                        <li>kruhový – profil ve tvaru kruhu můžete zavěsit na lanka ML-741.001.50.0 a vytvoříte tím např. svítidlo nad jídelním stolem </li>
                    </ul>

                    <p>K hliníkovému profilu si můžete zvolil ze 3 typů difuzorů (krytů) – čirý, mléčný, pískovaný. Nejvíce používaný je difuzor mléčný, ale záleží pouze na Vás, co se Vám líbí.</p>

                    <p>Hliníkový profil jsme Vám schopni zkrátit na požadovanou délku. Prosím kontaktujte naší službu
                        <br><strong>McLED asist</strong> na telefonním čísle
                        <strong>+420 244 001 586</strong> nebo emailu:<strong><a href="mailto:support@mcled.cz"> support@mcled.cz</a></strong> , kdy vám připravíme konkrétní nabídku.</p>
                    <br>

                    <h2>Ovládání</h2>
                    <p>Ovládání se používá především pro barevné RBG pásky, kde si pomocí dálkového ovládání nastavujete barvy a různé světelné efekty ( blikání, postupná změna barev ). Pro jednobarevné pásky nabízíme dálková ovládání s funkcí stmívání. V nabídce máme také  speciální LED pásky, které jsou osazeny dvěma druhy čipů – teple a studeně bílými. Pomocí dálkového ovládání si můžete regulovat teplotu barvy od studeně bílé po teple bílou. Při výběru dálkového ovládání si musíte dát pozor na proudové zatížení jednotlivých ovladačů.
                    </p>

                    <p>V případě, že Vámi zvolená sestava bude delší než 5m, doporučujeme konzultaci s naší službou
                        <br><strong> McLED asist</strong> na telefonním čísle  <strong>+420 244 001 586</strong> nebo emailu:<strong><a href="mailto:support@mcled.cz"> support@mcled.cz</a></strong> , kdy Vám připravíme konkrétní nabídku. U dálkových ovladačů ML-113.007.10.0 a ML-113.008.10.0 je nutností siobjednat konektor pro připojení RGB ovladače ML-112.008.10.0.
                    </p>
                    <br>


                    <h2>LED reflektory</h2>

                    <h2>Klasické LED reflektory</h2>
                    <br>
                    <p>Jsou určené jak pro domácnosti, tak i pro komerční účely. Slouží k nasvícení např. prostoru před garáží, fasád, soch, zahrad a jiných objektů. Některé jsou přenosné a proto si můžete nasvítit to, co  právě potřebujete.</p>

                    <p>Základem je si vybrat výkon LED reflektoru v parametru „Výkon“, kde uvádíme, jaký výkon halogenového reflektoru nahrazuje LED reflektor. Druhým parametrem je „Barva světla“, kde si můžete zvolit ze 3 možností – studeně bílá, teple bílá, bílá. Nejpoužívanější barva světla je studeně bílá (barva zářivky) a teple bílá (barva klasické vláknové žárovky). K osvětlení např. terasy je lepší zvolit teple bílou barvu světla, protože lidské oko je na ni více zvyklé. </p>
                    <br>
                    <h2>Průmyslové LED reflektory</h2>
                    <br>
                    <p>U průmyslových reflektorů jsou důležitými parametry výkon a barva světla. Tyto reflektory jsou určeny k osvětlení hal, prodejen, hradů, zámků, kostelů či jiných objektů.   </p>

                    <p>Pro správný nákup průmyslových LED reflektorů kontaktujte naši službu
                        <br><strong>McLED asist</strong> na telefonním čísle<strong> +420 244 001 586</strong> nebo emailu: <a href="mailto:support@mcled.cz"> support@mcled.cz</a>  Připravíme Vám individuální nabídku a také výpočet v programu DIALux (slouží k výpočtu osvětlení haly podle platné legislativy). Tento výpočet nabízíme zdarma.</p>
                </ol></ol>
        </div>
    </div>
</div>