<div class="site_subpage_content n-space-bottom">
    <hr />
    <div class="container fluid nospace">
        <div class="row">
		
	
            <div class="col-xs-12 col-md-7 col-xl-9">	
				<div class="downloads_list">				
					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
					</div>
			
<!-- skrytá část s odkazem na stažení .PDFka	
				<div class="downloads_list">				
					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756513" class="download fa_a_download" alt="LEDtube T8" name="LEDtube" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            LED Scheinwerfer <small>(.pdf)</small>
                        </h2>
					</div>
						
						<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756511" class="download fa_a_download" alt="LEDtube T8" name="LEDtube" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            LED Scheinwerfer - Persea und Gama <small>(.pdf)</small>
                        </h2>
                   </div>
                
-->
				</div> 
			</div>
	
			
			<div class="col-xs-12 col-md-12 col-xl-12">
			
<p>Společnost McLED<sup>®</sup> Vám přináší široký sortiment spolehlivých interiérových LED svítidel, která se vyznačují vysokou kvalitou, precizním zpracováním, pokročilým designem a dlouhou životností.</p>
<p>LED svítidla jsme pro Vás roztřídili do jednotlivých kategorií dle typických způsobů použití. Vybírat tedy můžete mezi svítidly určenými pro montáž do sádrokartonu, dále mezi svítidly určenými k zavěšení, dekorativními svítidly atd. </p>





            </div>
			
		<!-- pravá část - rozdělení na dvě části obrazovku
			<div class="col-xs-12 col-md-7 col-xl-9">

            <div class="col-xs-12 col-md-5 col-xl-3">
			

                <div class="product_action_sidebox nospace-left">
                    <div class="texts">
                        <h3 class="title">Akce</h3>
                        <p>
                            LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                        </p>
                        <div class="price_buy">
                            <a [routerLink]="['/']" class="buy"></a>
                            <div class="prices">
                                <div class="old">4 999 Kč</div>
                                <div class="primary">3 999 Kč</div>
                                <div class="secondary">4 499 Kč bez DPH</div>
                            </div>
                        </div>
                    </div>
                    <a class="image">
                        <img src="/images/example/121.255.10_0_L.jpg" alt="" />
                    </a>
                </div>
		
		
            </div>
		-->
        </div>
    </div>
</div>
