<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Reflektory</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-troll']" class="inside">
                <img src="/images/category/venkovni-svitidla-troll.jpg" alt="LED žárovky"/>
                <h2>Troll</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-orion']" class="inside">
                <img src="/images/category/venkovni-svitidla-orion.jpg" alt="Venkovní svítidla Orion" />
                <h2>Orion</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-gama']" class="inside">
                <img src="/images/category/venkovni-svitidla-gama.jpg" alt="Venkovní svítidla Gama" />
                <h2>Gama</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-ledcannonc']" class="inside">
                <img src="/images/category/venkovni-svitidla-ledcannon-c.jpg" alt="Venkovní svítidla LEDcannonC" />
                <h2>LEDcannonC</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-persea']" class="inside">
                <img src="/images/category/venkovni-svitidla-persea.jpg" alt="Venkovní svítidla Persea" />
                <h2>Persea</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-ledstream']" class="inside">
                <img src="/images/category/venkovni-svitidla-ledstream.jpg" alt="Venkovní svítidla LEDstream" />
                <h2>LEDstream</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-ledstreamc']" class="inside">
                <img src="/images/category/venkovni-svitidla-ledstream-c.jpg" alt="Venkovní svítidla LEDstreamC" />
                <h2>LEDstreamC</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-venkovni-svitidla-ledcannon']" class="inside">
                <img src="/images/category/venkovni-svitidla-ledcannon.jpg" alt="Venkovní svítidla LEDcannon" />
                <h2>LEDcannon</h2>
            </a>
        </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-baton']" class="inside">
          <img src="/images/category/venkovni-svitidla-baton.jpg" alt="Venkovní svítidla Baton" />
          <h2>Baton</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-yard-t']" class="inside">
          <img src="/images/category/venkovni-svitidla-yard-t.jpg" alt="Venkovní svítidla Yard-T" />
          <h2>Yard T</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-yard-p']" class="inside">
          <img src="/images/category/venkovni-svitidla-yard-p.jpg" alt="Venkovní svítidla Yard P" />
          <h2>Yard P</h2>
        </a>
      </div>
    </div>
</div>
