<div class="site_subpage_content n-space-top n-space-bottom">
  <h1 class="page_title">Reference</h1>
  <div class="container fluid nospace reference_page">
    <div class="shop_categories_router">

        <div class="item">
            <a [routerLink]="['/led-svetelne-zdroje']" class="inside">
                <img src="/images/category/led-svetelne-zdroje.jpg" alt="LED světelné zdroje"/>
                <h2>Světelné zdroje</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla']" class="inside">
                <img src="/images/category/led-interierova-svitidla.jpg" alt="LED interiérová svítidla" />
                <h2>Interiérová</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla']" class="inside">
                <img src="/images/category/led-prumyslova-svitidla.jpg" alt="LED průmyslová svítidla" />
                <h2>Průmyslová</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-nouzove-osvetleni']" class="inside">
                <img src="/images/category/led-nouzove-osvetleni.jpg" alt="LED nouzové osvětlení" />
                <h2>Nouzové osvětlení</h2>
            </a>
        </div>

<!-- skryté kategorie pro 2.fázi
        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <img src="http://placekitten.com/440/440" alt="" />
                <h2>Lorem ipsum</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <img src="http://placekitten.com/440/440" alt="" />
                <h2>Lorem ipsum</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <img src="http://placekitten.com/440/440" alt="" />
                <h2>Lorem ipsum</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <img src="http://placekitten.com/440/440" alt="" />
                <h2>Lorem ipsum</h2>
            </a>
        </div>
-->
    </div>

    <hr>
    <div class="products_list">
      <div class="stretch row">
        <div class="col-xs-12 col-md-6 col-xl-3 item">
          <div class="list-item">
            <a class="image" href="/">
              <div>
                <img src="/files/1718209.png"
                     alt="LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 230°, sv. tok 840lm, PF 0,52, 84mA">
              </div>
            </a>
            <h3 class="title">
              <a href="/">
                Název reference
              </a>
            </h3>
            <div class="price">
              <div class="primary">
                Zákazník
              </div>
              <div class="secondary">
                1.1.2017
              </div>
              <div class="store negativ fa_b_time">
                Místo reference
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-3 item">
          <div class="list-item">
            <a class="image" href="/">
              <div>
                <img src="/files/1718209.png"
                     alt="LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 230°, sv. tok 840lm, PF 0,52, 84mA">
              </div>
            </a>
            <h3 class="title">
              <a href="/">
                Název reference
              </a>
            </h3>
            <div class="price">
              <div class="primary">
                Zákazník
              </div>
              <div class="secondary">
                1.1.2017
              </div>
              <div class="store negativ fa_b_time">
                Místo reference
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-3 item">
          <div class="list-item">
            <a class="image" href="/">
              <div>
                <img src="/files/1718209.png"
                     alt="LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 230°, sv. tok 840lm, PF 0,52, 84mA">
              </div>
            </a>
            <h3 class="title">
              <a href="/">
                Název reference
              </a>
            </h3>
            <div class="price">
              <div class="primary">
                Zákazník
              </div>
              <div class="secondary">
                1.1.2017
              </div>
              <div class="store negativ fa_b_time">
                Místo reference
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-3 item">
          <div class="list-item">
            <a class="image" href="/">
              <div>
                <img src="/files/1718209.png"
                     alt="LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 230°, sv. tok 840lm, PF 0,52, 84mA">
              </div>
            </a>
            <h3 class="title">
              <a href="/">
                Název reference
              </a>
            </h3>
            <div class="price">
              <div class="primary">
                Zákazník
              </div>
              <div class="secondary">
                1.1.2017
              </div>
              <div class="store negativ fa_b_time">
                Místo reference
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
