<style>
li  {margin-left: 30px;}
</style>

<div class="site_subpage_content n-space-top n-space-bottom">
<h1 class="page_title">Platba</h1>
<div class="container fluid">
<div class="block">
	<h2>V hotovosti</h2>
	<p>Při převzetí zboží v sídle společnosti McLED s.r.o., na adrese Vídeňská 185, 252 50 Vestec</p>
<br>	
	<h2>Dobírkou</h2>
	<ul>
		<li>Cena doběrečného po České republice 45 Kč s DPH</li>
		<li>Cena doběrečného na Slovensko 50 Kč s DPH</li>
	</ul>
	<p>Zboží zaplatíte přepravci při dodání, přímo na Vámi určené adrese.</p>
<!--Zjistit u Geisu možnosti platby kartou.-->
<br>
<!--	<h2>Platba Online – Kartou</h2> 
<br> -->
	<h2>Platba předem – zálohová faktura</h2>
	<p>Po objednání zboží vám přijde na e-mailovou adresu zálohová daktura, pro příkaz k úhradě zboží. Po připsání platby na náš účet Vám bude zboží odesláno. Připsání platby může dle banky trvat 1 – 2 pracovní dny.</p>
<br>

	<h2>Bankovní spojení</h2>
<p>
	<span style="padding-right: 20px;">
		<strong>Kód banky:</strong> 0100 Komerční banka <br>
		<strong>číslo účtu:</strong> 115-1523060277 <br> 
	<br>
	<h4>Účet pro platbu v EUR:</h4>
		<strong>Číslo účtu:</strong> 115-1599260267/0100 <br>
		<strong>SWIFT (BIC):</strong> KOMBCZPPXX <br>
		<strong>IBAN:</strong> CZ8301000001151599260267 <br>
	<br>
	<h4>Účet pro platbu v USD:</h4>
		<strong>Číslo účtu:</strong> 107-5513880237/0100 <br>
		<strong>SWIFT (BIC):</strong> KOMBCZPPXX <br>
		<strong>IBAN:</strong> CZ4601000001075513380237 <br>
	</span> 
</p>
</div>
</div>
</div>
