<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Proč LED Žárovku</h1>
    <div class="container fluid">
        <div class="row">
                <p>Pro každého spotřebitele je největším přínosem úspora elektrické energie (ceny elektrické energie mají neustále vzestupnou tendenci), a tím úspora peněz. Počáteční investice je vyšší, ale jak bude dále na názorném příkladu ukázáno, tato investice se vyplatí.</p>

                <p>Vezměme např. klasickou žárovku 60 W, jejíž adekvátní náhradou je v sortimentu firmy LED žárovka 10 W
                    <a title="žárovka" rel="galerie1" class="fancyboxg" href="/files/1302600.jpg">
                        <img alt="clanek test" src="/files/1302600.jpg" width="100">
                    </a>
                    Cenu energie uvažujme 4,8 Kč/kW•h, denně se touto žárovkou svítí 6 h. LED žárovka spotřebuje za rok 21,9 kW•h (asi 105 Kč) a klasická žárovka 87,6 kW•h (asi 420,50 Kč). Z toho vyplývá, že náklady na LED žárovku se vrátí za přibližně rok a vzhledem k době života 25 000 h se investice do něj vrátí zhruba desetkrát (není počítáno s výměnou žárovek, jejichž život je přibližně 1 000 h).</p>

                <p>Dalším neméně důležitým pohledem na problematiku LED žárovek je životní prostředí. LED zdroje na rozdíl od klasických zdrojů neobsahují rtuť. Jejich používáním se šetří elektrická energie, v důsledku čehož klesá i potřeba její výroby. Z toho vyplývá (vzhledem k většinovým tepelným elektrárnám) snižování emisí CO2 a šetření fosilních paliv.</p>

                <p>Další výhody: život LED žárovek, velký počet spínacích cyklů a okamžité rozsvícení na 100 %.</p>

                <h1>Výběr LED žárovky</h1>

                <p>Nejprve je nutné si uvědomit, do jaké místnosti bude zdroj umístěn a jaké činnosti budou v dané místnosti provozovány. Podle toho je třeba vybrat výkon žárovky. Například na toaletu stačí 7W LED žárovka, v obývacím pokoji 13W. Dalším kritériem je úhel světelného svazku. Při požadavku osvětlit větší plochu je zapotřebí větší úhel poloviční svítivosti a naopak. Příkladem může být osvětlení jídelního stolu, kde je vhodné osvětlit celou plochu, a naopak svítidlo u lůžka, kde je třeba osvětlit pouze knihu a nerušit okolí. Dalším důležitým faktorem je podání barev Ra. Je to schopnost žárovky přesně reprodukovat barvy v porovnání s osvětlením ideálních srovnávacích světelných zdrojů. Ve vnitřních prostorech, v nichž osoby pracují nebo pobývají dlouhodobě, nesmí být Ra &lt; 80.</p>

                <p>Teplota chromatičnosti charakterizuje barvu světla vyzařovaného zdrojem. Pro domácnosti je upřednostňována teple bílá (2 700 až 3 000 K), pro kanceláře neutrálně bílá barva (4 000 K).</p>

                <p>Pro snadný výběr LED žárovky společnost McLED nabízí svým zákazníkům tzv. kalkulátor úspor
                    <a title="kolečko úspory" rel="galerie1" class="fancyboxg" href="/files/1302601.jpg">
                        <img alt="clanek test" src="/files/1302601.jpg" width="100">
                    </a>
                    Zde si zájemce vybere žárovku, kterou chce nahradit, a okamžitě uvidí alternativní LED zdroj včetně orientační
                    kalkulace návratnosti a úspor vzhledem k denní době svícení. Pozor! Z důvodu rozličných světelných výkonů různých výrobců je možné používat tuto pomůcku pouze s produkty McLED. Pro zaslání kalkulátoru úspor pište na email<a href="mailto: havelka@mcled.cz"> havelka@mcled.cz</a>. </p>
                <br>
                <h1>Upozornění</h1>

                <p>Rozhodnete-li se pro LED žárovku, řádně vybírejte. Na trhu je nespočet firem zabývající se tímto sortimentem, a ne vždy jde o kvalitní produkty. Především na krabičkách by měly být uvedeny veškeré technické údaje, jako je příkon, světelný tok, všeobecný index podání barev, teplota chromatičnosti, úhel poloviční svítivosti, počet spínacích cyklů, druh patice atd.</p>
                <a title="žárovky" rel="galerie1" class="fancyboxg" href="/files/1302603.jpg">
                    <img alt="clanek test" src="/files/1302603.jpg" width="100">
                </a>
                <p>Podle světelného toku udávaného v lumenech (lm) si můžete snadno ověřit, zda daný žárovka skutečně nahrazuje klasický zdroj, či nikoliv.</p>
        </div>
    </div>
</div>
