<div class="site_subpage_content n-space-top n-space-bottom">
  <h1 class="page_title">LED PRŮMYSLOVÁ SVÍTIDLA</h1>
  <div class="shop_categories_router">
  
    <div class="item">
      <a [routerLink]="['/led-prumyslova-svitidla-reflektory']" class="inside">
        <img src="/images/category/led-prumyslova-svitidla-reflektory.jpg" alt="LED průmyslová svítidla - reflektory" title="LED průmyslová svítidla - reflektory" />
        <h2>REFLEKTORY</h2>
      </a>
    </div>
	
    <div class="item">
      <a [routerLink]="['/led-prumyslova-svitidla-senzorova']" class="inside">
        <img src="/images/category/led-prumyslova-svitidla-senzorova.jpg" alt="LED průmyslová svítidla - senzorová" title="LED průmyslová svítidla - senzorová" />
        <h2>SENZOROVÁ</h2>
      </a>
    </div>
	
    <div class="item">
      <a [routerLink]="['/led-prumyslova-svitidla-halova']" class="inside">
        <img src="/images/category/led-prumyslova-svitidla-halova.jpg" alt="LED průmyslová svítidla - halová" title="LED průmyslová svítidla - halová" />
        <h2>HALOVÁ</h2>
      </a>
    </div>
	
	<div class="item">
      <a [routerLink]="['/led-prumyslova-svitidla-prachotesna']" class="inside">
        <img src="/images/category/led-prumyslova-svitidla-prachotesna.jpg" alt="LED průmyslová svítidla - prachotěsná" title="LED průmyslová svítidla - prachotěsná" />
        <h2>PRACHOTĚSNÁ</h2>
      </a>
    </div>	
	
	<div class="item">
      <a [routerLink]="['/led-prumyslova-svitidla-prislusenstvi']" class="inside">
        <img src="/images/category/led-prumyslova-svitidla-prislusenstvi.jpg" alt="LED průmyslová svítidla - příslušenství" title="LED průmyslová svítidla - příslušenství" />
        <h2>Příslušenství</h2>
      </a>
    </div>

  </div>
</div>
