<style>
li  {margin-left: 30px;}
</style>

<div class="site_subpage_content n-space-top n-space-bottom">
	<h1 class="page_title">Doprava</h1>
<div class="container fluid">
<div class="block">
	<h2>Doprava zdarma</h2>
	<p>Při objednávce vyšší jak 1.000 Kč s DPH pro B2C není doprava po ČR účtována.</p>
	<p>Při objednávce vyšší jak 2.500 Kč bez DPH pro velkoodběratele B2B není doprava po ČR účtována.</p>
<br>
	<h2>Osobní odběr</h2>
	<p>Zboží si můžete osobně vyzvednout na adrese McLED s.r.o., Vídeňská 185, 252 50 Vestec. Služba osobní odběr není zpoplatněna.<p>
<br>
	<h2>Přepravní společnost Geis</h2>
		<b>Zákazníci bez individuálních obchodních podmínek B2B:</b>
		<ul>
			<li>Doprava po České republice 75 Kč s DPH.</li>
			<li>Doprava na Slovensko 90 Kč s DPH.</li>
		</ul>
<br>	
		<b>Firemní zákazníci s obchodními podmínkami B2B:</b>
		<ul>
			<li>Doprava po České republice 120 Kč bez DPH.</li>
			<li>Doprava na Slovensko 140 Kč bez DPH.</li>
		</ul>
<br>
		<strong>Mezinárodní přepravní společnost Geis - Global Logistics </strong>

		<p>Zboží Vám doručíme mezinárodní přepravní společností GEIS. Zboží Vám bude doručeno na Vámi uvedenou adresu v objednávce. Přepravní společnost doručuje balíky ve všední dny od 8 do 18 hod.. Ve většině případech je doručení do 24hodin od předání zásilky do přepravy.</p>
		<p>Přepravní společnost Vám zašle SMS, která bude obsahovat informaci o odesilateli, číslu zásilky a případně výši dobírky (nebude zobrazena v případě uhrazení zboží online nebo koupí na fakturu se splatností).</p>
		<p>V případě platby dobírkou zboží zaplatíte v hotovosti, prosíme o připravení přibližné částky za balík.</p>
		<p>Kurýr přepravní společnosti Vás bude v den doručení kontaktovat, pro upřesnění podrobností týkající se doručení zásilky. Pokud Vás řidič nezastihne při prvním pokusu o doručení, doručí Vám opakovaně zásilku následující den nebo obdržíte do schránky informaci ohledně dalšího termínu.</p>
<br>
		<p><strong>Pro informace ohledně stavu přepravy je možné kontaktovat Zákaznické centrum GEIS: (+420) 951 277 777 (po - pá 8:00 - 17:00) nebo na e-mail info@geis.cz, info@geisparcel.cz.</strong></p>
	
</div>
</div>
</div>
