<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Profily pro LED pásky</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/profily-pro-led-pasky-prisazene']" class="inside">
                <img src="/images/category/profily-prisazene.jpg" alt="LED profily přisazené"/>
                <h2>Přisazené</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/profily-pro-led-pasky-vestavne']" class="inside">
                <img src="/images/category/profily-vestavne.jpg" alt="LED profily vestavné" />
                <h2>Vestavné</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/profily-pro-led-pasky-rohove']" class="inside">
                <img src="/images/category/profily-rohove.jpg" alt="LED profily rohové" />
                <h2>Rohové</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/profily-pro-led-pasky-zavesne']" class="inside">
                <img src="/images/category/profily-zavesne.jpg" alt="LED profily závěsné" />
                <h2>Závěsné</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/profily-pro-led-pasky-nastenne']" class="inside">
                <img src="/images/category/profily-nastenne.jpg" alt="LED profily nástěnné" />
                <h2>Nástěnné</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/profily-pro-led-pasky-naslapne']" class="inside">
                <img src="/images/category/profily-naslapne.jpg" alt="LED profily nášlapné" />
                <h2>Nášlapné</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/profily-pro-led-pasky-specialni']" class="inside">
                <img src="/images/category/profily-specialni.jpg" alt="LED profily speciální" />
                <h2>Speciální</h2>
            </a>
        </div>
    </div>
</div>
