<style> 
.odsazeni {
    padding-bottom: 0px;
    padding-left: 30px;
    padding-top: 0px;
}
</style>

<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Pomoc s nákupem</h1>
    <div class="container fluid">
        <div class="block">

            <h2>McLED asist</h2>
            <p>Abychom vám nákup co nejvíce ulehčili, zřídili jsme službu McLED asist, kdy vám zdarma poradíme s výběrem zboží.</p>
            <p>Například složitější je výběr LED pásku, kdy budete potřebovat napájecí zdroj či jiné příslušenství, tak ať si výběr ulehčíte a neztrácíte čas, můžete kontaktovat naši službu McLED asist a společně vyberete potřebné zboží.</p>
            <p>Služba<strong> McLED asist</strong> je vám k dispozici v pracovní dny v době</p>
            <p class="odsazeni">Po – Čt &nbsp;&nbsp; 8:00 – 16:00</p>
            <p class="odsazeni">Pá&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00 – 13:30</p>
            <p>na telefonním čísle <strong>+420 184 886</strong> nebo emailu:<strong><a href="mailto:support@mcled.cz"> support@mcled.cz</a></strong> </p>

        </div>
    </div>
</div>
