<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">LED veřejné osvětlení</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-verejne-osvetleni-shark']" class="inside">
                <img src="/images/category/verejne-osvetleni-shark.jpg" alt="Veřejné osvětlení shark"/>
                <h2>Shark</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-verejne-osvetleni-prislusenstvi']" class="inside">
                <img src="/images/category/verejne-osvetleni-prislusenstvi.jpg" alt="Příslušenství pro veřejné osvětlení" />
                <h2>Příslušenství</h2>
            </a>
        </div>
    </div>
</div>
