<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Komponenty pro výrobu svítidel</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/komponenty-pro-vyrobu-svitidel-drivery']" class="inside">
                <img src="/images/category/komponenty-drivery.jpg" alt="Komponenty pro výrobu svítidel - drivery"/>
                <h2>Drivery</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/komponenty-pro-vyrobu-svitidel-zavesy']" class="inside">
                <img src="/images/category/komponenty-zavesy.jpg" alt="Komponenty pro výrobu svítidel - závěsy" />
                <h2>Závěsy</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/komponenty-pro-vyrobu-svitidel-difusory']" class="inside">
                <img src="/images/category/komponenty-difusory.jpg" alt="Komponenty pro výrobu svítidel - difusory" />
                <h2>Difusory</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/komponenty-pro-vyrobu-svitidel-rizeni']" class="inside">
                <img src="/images/category/komponenty-rizeni.jpg" alt="Komponenty pro výrobu svítidel - řízení" />
                <h2>Řízení</h2>
            </a>
        </div>
    </div>
</div>
