<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Seznam článků</h1>
    <div class="articles_router">
        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <h2>Lorem ipsum</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <h2>Lorem ipsum</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <h2>Lorem ipsum</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <h2>Lorem ipsum</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <h2>Lorem ipsum</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <h2>Lorem ipsum</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <h2>Lorem ipsum</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <h2>Lorem ipsum Lorem ipsum Lorem ipsum</h2>
            </a>
        </div>
    </div>
    <hr />
    <div class="container fluid nospace">
        <div class="row">
            <div class="col-xs-12 col-md-7 col-xl-9">
                <section class="articles_list">
                    <h2 class="title">Světelné zdroje</h2>
                    <!-- //// -->
                    <article>
                        <h3 class="title">
                            <a [routerLink]="['/']">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
                        </h3>
                        <p>
                            Quisque mollis, justo in malesuada finibus, neque lacus mattis ipsum, a cursus arcu quam eu tortor. Donec vitae erat consectetur, dapibus tortor vitae, posuere nisl. Proin tempus diam a leo consequat venenatis. Quisque quis nulla aliquam, cursus lectus eu, ornare mi. Proin ultricies suscipit nisl, nec auctor lorem tristique quis
                            <a [routerLink]="['/']" class="more">Více</a>
                        </p>
                    </article>
                    <!-- //// -->
                    <article>
                        <h3 class="title">
                            <a [routerLink]="['/']">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
                        </h3>
                        <p>
                            Quisque mollis, justo in malesuada finibus, neque lacus mattis ipsum, a cursus arcu quam eu tortor. Donec vitae erat consectetur, dapibus tortor vitae, posuere nisl. Proin tempus diam a leo consequat venenatis. Quisque quis nulla aliquam, cursus lectus eu, ornare mi. Proin ultricies suscipit nisl, nec auctor lorem tristique quis
                            <a [routerLink]="['/']" class="more">Více</a>
                        </p>
                    </article>
                    <!-- //// -->
                    <article>
                        <h3 class="title">
                            <a [routerLink]="['/']">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
                        </h3>
                        <p>
                            Quisque mollis, justo in malesuada finibus, neque lacus mattis ipsum, a cursus arcu quam eu tortor. Donec vitae erat consectetur, dapibus tortor vitae, posuere nisl. Proin tempus diam a leo consequat venenatis. Quisque quis nulla aliquam, cursus lectus eu, ornare mi. Proin ultricies suscipit nisl, nec auctor lorem tristique quis
                            <a [routerLink]="['/']" class="more">Více</a>
                        </p>
                    </article>
                    <!-- //// -->
                </section>
            </div>
            <div class="col-xs-12 col-md-5 col-xl-3">
                <div class="product_action_sidebox nospace-left">
                    <div class="texts">
                        <h3 class="title">Akce</h3>
                        <p>
                            LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                        </p>
                        <div class="price_buy">
                            <a [routerLink]="['/']" class="buy"></a>
                            <div class="prices">
                                <div class="old">4 999 Kč</div>
                                <div class="primary">3 999 Kč</div>
                                <div class="secondary">4 499 Kč bez DPH</div>
                            </div>
                        </div>
                    </div>
                    <a class="image">
                        <img src="http://placekitten.com/440/440" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
