<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Reklamační řád</h1>
    <div class="container fluid">
        <div class="block">

            <h2>I. Všeobecná ustanovení a vymezení pojmů</h2>
			
            <p style="text-align:justify">Reklamační řád je nedílnou součástí Všeobecných obchodních podmínek prodávajícího McLED s.r.o., IČ 045 77 817, DIČ CZ 045 77 817, se sídlem Vídeňská 185, 252 50 Vestec, zapsaná v obchodním rejstříku vedeném Městským soudem v Praze, oddíl C, vložka 11700, a stanoví postup, jak postupovat při reklamaci zboží zakoupeného od prodávajícího prostřednictvím internetového obchodu mcled.cz, jehož provozovatelem je prodávající. Reklamační řád byl zpracován dle ustanovení zákona č. 89/2012 Sb., Občanský zákoník a z.č. 634/1992 Sb., Zákon o ochraně spotřebitele, ve znění pozdějších předpisů (dále jen „Zákon“) a vztahuje se na spotřební Zboží (dále jen „Zboží“), u něhož jsou v záruční době uplatňována práva kupujícího z odpovědnosti za vady (dále jen „Reklamace“).</p>

            <p style="text-align:justify">Kupující, kterým může být podnikatel nebo spotřebitel, je povinen se seznámit s Reklamačním řádem a Všeobecnými obchodními podmínkami ještě před objednáním zboží.</p>

            <p style="text-align:justify">Uzavřením kupní smlouvy kupující souhlasí s tímto Reklamačním řádem. Definice pojmů obsažené v tomto Reklamačním řádu mají přednost před definicemi ve VOP. Pokud tento Reklamační řád pojem nedefinuje, chápe se ve významu, v jakém je definován ve VOP. Pokud není definován ani tam, chápe se ve významu, v jakém jej užívají platné a účinné právní předpisy.</p>

            <p style="text-align:justify">Převzetím zboží u podnikatelů je okamžik jeho předání prodávajícím kupujícímu resp. prvnímu přepravci. V případě je-li kupujícím spotřebitel, je okamžikem převzetí zboží spotřebitelem od prodávajícího resp. převzetí od dopravce.</p>

            <p style="text-align:justify">Jako doklad o záruce (záruční list) vystavuje prodávající ke každému zakoupenému zboží nákupní doklad (dále jen záruční list) se zákonem uvedenými všemi potřebnými údaji pro uplatnění záruky (zejm. název zboží, cena, množství).</p>

            <p style="text-align:justify">Pokud je to s ohledem na poskytovanou záruku potřebné, prodávající v záručním listě srozumitelným způsobem vysvětlí obsah poskytované záruky, uvede její rozsah, podmínky, dobu platnosti a způsob, jakým je možno uplatnit nároky z ní plynoucí. V záručním listu prodávající zároveň uvede, že poskytnutím záruky nejsou dotčena práva kupujícího, která se ke koupi věci váží.</p>

            <p style="text-align:justify">Záruka se nevztahuje na opotřebení věci způsobené jejím obvyklým užíváním.</p>
            <br>
            <h2>II. Délka záruky</h2>

            <p style="text-align:justify">Záruční doba začíná běžet zásadně dnem převzetí zboží kupujícím, tj. dnem uvedeným na záručním listě.</p>

            <p style="text-align:justify">Spotřebitel je oprávněn uplatnit právo z vady, která se vyskytne u spotřebního zboží v době 24 měsíců od převzetí, není-li uvedeno u produktu lhůta delší. Výjimku může tvořit zboží prodávané se slevou (zboží poškozené, použité, nekompletní atd. – taková charakteristika je vždy uvedena u zboží – pokud není, má se za to, že se jedná o zboží nové, nepoškozené a kompletní).  Projeví-li se vada v průběhu šesti měsíců od převzetí, má se za to, že věc byla vadná již při převzetí. Záruční doba pro kupujícího spotřebitele činí 24 měsíců, avšak pro kupujícího, který při uzavírání a plnění smlouvy jedná v rámci své obchodní nebo jiné podnikatelské činnosti, činí záruční doba pouze 12 měsíců. Záruční doba se prodlužuje o dobu, po kterou bylo Zboží v záruční opravě. V případě výměny Zboží začíná běžet nová záruční doba.</p>
            <br>
            <h2>III. Záruční podmínky</h2>

            <p style="text-align:justify">Kupující, který je podnikatelem, je povinen (kupujícímu, který je spotřebitelem, je tento postup doporučen), aby bezprostředně při dodání překontroloval spolu s dopravcem stav zásilky (počet balíků, neporušenost pásky, poškození krabice) podle přiloženého přepravního listu. Kupující je oprávněn odmítnout převzetí zásilky, která není ve shodě s kupní smlouvou tím, že zásilka je např. neúplná nebo poškozená. Pokud takto poškozenou zásilku kupující od přepravce převezme, je nezbytné poškození popsat v předávacím protokolu přepravce.</p>

            <p style="text-align:justify">Neúplnou nebo poškozenou zásilku je nutno neprodleně oznámit e-mailem na adresu <a href="mailto:sales@mcled.cz">sales@mcled.cz</a> , sepsat s dopravcem škodní protokol a tento bez zbytečného odkladu zaslat faxem (244 910 700), e-mailem, nebo poštou prodávajícímu. Dodatečná reklamace neúplnosti nebo vnějšího poškození zásilky nezbavuje kupujícího práva věc reklamovat, dává však prodávajícímu možnost prokázat, že se nejedná o rozpor s kupní smlouvou.</p>

            <p style="text-align:justify">Místem pro uplatnění reklamace je McLED s.r.o., Vídeňská 185, 252 50 Vestec.</p>

            <p style="text-align:justify">Kupující může vadné zboží na reklamaci zaslat přepravní službou na adresu provozovny prodávajícího. Reklamované zboží by mělo být důkladně zabezpečeno, aby nedošlo v průběhu přepravy k jeho poškození, balík by měl být označen viditelně "REKLAMACE" a obsahovat: reklamované zboží (včetně kompletního příslušenství), doporučujeme přiložit kopii nákupního dokladu, podrobný popis závady a dostatečné kontaktní údaje kupujícího (zejm. zpáteční adresa a tel.číslo). Bez výše uvedeného je znemožněna identifikace původu i závady zboží. Tento postup je doporučen i kupujícímu spotřebiteli, pokud neprokáže a nedoloží uvedené skutečnosti jinak. Taktéž doporučujeme zvolit si požadovaný způsob vyřízení reklamace (viz níže).</p>

            <p style="text-align:justify">Kupující, který není spotřebitelem, doloží platnost záruky předložením nákupního dokladu, pokud bylo v minulosti zboží reklamováno, též doloží doklad o reklamaci.</p>

            <p style="text-align:justify">Prodávající negarantuje plnou kompatibilitu prodaných součástí s jinými, pracovníky prodávajícího neschválenými součástmi, ani se softwarovými aplikacemi, jejichž funkčnost nebyla kupujícím výslovně požadována v písemné objednávce, ledaže je taková kompatibilita u podobného zboží obvyklá a nebylo-li prodávajícím u zboží výslovně uvedeno, že je dané zboží kompatibilní pouze s uvedeným seznamem či není kompatibilní s uvedeným seznamem.</p>

            <p style="text-align:justify">Záruka se nevztahuje na vady vzniklé použitím nesprávného nebo vadného programového vybavení, nesprávného spotřebního materiálu, ani na případné škody v důsledku toho vzniklé, pokud takové použití není obvyklé a přitom nebylo vyloučeno v přiloženém návodu k použití. Dále se záruka nevztahuje na závady vzniklé špatnou obsluhou, neodborným, nebo nepřiměřeným zacházením, použitím a instalací, které jsou v rozporu s uživatelskou příručkou, nebo poškozením účinky přepětí v rozvodné síti (např. bleskem) s výjimkou běžných odchylek.</p>

            <p style="text-align:justify">Prodávající negarantuje plnou funkčnost aplikačního software ve verzích, které nejsou vhodné (nejsou vytvořeny) pro objednaný operační systém, ledaže je taková funkčnost u podobného zboží obvyklá a nebylo-li prodávajícím u zboží výslovně uvedeno, že je dané zboží funkční pouze s uvedeným seznamem či není funkční s uvedeným seznamem. Za případné problémy způsobené omezenou funkčností aplikací, které tuto podmínku nesplňují, nepřebírá prodávající žádnou zodpovědnost.</p>

            <p style="text-align:justify">Porušením ochranné pečeti, informativní nálepky či sériového čísla se kupující vystavuje riziku zamítnutí reklamace. Pečeti a sériová čísla jsou nedílnou součástí produktu a nijak neomezují právo zákazníka zboží užívat a manipulovat s ním v plném rozsahu toho, k čemu je zboží určeno.</p>


            <p style="text-align:justify">Dále se záruka nevztahuje na poškození vzniklá (v případě, že taková činnost není činností obvyklou a přitom není zakázána v přiloženém návodu k použití):</p>

            <ol style="list-style-type:lower-alpha;">
                <li>mechanickým poškozením zboží</li>
                <li>elektrickým přepětím (viditelně spálené součástky nebo plošné spoje) s výjimkou běžných odchylek,</li>
                <li>používáním zboží v podmínkách, které neodpovídají svojí teplotou, prašností, vlhkostí, chemickými a mechanickými vlivy prostředí, které je přímo prodejcem nebo výrobcem určeno</li>
                <li>neodbornou instalací, zacházením, obsluhou, nebo zanedbáním péče o zboží</li>
                <li>pokud bylo zboží nebo jeho část poškozeno počítačovým virem,</li>
                <li>pokud se závada projevuje pouze u software, u kterého není zákazník schopen doložit legální způsob nabytí, nebo použitím neautorizovaného software a spotřebního materiálu</li>
                <li>zboží bylo poškozeno nadměrným zatěžováním nebo používáním v rozporu s podmínkami uvedenými v dokumentaci nebo všeobecnými zásadami</li>
                <li>provedením nekvalifikovaného zásahu či změnou parametrů</li>
                <li>zboží, které bylo upravováno zákazníkem (nátěry, ohýbání atd.), vznikla-li vada v důsledku této úpravy</li>
                <li>při chybně provedeném upgrade BIOSu, firmware</li>
                <li>zboží bylo poškozeno přírodními živly nebo vyšší mocí</li>
            </ol>

            <p style="text-align:justify">Tato omezení neplatí, pokud byly vlastnosti zboží, jež jsou v rozporu s výše uvedenými podmínkami, kupujícím a prodávajícím výslovně dohodnuty, vymíněny nebo prodávajícím deklarovány, případně je lze očekávat vzhledem k prováděné reklamě nebo obvyklému způsobu užití zboží.</p>

            <p style="text-align:justify">Zboží předané k reklamaci bude testováno pouze na závadu uvedenou kupujícím (v přiloženém listě s popisem závady). Pro uvedení závady doporučujeme písemnou formu.</p>

            <p style="text-align:justify">Zjistí-li technik, že příčinou problémů není reklamovaný výrobek, ale nekorektní instalace software (operační systém, antivirový program), pokud byla data poškozena nekorektním chováním některé aplikace (např. hry, viry) nedodané prodávajícím, nebo jestliže data poškodil kupující, nebo třetí osoba, bude reklamace zamítnuta. Před provedením placené opravy bude kupující informován o ceně opravy, jejím rozsahu a době, nutné k jejímu provedení. K provedení placené opravy lze přistoupit jen po výslovném souhlasu kupujícího (resp. na základě uzavřené servisní smlouvy) učiněném po informování dle předchozí věty.</p>

            <p style="text-align:justify">Prodávající má právo odmítnout přijetí zboží do reklamace v případech, kdy reklamované zboží a/nebo jeho součásti jsou znečištěné nebo nesplňují základní předpoklady pro hygienicky bezpečné předání zboží k reklamačnímu řízení, ledaže se jedná o znečistění obvyklé.</p>
            <br>
            <h2>IV. Způsob vyřízení reklamace</h2>
			<br>
            <h3>Je-li kupujícím spotřebitel:</h3>

            <p style="text-align:justify">Shoda s kupní smlouvou</p>

            <p style="text-align:justify">Je-li kupujícím spotřebitel, v případě, že zboží při převzetí kupujícím není ve shodě s kupní smlouvou (dále jen "rozpor s kupní smlouvou"), má kupující právo na to, aby prodávající bezplatně a bez zbytečného odkladu věc uvedl do stavu odpovídajícího kupní smlouvě, a to podle požadavku kupujícího buď výměnou věci, nebo její opravou. Není-li takový postup možný, může kupující požadovat přiměřenou slevu z ceny věci nebo od smlouvy odstoupit. To neplatí, pokud kupující před převzetím věci o rozporu s kupní smlouvou věděl nebo rozpor s kupní smlouvou sám způsobil. Rozpor s kupní smlouvou, který se projeví během šesti měsíců ode dne převzetí věci, se považuje za rozpor existující již při jejím převzetí, pokud to neodporuje povaze věci nebo pokud se neprokáže opak.</p>

            <p style="text-align:justify">Shodou s kupní smlouvou se zejména rozumí, že prodávaná věc má jakost a užitné vlastnosti smlouvou požadované, prodávajícím, výrobcem nebo jeho zástupcem popisované, nebo na základě jimi prováděné reklamy očekávané, popřípadě jakost a užitné vlastnosti pro věc takového druhu obvyklé, že odpovídá požadavkům právních předpisů, je v tomu odpovídajícím množství, míře nebo hmotnosti a odpovídá účelu, který prodávající pro použití věci uvádí nebo pro který se věc obvykle používá.</p>

            <p style="text-align:justify">Je-li kupujícím spotřebitel, má v závislosti na povaze vady při uplatnění zákonné záruky tato práva:</p>

            <ul>
                <li>jde-li o vadu odstranitelnou, právo na bezplatné, řádné a včasné odstranění vady, právo na výměnu vadného zboží nebo vadné součásti, není-li to vzhledem k povaze vady neúměrné. Není-li takový postup možný, má právo na přiměřenou slevu z kupní ceny nebo odstoupení od kupní smlouvy,</li>

                <li>jde-li o vadu neodstranitelnou bránící řádnému užívání zboží, právo na výměnu vadného zboží nebo odstoupení od kupní smlouvy, tatáž práva spotřebiteli náleží, jde-li sice o vady odstranitelné, jestliže však kupující nemůže pro opětovné vyskytnutí vady po opravě nebo pro větší počet vad věc řádně užívat. Za opětovné vyskytnutí vady se považuje zejména, jestliže stejná vada bránící řádnému užívání, jež byla v záruční době již nejméně dvakrát odstraňována, se vyskytne znovu. Větším počtem vad se rozumí, má-li věc současně alespoň tři vady bránící jejímu řádnému užití</li>

                <li>jde-li o jiné vady neodstranitelné a nepožaduje-li spotřebitel výměnu věci, má právo na přiměřenou slevu z kupní ceny nebo odstoupení od kupní smlouvy</li>
            </ul>

            <p style="text-align:justify">Volbu způsobu vyřízení reklamace provádí kupující. Prodávající na nevhodnost volby kupujícího upozorní a navrhne vhodný způsob (zejména v případě, kdy kupující vyžaduje způsob týkající se odstranitelné vady, ale prodávající zjistí, že se jedná o vadu neodstranitelnou). Pokud spotřebitel nezvolí způsob vyřízení reklamace v prodávajícím poskytnuté přiměřené lhůtě, zvolí jej prodávající</p>

            <p style="text-align:justify">V případě slevy nelze později reklamovat zboží pro vadu, za niž byla sleva poskytnuta.</p>

            <p style="text-align:justify">Je-li kupujícím spotřebitel, o reklamaci prodávající rozhodne ihned, ve složitých případech do tří pracovních dnů. Do této lhůty se nezapočítává doba přiměřená podle druhu výrobku či služby potřebná k odbornému posouzení vady. Reklamaci včetně odstranění vady prodávající vyřídí bez zbytečného odkladu, nejpozději do 30 dnů ode dne uplatnění reklamace. Lhůtu 30 dnů je možné po uplatnění reklamace prodloužit po domluvě se spotřebitelem – takové prodloužení nesmí být na dobu neurčitou nebo nepřiměřeně dlouhou. Po uplynutí této lhůty se má za to, že vada na věci skutečně existovala a spotřebitel má stejná práva, jako by se jednalo o vadu, kterou nelze odstranit. Tato lhůta není závazná ke kupujícímu, který je podnikatel a tudíž jeho vztah s prodávajícím upravuje Obchodní zákoník.</p>

            <p style="text-align:justify">Prodávající vydá spotřebiteli písemné potvrzení o tom, kdy byla reklamace uplatněna, co je jejím obsahem, jaký způsob vyřízení reklamace je požadován, a to emailem bezprostředně po přijetí reklamace (v případě osobního uplatnění je předáno ihned); dále potvrzení o datu a způsobu vyřízení reklamace, včetně potvrzení o provedení opravy a době trvání reklamace, případně odůvodnění zamítnutí reklamace.</p>

            <h3>Je-li kupujícím podnikatel:</h3>

            <p style="text-align:justify">Jde-li o vadu, kterou lze odstranit, bude zboží opraveno. Pokud není oprava možná a povaha vady nebrání obvyklému užívání, může se prodávající s kupujícím dohodnout na přiměřené slevě z ceny zboží. V případě slevy nelze později tuto vadu reklamovat.</p>

            <p style="text-align:justify">Jde-li o vadu, kterou nelze odstranit a která brání tomu, aby věc mohla být řádně užívána jako věc bez vady, prodávající je oprávněn vadné zboží vyměnit za zboží se stejnými, nebo podobnými užitnými vlastnostmi nebo vystaví dobropis.</p>

            <p style="text-align:justify">Po vyřízení oprávněné reklamace se záruční doba prodlužuje o dobu trvání reklamace. Byla-li reklamace zboží v zákonné záruční lhůtě vyřízena výměnou zboží za nové, začne záruční doba běžet znovu od data vyřízení reklamace. Doba trvání reklamace se počítá od následujícího dne po uplatnění reklamace do dne vyřízení reklamace, tedy doby, kdy byl kupující povinen věc převzít. O vyřízení je zákazník informován e-mailem, který uvedl již při nákupu.</p>

            <p style="text-align:justify">Po vyřízení reklamace prodávající upozorní o ukončení reklamace kupujícího buď telefonicky, SMS, nebo e-mailem. Pokud bylo zboží zasláno přepravní službou, bude po vyřízení automaticky zasláno na adresu kupujícího.</p>

            <p style="text-align:justify">V případě nevyzvednutí reklamovaného zboží do jednoho měsíce od uplynutí doby, kdy měla být reklamace provedena, a byla-li provedena později, do jednoho měsíce od vyrozumění o jejím provedení (tj. zpravidla do 60 dnů od data podání reklamace) je prodávající, oprávněn účtovat při výdeji reklamace částku za uskladnění.</p>

            <p style="text-align:justify">Při výdeji zboží po vyřízení reklamace je kupující povinen předložit doklad, na základě kterého byla věc přijata do reklamace a musí prokázat svoji totožnost OP nebo platným cestovním pasem. </p>
            <br>
            <h2>V. Spotřební materiál</h2>

            <p style="text-align:justify">Je-li obsahem balení či předmětem koupě spotřební materiál např. baterie, bývá jeho obvyklá životnost 6 měsíců, není-li výslovně uvedeno jinak. </p>

            <p style="text-align:justify">Právo kupujícího reklamovat zboží v zákonné záruční lhůtě tím není dotčeno. Kupující však musí přihlížet k výše uvedeným skutečnostem, neboť záruka se nevztahuje na opotřebení způsobené obvyklým užíváním věci a nelze ji tak zaměňovat se životností výrobku. Životnost zboží představuje náchylnost k opotřebení způsobené obvyklým užíváním. Pokud zboží používáte (nikoliv vlastníte) déle než je obvyklá životnost, je pravděpodobné, že vzniknuvší vada je důsledkem běžného opotřebení, avšak není vyloučeno, že se skutečně jedná o záruční vadu. Prodávající vždy v odůvodnění případného zamítnutí reklamace uvede, zda se jednalo o vadu způsobenou obvyklým opotřebením.</p>
            <br>
            <h2>VI. Závěrečná ustanovení</h2>

            <p style="text-align:justify">Tento reklamační řád je platný a účinný od 1.1.2015 a ruší předchozí znění. Prodávající si vyhrazuje právo na změny v reklamačním řádu bez předchozího upozornění.</p>

        </div>
    </div>
</div>
