<div class="site_subpage_content n-space-top n-space-bottom">
	<h1 class="page_title">Über uns</h1>
<div class="container fluid">
<div class="block">
		
	<h2>McLED „quality lighting“</h2>
		<b>Information über unser Unternehmen und unsere LED Produkte und Lichtkonzepte.</b>
<br><br>
<p>McLED ist Spezialist für moderne und innovative LED Leuchtmittel und Lichtkonzepte. Das Programm ist seit 2011 am Markt und zahlreiche Kunden bestätigen die hohe Qualität, Verfügbarkeit und Dienstleistung.</p>

<p>Zur Komplettierung des Portfolios „moderne Gebäude- und Installationstechnik“ hat sich SCHMACHTL GmbH, gegr. 1936, mehrheitlich an McLED beteiligt sowie Beratung und Vertrieb mit der bekannten Qualität für Österreich übernommen.</p>

<p>McLED kommt mit einem neuen professionellen LED Webshop auf den Markt. Die technisch orientierte und leicht bedienbare Plattform vereinfacht den Entscheidungsprozess für unsere Kunden. </p>

<p>Alle wichtigen Informationen wie Datenblätter, Skizzen, naturgetreue Abbildungen und auch die LDT- Dateien für Berechnungsprogramme wie DIALUX stehen zum Download zu Verfügung.</p>

<p>Wir sind überzeugt, dass wir mit dem McLED Webshop gemeinsam mit unserer Erfahrung am Markt und technischen Kompetenz eine neue Dimension zur Zufriedenheit unserer Kunden (Gewerbe,  Industrie, Planung und Handel) am LED Markt bringen.</p>
	
</div>
</div>
</div>
