<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Přisazená svítidla</h1>
    <div class="shop_categories_router">
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-prisazena-mercure-m']" class="inside">
          <img src="/images/category/venkovni-svitidla-prisazena-mercure-m.jpg" alt="LED fasádní venkovní svítidla Mercure M"/>
          <h2>Mercure M</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-prisazena-mercure-l']" class="inside">
          <img src="/images/category/venkovni-svitidla-prisazena-mercure-l.jpg" alt="LED fasádní venkovní svítidla Mercure L"/>
          <h2>Mercure L</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-prisazena-quber-m']" class="inside">
          <img src="/images/category/venkovni-svitidla-prisazena-quber-m.jpg" alt="LED fasádní venkovní svítidla Quber M"/>
          <h2>Quber M</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-prisazena-quber-l']" class="inside">
          <img src="/images/category/venkovni-svitidla-prisazena-quber-l.jpg" alt="LED fasádní venkovní svítidla Quber L"/>
          <h2>Quber L</h2>
        </a>
      </div>
    </div>
</div>
