<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED reflektory</h1>

<p>Představujeme Vám úsporné LED reflektory s paticemi E14 a E27. Tyto světelné zdroje se vyznačují vyzařováním světla zejména před žárovku (vyzařovací úhel 120 °), ne tedy kolem dokola. Typicky najdeme tyto světelné zdroje v bodových svítidlech, která lze často také směrovat. Používají se obvykle v pokojích, chodbách, galeriích, restauracích, koupelnách apod. </p>

<p>Naše LED reflektory jsou vyrobeny s paticemi E14 a E27, v nejžádanější teple bílé barvě světla. Vybírat můžete ze dvou variant, které výkonem odpovídají klasickým žárovkám o příkonech 40 W (patice E14), případně 60 W (patice E27). </p>

</div>
