<div class="site_subpage_content n-space-bottom">
    <hr />
    <div class="container fluid nospace">
        <div class="row">
            <div class="col-xs-12 col-md-7 col-xl-9">
                <div class="downloads_list">
                    <div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_doc.png" alt="Soubor .doc" />
                            </div>
                        </div>
                        <a [routerLink]="['/']" class="download fa_a_download">Stáhnout</a>
                        <h2 class="filename">
                            Lorem ipsum dolor <small>(doc / 3MB)</small>
                        </h2>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_docx.png" alt="Soubor .docx" />
                            </div>
                        </div>
                        <a [routerLink]="['/']" class="download fa_a_download">Stáhnout</a>
                        <h2 class="filename">
                            Lorem ipsum dolor <small>(docx / 3MB)</small>
                        </h2>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor .pdf" />
                            </div>
                        </div>
                        <a [routerLink]="['/']" class="download fa_a_download">Stáhnout</a>
                        <h2 class="filename">
                            Lorem ipsum dolor PDF <small>(pdf / 3MB)</small>
                        </h2>
                    </div>
                </div>

                <p>
                    Praesent tempus eros diam, sit amet egestas tortor gravida eu. Donec ac odio lacinia, faucibus arcu id, molestie leo. Nullam lorem eros, ornare a mi et, tincidunt euismod ipsum. Phasellus a dolor non odio faucibus finibus quis ac massa. In vel augue in quam tempus euismod at ut diam. Pellentesque at sodales odio. Ut vitae nisl libero. Aenean eget libero mollis, fermentum elit quis, dapibus magna. Aenean vitae lorem ultrices dolor dictum porta a sed est. Phasellus vel ligula viverra, facilisis leo et, venenatis tellus. Donec tincidunt faucibus egestas. Nulla facilisis nisl sed condimentum fringilla.
                </p>
                <p>
                    Suspendisse eros lectus, consequat ut erat ut, dictum eleifend orci. Nullam sit amet eleifend nisi, a facilisis augue. Proin accumsan cursus commodo. Cras id facilisis nunc. Aliquam erat volutpat. Fusce sed varius mi. In magna augue, interdum maximus facilisis a, lobortis at turpis. Mauris felis nibh, tempus a porttitor ut, auctor ac ex. Suspendisse potenti. Proin hendrerit magna non euismod pharetra.
                </p>
                <p>
                    Phasellus blandit, lacus vitae vestibulum sodales, leo nunc cursus tortor, sit amet pulvinar dolor nulla et dolor. Pellentesque euismod sem et orci tempor, laoreet tincidunt nisl finibus. Sed lacinia consequat est, quis luctus risus porttitor at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                </p>
            </div>
            <div class="col-xs-12 col-md-5 col-xl-3">
                <div class="product_action_sidebox nospace-left">
                    <div class="texts">
                        <h3 class="title">Akce</h3>
                        <p>
                            LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                        </p>
                        <div class="price_buy">
                            <a [routerLink]="['/']" class="buy"></a>
                            <div class="prices">
                                <div class="old">4 999 Kč</div>
                                <div class="primary">3 999 Kč</div>
                                <div class="secondary">4 499 Kč bez DPH</div>
                            </div>
                        </div>
                    </div>
                    <a class="image">
                        <img src="/images/example/121.255.10_0_L.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
