<div class="site_subpage_content n-space-bottom">
    <hr />
    <div class="container fluid nospace">
        <div class="row">
		
            <div class="col-xs-12 col-md-7 col-xl-9">	
			
                <div class="downloads_list">
				
		  					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756569" class="download fa_a_download" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            Office 6060 <small>(.pdf)</small>
                        </h2>
                    </div>

					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756557" class="download fa_a_download" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            Office 12030, Office 12060 <small>(.pdf)</small>
                        </h2>
                    </div>
					
					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756553" class="download fa_a_download" alt="LEDtube T8" name="LEDtube" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            Office 6060 UGR, Office 12030 UGR <small>(.pdf)</small>
                        </h2>
                    </div>
		</div>
			
			<div class="col-xs-12 col-md-12 col-xl-12">
<p>Úsporná a moderní LED svítidla řady Office v oblíbeném designu vynikají vysokým výkonem, nízkou spotřebou energie, jednoduchou instalací a širokým příslušenstvím, díky němuž je možné svítidla instalovat jak do podhledů, tak i přisadit pomocí klipů nebo také pomocí rámu (rámy jsou dostupné pro rozměry panelů 6060). Naše panely lze také snadno zavěsit. Speciální difuzor zajišťuje rovnoměrné rozptýlení světla po celé jeho ploše a široký vyzařovací úhel. </p>

<p>Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), ve tvaru čtverce nebo obdélníku, s bílým rámem (RAL 9010), případně s rámem v odstínu anodizovaného hliníku, o rozměrech od 295 x 595 mm až po 595 x 1195 mm, ve výkonech až 4 750 lm. Nabízíme rovněž varianty se speciálním difuzorem pro omezení indexu činitele oslnění UGR. Svítidla se ideálně hodí jako hlavní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80.</p>


            </div>
			
		<!-- pravá část - rozdělení na dvě části obrazovku
			<div class="col-xs-12 col-md-7 col-xl-9">

            <div class="col-xs-12 col-md-5 col-xl-3">
			

                <div class="product_action_sidebox nospace-left">
                    <div class="texts">
                        <h3 class="title">Akce</h3>
                        <p>
                            LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                        </p>
                        <div class="price_buy">
                            <a [routerLink]="['/']" class="buy"></a>
                            <div class="prices">
                                <div class="old">4 999 Kč</div>
                                <div class="primary">3 999 Kč</div>
                                <div class="secondary">4 499 Kč bez DPH</div>
                            </div>
                        </div>
                    </div>
                    <a class="image">
                        <img src="/images/example/121.255.10_0_L.jpg" alt="" />
                    </a>
                </div>
		
		
            </div>
		-->
        </div>
    </div>
</div>
