<div class="site_subpage_content n-space-top n-space-bottom"> 
<div class="articles_list">
      <h2 class="title">Aktuality</h2>
	  
      <!-- LED panely Office UGR<19  -->
      <article>
        <span class="date">08.02.2017</span>
        <h3 class="title">
          LED panely Office UGR<19 
        </h3>
        <p>
			V reakci na přísné požadavky norem, které v kancelářských prostorách připouští pouze velmi nízký index oslnění,
			jsme vyvinuli novou verzi nejpoužívanějšího kancelářské LED svítidla řady Office, která nese označení „UGR<19“.
		</p>
		<p>
			Speciální prismatický difuzor, kterým je tato nová varianta LED panelů Office s označením UGR vybavena, zajišťuje
			za standardních podmínek dosažení maximálního UGR ve výši 19. A právě to je hodnota, kterou ještě norma pro kancelářské
			prostory a činnosti připouští.		
          <a href="javascript:void(0);" (click)="a1=true" *ngIf="!a1" class="more">Více</a>
        </p>
        <p class="hidden" *ngIf="a1">
			UGR je zkratka anglického slovního spojení <i>unified glare rating</i> a vyjadřuje jeden ze systému hodnocení oslnění. Hodnotu UGR lze získat výpočtem empirického vzorce, jehož výsledkem je bezrozměrné číslo (v současnosti provádí výpočet velikosti UGR zpravidla sofistikované programy pro výpočet osvětlení). 
        </p>
      </article>
	  
      <!-- //// -->
      <article>
        <span class="date">24.10.2016</span>
        <h3 class="title">
          Lorem ipsum dolor sit amet consectetur adipiscing elit
        </h3>
        <p>
          Quisque mollis, justo in malesuada finibus, neque lacus mattis ipsum, a cursus arcu quam eu tortor. Donec
          vitae erat consectetur, dapibus tortor vitae, posuere nisl. Proin tempus diam a leo consequat venenatis.
          Quisque quis nulla aliquam, cursus lectus eu, ornare mi. Proin ultricies suscipit nisl, nec auctor lorem
          tristique quis
          <a href="javascript:void(0);" (click)="a2=true" *ngIf="!a2" class="more">Více</a>
        </p>
        <p class="hidden" *ngIf="a2">
          Quisque quis nulla aliquam, cursus lectus eu, ornare mi. Proin ultricies suscipit nisl, nec auctor lorem
          tristique quis
        </p>
      </article>
	  
      <!-- //// -->
      <article>
        <span class="date">24.10.2016</span>
        <h3 class="title">
          Lorem ipsum dolor sit amet consectetur adipiscing elit
        </h3>
        <p>
          Quisque mollis, justo in malesuada finibus, neque lacus mattis ipsum, a cursus arcu quam eu tortor. Donec
          vitae erat consectetur, dapibus tortor vitae, posuere nisl. Proin tempus diam a leo consequat venenatis.
          Quisque quis nulla aliquam, cursus lectus eu, ornare mi. Proin ultricies suscipit nisl, nec auctor lorem
          tristique quis
          <a href="javascript:void(0);" (click)="a3=true" *ngIf="!a3" class="more">Více</a>
        </p>
        <p class="hidden" *ngIf="a3">
          Quisque quis nulla aliquam, cursus lectus eu, ornare mi. Proin ultricies suscipit nisl, nec auctor lorem
          tristique quis
        </p>
      </article>
	  
      <!-- //// -->
    </div>
</div>

