<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED spoty</h1>

 <p>Představujeme Vám širokou nabídku úsporných LED spotů s paticemi GU5,3 (MR16), GU10 a E14. LED spoty nachází široké využití díky svému zpravidla užšímu vyzařovacímu úhlu. Nalezneme je ve svítidlech v koupelnách, obývacích pokojích, na chodbách, v kuchyních, často také v restauracích, obchodech, výlohách apod. </p>

<p>Vybírat můžete ze široké nabídky výkonů (náhrady halogenových žárovek o příkonech 20 až 65 W), různých úhlů svitu (36 °- 100 °), různých teplot barvy světla (teple bílá / neutrální bílá / studeně bílá) a různých provedení – od cenově nejpříznivějších plastových LED spotů, přes LED spoty s tělem ze speciální keramiky až po nejspolehlivější LED spoty s robustním hliníkovým pouzdrem. </p>

</div>
