<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Přisazená svítidla</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-prisazena-inca']" class="inside">
                <img src="/images/category/led-interierova-svitidla-prisazena-inca.jpg" alt="LED přisazená interiérová svítidla Inca"/>
                <h2>Inca</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-prisazena-calvia']" class="inside">
                <img src="/images/category/led-interierova-svitidla-prisazena-calvia.jpg" alt="LED přisazená interiérová svítidla Calvia"/>
                <h2>Calvia</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-prisazena-cala']" class="inside">
                <IMG SRC="/images/category/led-interierova-svitidla-prisazena-cala.jpg" alt="LED přisazená interiérová svítidla Cala"/>
                <h2>Cala</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-prisazena-office-ram']" class="inside">
                <img src="/images/category/led-interierova-svitidla-prisazena-office-ram.jpg" alt="Led interiérová svítidla přisazená Office + rám"/>
                <h2>Office + rám</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-prisazena-mondi']" class="inside">
                <img src="/images/category/led-interierova-svitidla-prisazena-mondi.jpg" alt="LED přisazená interiérová svítidla Mondi"/>
                <h2>Mondi</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-prisazena-mold']" class="inside">
                <img src="/images/category/led-interierova-svitidla-prisazena-mold.jpg" alt="LED přisazená interiérová svítidla Mold"/>
                <h2>Mold</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-prisazena-gap']" class="inside">
                <img src="/images/category/led-interierova-svitidla-prisazena-gap.jpg" alt="LED přisazená interiérová svítidla Gap"/>
                <h2>Gap</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-prisazena-sima-s']" class="inside">
                <img src="/images/category/led-interierova-svitidla-prisazena-sima-s.jpg" alt="LED přisazená interiérová svítidla Sima S"/>
                <h2>Sima S</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-prisazena-comet']" class="inside">
                <img src="/images/category/led-interierova-svitidla-prisazena-comet.jpg" alt="LED přisazená interiérová svítidla Comet"/>
                <h2>Comet</h2>
            </a>
        </div>
    </div>
</div>
