<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED kapky</h1>

<p>Představujeme Vám naši nabídku úsporných LED kapek s paticemi E14 a E27. Tyto světelné zdroje se používají zpravidla v lampičkách, dekorativních svítidlech apod. Nalezneme je tedy obvykle v obývacích pokojích, na chodbách, v ložnicích, koupelnách apod. </p>

<p>Vybírat můžete z několika různých výkonů (náhrady klasických žárovek o příkonech 25 až 40 W), různých teplot barvy světla (teple bílá / neutrální bílá) a různých provedení – skleněné LED kapky s vyzařovacím úhlem 360 °, případně plastové LED kapky s vyzařovacím úhlem 180 °. </p>

</div>
