<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Podzemní svítidla</h1>
    <div class="shop_categories_router">
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-podzemni-platform-r']" class="inside">
          <img src="/images/category/venkovni-svitidla-podzemni-platform-r.jpg" alt="LED podzemní venkovní svítidla Platform R"/>
          <h2>Platform R</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-podzemni-city']" class="inside">
          <img src="/images/category/venkovni-svitidla-podzemni-city.jpg" alt="LED podzemní venkovní svítidla City"/>
          <h2>City</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-podzemni-platform-s']" class="inside">
          <img src="/images/category/venkovni-svitidla-podzemni-platform-s.jpg" alt="LED podzemní venkovní svítidla Platform S"/>
          <h2>Platform S</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-podzemni-rivet-r']" class="inside">
          <img src="/images/category/venkovni-svitidla-podzemni-rivet-r.jpg" alt="LED podzemní venkovní svítidla Rivet R"/>
          <h2>Rivet R</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-podzemni-rivet-1']" class="inside">
          <img src="/images/category/venkovni-svitidla-podzemni-rivet-1.jpg" alt="LED podzemní venkovní svítidla Rivet 1"/>
          <h2>Rivet 1</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-podzemni-rivet-2']" class="inside">
          <img src="/images/category/venkovni-svitidla-podzemni-rivet-2.jpg" alt="LED podzemní venkovní svítidla Rivet 2"/>
          <h2>Rivet 2</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-podzemni-rivet-3']" class="inside">
          <img src="/images/category/venkovni-svitidla-podzemni-rivet-3.jpg" alt="LED podzemní venkovní svítidla Rivet 3"/>
          <h2>Rivet 3</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-podzemni-rivet-r4']" class="inside">
          <img src="/images/category/venkovni-svitidla-podzemni-rivet-4.jpg" alt="LED podzemní venkovní svítidla Rivet 4"/>
          <h2>Rivet 4</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-podzemni-snap-1']" class="inside">
          <img src="/images/category/venkovni-svitidla-podzemni-snap-1.jpg" alt="LED podzemní venkovní svítidla Snap 1"/>
          <h2>Snap 1</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-podzemni-snap-2']" class="inside">
          <img src="/images/category/venkovni-svitidla-podzemni-snap-2.jpg" alt="LED podzemní venkovní svítidla Snap 2"/>
          <h2>Snap 2</h2>
        </a>
      </div>
    </div>
</div>
