<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Dekorativní svítidla</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-dekorativni-barcelo']" class="inside">
                <img src="/images/category/led-interierova-svitidla-dekorativni-barcelo.jpg" alt="LED interiérová svítidla dekorativní - Barcelo"/>
                <h2>Barcelo</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-dekorativni-pop']" class="inside">
                <img src="/images/category/led-interierova-svitidla-dekorativni-pop.jpg" alt="LED interiérová svítidla dekorativní - Pop"/>
                <h2>Pop</h2>
            </a>
        </div>
    </div>
</div>
