<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Pohledová svítidla</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-podhledova-office']" class="inside">
                <img src="/images/category/led-interierova-svitidla-podhledova-office.jpg" alt="LED interiérová svítidla podhledová Office"/>
                <h2>Office</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-podhledova-toro']" class="inside">
                <img src="/images/category/led-interierova-svitidla-podhledova-toro.jpg" alt="LED interiérová svítidla podhledová Toro"/>
                <h2>Toro</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-podhledova-cristallo']" class="inside">
                <img src="/images/category/led-interierova-svitidla-podhledova-cristallo.jpg" alt="LED interiérová svítidla podhledová Cristallo"/>
                <h2>Cristallo</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-podhledova-nixo']" class="inside">
                <img src="/images/category/led-interierova-svitidla-podhledova-nixo.jpg" alt="LED interiérová svítidla podhledová Nixo"/>
                <h2>Nixo</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-podhledova-pop']" class="inside">
                <img src="/images/category/led-interierova-svitidla-podhledova-pop.jpg" alt="LED interiérová svítidla podhledová Pop"/>
                <h2>Pop</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-podhledova-barcello']" class="inside">
                <img src="/images/category/led-interierova-svitidla-podhledova-barcello.jpg" alt="LED interiérová svítidla podhledová Barcello"/>
                <h2>Barcello</h2>
            </a>
        </div>
    </div>
</div>
