<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED svíčky</h1>

<p>Představujeme Vám naši nabídku úsporných LED svíček s paticí E14. Světelné zdroje s touto paticí velmi často nalezneme v nejrůznějších lustrech a lampách, zpravidla v obývacích pokojích, ložnicích, hotelech, koupelnách apod. </p>

<p>Vybírat můžete z několika výkonů (náhrady klasických žárovek o příkonech 25 až 40 W), různých teplot barvy světla (teple bílá / neutrální bílá) a dvou provedení – LED svíčky s hliníkovým chladičem ukrytým v plastovém těle, případně skleněné LED svíčky s maximálním vyzařovacím úhlem – 360 °. Tyto skleněné LED svíčky nabízíme také ve speciální designové variantě. </p>

</div>
