<div class="site_subpage_content n-space-bottom">
    <hr />
    <div class="container fluid nospace">
        <div class="row">
		
            <div class="col-xs-12 col-md-7 col-xl-9">	
			
                <div class="downloads_list">				
				    <div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756558" class="download fa_a_download" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            Inca, Calvia <small>(.pdf)</small>
                        </h2>
                    </div>
					
					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756559" class="download fa_a_download" alt="LEDtube T8" name="LEDtube" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            Cala <small>(.pdf)</small>
                        </h2>
                    </div>
					
					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756561" class="download fa_a_download" alt="LEDtube T8" name="LEDtube" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            Mondi R35-48 <small>(.pdf)</small>
                        </h2>
                    </div>
					
					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756560" class="download fa_a_download" alt="LEDtube T8" name="LEDtube" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            Mold R16-30, Gap 8 <small>(.pdf)</small>
                        </h2>
                    </div>					

					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756562" class="download fa_a_download" alt="LEDtube T8" name="LEDtube" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            Sima 5, Sima S9-30 <small>(.pdf)</small>
                        </h2>
                    </div>						
				
				<!-- OFFICE -->
					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756569" class="download fa_a_download" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            Office 6060 <small>(.pdf)</small>
                        </h2>
                    </div>

					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756557" class="download fa_a_download" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            Office 12030, Office 12060 <small>(.pdf)</small>
                        </h2>
                    </div>
					
					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756553" class="download fa_a_download" alt="LEDtube T8" name="LEDtube" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            Office 6060 UGR, Office 12030 UGR <small>(.pdf)</small>
                        </h2>
                    </div>
					
                </div>
			</div>
			
			<div class="col-xs-12 col-md-12 col-xl-12">
<p>Velmi oblíbená přisazená LED svítidla představují jedny z nejprodávanějších produktů naší společnosti. V naší nabídce naleznete širokou škálu přisazených LED svítidel, a to v různých designech, i v provedení s vyšším krytím, se senzorem, nebo také variantu s nouzovým modulem pro případ výpadku proudu.Součástí našich LED svítidel je i značkový driver přímo integrovaný ve svítidle. </p>

<p>Naše LED přisazená svítidla se vyznačují vysokou spolehlivostí, dlouhou životností, nízkými provozními náklady, vysokou věrností podání barev a celou řadou dalších výhod. Poskytují příjemné světlo bez blikání, okamžitě svítí na plný výkon a k jejich výrobě jsme použili komponenty předních světových dodavatelů. </p>



            </div>
			
		<!-- pravá část - rozdělení na dvě části obrazovku
			<div class="col-xs-12 col-md-7 col-xl-9">

            <div class="col-xs-12 col-md-5 col-xl-3">
			

                <div class="product_action_sidebox nospace-left">
                    <div class="texts">
                        <h3 class="title">Akce</h3>
                        <p>
                            LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                        </p>
                        <div class="price_buy">
                            <a [routerLink]="['/']" class="buy"></a>
                            <div class="prices">
                                <div class="old">4 999 Kč</div>
                                <div class="primary">3 999 Kč</div>
                                <div class="secondary">4 499 Kč bez DPH</div>
                            </div>
                        </div>
                    </div>
                    <a class="image">
                        <img src="/images/example/121.255.10_0_L.jpg" alt="" />
                    </a>
                </div>
		
		
            </div>
		-->
        </div>
    </div>
</div>
