<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Fasádní svítidla</h1>
    <div class="shop_categories_router">
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-tart-i']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-tart-i.jpg" alt="LED fasádní venkovní svítidla Tart I."/>
          <h2>Tart I.</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-tart-ii']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-tart-ii.jpg" alt="LED fasádní venkovní svítidla Tart II."/>
          <h2>Tart II.</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-collet']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-collet.jpg" alt="LED fasádní venkovní svítidla Collet"/>
          <h2>Collet</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-flap-i']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-flap-i.jpg" alt="LED fasádní venkovní svítidla Flap I."/>
          <h2>Flap I.</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-flap-ii']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-flap-ii.jpg" alt="LED fasádní venkovní svítidla Flap II."/>
          <h2>Flap II.</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-trapez']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-trapez.jpg" alt="LED fasádní venkovní svítidla Trapez"/>
          <h2>Trapez</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-heel-l']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-heel-l.jpg" alt="LED fasádní venkovní svítidla Heel L"/>
          <h2>Heel L</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-heel-c']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-heel-c.jpg" alt="LED fasádní venkovní svítidla Heel C"/>
          <h2>Heel C</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-atlantic']" class="inside">
            <img src="/images/category/venkovni-svitidla-fasadni-atlantic.jpg" alt="LED fasádní venkovní svítidla Atlantic"/>
            <h2>Atlantic</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-zara-1']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-zara-1.jpg" alt="LED fasádní venkovní svítidla Zara 1"/>
          <h2>Zara 1</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-zara-2']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-zara-2.jpg" alt="LED fasádní venkovní svítidla Zara 2"/>
          <h2>Zara 2</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-gallery-c']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-gallery-c.jpg" alt="LED fasádní venkovní svítidla Gallery C"/>
          <h2>Gallery C</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-gallery-r']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-gallery-r.jpg" alt="LED fasádní venkovní svítidla Gallery R"/>
          <h2>Gallery R</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-gallery-cr']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-gallery-cr.jpg" alt="LED fasádní venkovní svítidla Gallery CR"/>
          <h2>Gallery CR</h2>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/led-venkovni-svitidla-fasadni-lucerna-w']" class="inside">
          <img src="/images/category/venkovni-svitidla-fasadni-lucerna-w.jpg" alt="LED fasádní venkovní svítidla Lucerna W"/>
          <h2>Lucerna W</h2>
        </a>
      </div>
    </div>
</div>
