<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED trubice</h1>

<p>Představujeme Vám výkonné a úsporné LED trubice T8 s paticí G13. Naše LED trubice lze snadno použít v klasických zářivkových svítidlech s elektromagnetickým předřadníkem. Taková svítidla jsou velmi často v kancelářích, na chodbách, v kuchyních, sklepech, garážích, pracovnách apod.</p>

<p>V naší nabídce naleznete LED trubice nejpoužívanějších délek – 60, 120 a 150 cm, vyrobeny jsou v nejoblíbenější neutrálně bílé barvě světla. Vybírat můžete ze dvou výkonových variant, přičemž výkonnější varianta svítí při stejné spotřebě o více než 30 % intenzivněji ve srovnání s naší základní variantou LED trubic. </p>

</div>
