<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED Kapsle</h1>

  <p>Představujeme Vám naši nabídku úsporných LED kapslí s paticemi G4 a G9. Tyto malé světelné zdroje se nejčastěji používají v lampičkách, případně stropních svítidlech. Najít je můžeme v obývacích pokojích, ložnicích, koupelnách, v dekorativních svítidlech na chodbách, fasádách apod. </p>

<p>Vybírat můžete ze široké nabídky výkonů (náhrady klasických kapslí o příkonech 10 až 30 W), jsou vyrobeny v nejžádanější teple bílé barvě světla a v různých provedeních – od LED kapslí s vyzařovacím úhlem 140 ° až po nejvýkonnější LED kapsle s vyzařovacím úhlem 360 °. </p>

</div>
