<div class="site_subpage_content n-space-top">
    <div class="subpage_slideshow">
        <div class="slides" id="sub_slideshow" slides>
            <a [routerLink]="['/']" class="item" data-title="Slide 1">
                <div class="image" style="background:url(/examples/slideshow_demo2.jpg) left top no-repeat;background-size:cover"></div>
                <div class="texts">
                    <div class="inside">
                        <div class="discount">-30%</div>
                        <h3>LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm</h3>
                        <div class="price">
                            <div class="secondary">246 Kč</div>
                            <div class="primary">197 Kč</div>
                        </div>
                        <span class="more">
							Zobrazit
						</span>
                    </div>
                </div>
            </a>
            <a [routerLink]="['/']" class="item active" data-title="Slide 2">
                <div class="image" style="background:url(/examples/slideshow_demo.jpg) left top no-repeat;background-size:cover"></div>
                <div class="texts">
                    <div class="inside">
                        <div class="discount">-20%</div>
                        <h2>Dekorativní svítidla</h2>
                        <span class="more">
							Zobrazit
						</span>
                    </div>
                </div>
            </a>
            <a [routerLink]="['/']" class="item active" data-title="Slide 2">
                <div class="image" style="background:url(/examples/slideshow_demo.jpg) left top no-repeat;background-size:cover"></div>
            </a>
        </div>
<!--        <script>

            $("#sub_slideshow").slidesjs({
                width: "100%",
                height: "100%",
                play: {
                    active: true,
                    effect: "fade",
                    interval: 7000,
                    auto: true,
                    swap: false,
                    pauseOnHover: false,
                    restartDelay: 7000
                },

                menu_titles: {
                    active: false
                }
            });

        </script>-->
    </div>
</div>
