<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Nástěnná svítidla</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-nastenna-inca']" class="inside">
                <img src="/images/category/led-interierova-svitidla-nastenna-inca.jpg" alt="LED interiérová svítidla nástěnná Inca"/>
                <h2>Inca</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-nastenna-calvia']" class="inside">
                <img src="/images/category/led-interierova-svitidla-nastenna-calvia.jpg" alt="LED interiérová svítidla nástěnná Calvia"/>
                <h2>Calvia</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-nastenna-cala']" class="inside">
                <img src="/images/category/led-interierova-svitidla-nastenna-cala.jpg" alt="LED interiérová svítidla nástěnná Cala"/>
                <h2>Cala</h2>
            </a>
        </div>
    </div>
</div>
