<div class="site_subpage_content n-space-top n-space-bottom">
  <h1 class="page_title">Kontakt aufnehmen</h1>

  <div class="container fluid nospace">
    <div class="row">

      <div class="col-xs-12 col-md-6 col-xl-6">
        <h2>Vertretung</h2>
        <p>
          <strong style="font-size: 25px;">Schmachtl GmbH, Zentrale</strong><br>
          Pummererstraße 36 <br>
          4020 Linz <br>
          Österreich
        </p>
        <p>
				<span style="padding-right: 20px;">
				<strong>Tel.:</strong> +43 732 7646-0 <br>
				<strong>Fax.:</strong> +43 732 785036 <br>
				<strong>E-mail B2B:</strong> <a href="mailto:mcled.office@schmachtl.at">mcled.office@schmachtl.at</a> <br>
				<strong>Website:</strong> www.schmachtl.at <br>
				</span>
        </p>
      </div>
      <div class="col-xs-12 col-md-6 col-xl-6">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d21231.40356298847!2d14.3038371!3d48.3042853!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477398023cec301f%3A0xf729110a00d6e3e5!2sSchmachtl+GmbH!5e0!3m2!1scs!2sat!4v1483968411569"
            width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="col-xs-12 col-md-6 col-xl-6">
        <h2> Lieferant und <br> Eshop Betrieber </h2>
        <p>
          <strong style="font-size: 25px;">Mcled s.r.o. (GmbH)</strong> <br>
          Vídeňská 185 <br>
          252 50 Vestec <br>
          Tschechische Republik
        </p>
        <p>
					<span style="padding-right: 20px;">
					<strong>Tel.:</strong> +43 161 62180-0 <br>
					<strong>Fax.:</strong> +43 161 62180-99 <br>
					<strong>E-mail B2B:</strong> <a href="mailto:mcled.office@schmachtl.at">mcled.office@schmachtl.at</a> <br>
					<strong>Website:</strong> www.mcled.at <br>
					</span>
        </p>
      </div>

      <div class="col-xs-12 col-md-6 col-xl-6">
        <br>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3050.9672050773224!2d14.4940831128567!3d49.9823461161712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1069b07af8cd1c22!2sMcLED+s.r.o.!5e0!3m2!1scs!2scz!4v1488186513579"
            width="400" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="col-xs-12 col-md-6 col-xl-6">
        <h2>Bankverdindung</h2>
        <p>
				<span style="padding-right: 20px;">
					<strong>BLZ:</strong> 15000 Oberbank AG <br>
					<strong>Kontonummer:</strong> 751-1081.84 <br>
					<strong>BIC:</strong> OBKLAT2L <br>
					<strong>IBAN:</strong> AT691500000751108184 <br>
				</span>
        </p>
      </div>

      <!--		<div class="col-xs-12 col-md-6 col-xl-6">
              <h2>Projektgeschäft Kontakt</h2>
                      <p>
              <span style="padding-right: 20px;">
                <strong>Ansprechpartner:</strong> Herr Rainer Jaeger <br>
                <strong>Tel.:</strong> +43  161 62180-15 <br>
                <strong>Handy:</strong> +43 664 144 9734 <br>
                <strong>Fax.:</strong> +43 161 62180-99 <br>
                <strong>E-mail: </strong><a href="mailto:mcled.office@schmachtl.at?subject=www.mcled.at"> mcled.office@schmachtl.at</a> <br>
                <strong>Website:</strong> www.schmachtl.at <br>
              </span>
              </p>
            </div> -->

    </div>
  </div>
</div>
