<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">LED LEUCHTMITTEL</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a href="led-leuchtmittel-birnen" class="inside">
                <img src="/images/category/svetelne-zdroje-zarovky.jpg" alt="LED Birnen" title="LED Birnen"/>
                <h2>LED BIRNEN</h2>
            </a>
        </div>
        <div class="item">
            <a href="led-leuchtmittel-strahler" class="inside">
                <img src="/images/category/svetelne-zdroje-spoty.jpg" alt="LED Strahler" title="LED Strahler" />
                <h2>LED STRAHLER</h2>
            </a>
        </div>
        <div class="item">
            <a href="led-leuchtmittel-kerzen" class="inside">
                <img src="/images/category/svetelne-zdroje-svicky.jpg" alt="LED Kerzen" title="LED Kerzen" />
                <h2>LED KERZEN</h2>
            </a>
        </div>
        <div class="item">
            <a href="led-leuchtmittel-tropfen" class="inside">
                <img src="/images/category/svetelne-zdroje-kapky.jpg" alt="LED Tropfen" title="LED Tropfen"  />
                <h2>LED TROPFEN</h2>
            </a>
        </div>
        <div class="item">
            <a href="led-leuchtmittel-kapseln" class="inside">
                <img src="/images/category/svetelne-zdroje-kapsle.jpg" alt="LED Kapseln" title="LED Kapseln" />
                <h2>LED KAPSELN</h2>
            </a>
        </div>
        <div class="item">
            <a href="led-leuchtmittel-globe" class="inside">
                <img src="/images/category/svetelne-zdroje-globe.jpg" alt="LED Globe" title="LED Globe" />
                <h2>LED GLOBE</h2>
            </a>
        </div>
        <div class="item">
            <a href="led-leuchtmittel-reflektor" class="inside">
                <img src="/images/category/svetelne-zdroje-reflektory.jpg" alt="LED Reflektor" title="LED Reflektor" />
                <h2>LED REFLEKTOR</h2>
            </a>
        </div>
        <div class="item">
            <a href="led-leuchtmittel-roehren" class="inside">
                <img src="/images/category/svetelne-zdroje-trubice.jpg" alt="LED Röhren" title="LED Röhren" />
                <h2>LED RÖHREN</h2>
            </a>
        </div>
    </div>
</div>
