<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED reflektor</h1>

<p>Wir präsentieren Ihnen LED-Sparreflektoren mit den Sockeln E14 und E27. Diese Lichtquellen zeichnen sich durch eine Lichtstrahlung vor allem vor der Glühlampe aus (der Strahlungswinkel beträgt 120°). Es handelt sich somit nicht um eine Rundumstrahlung. Typischerweise sind diese Lichtquellen in Punktlampen zu finden, welche sich häufig auch auf bestimmte Punkte ausrichten lassen. Sie werden üblicherweise in Zimmern, Galerien, Restaurants, Bädern, auf Fluren, etc. verwendet. </p>

<p>Unsere LED-Reflektoren werden mit den Sockeln E14 a E27 sowie in der meist gewünschten Lichtfarbe – in warmem Weiß – hergestellt. Das Produkt wird in zwei Varianten angeboten, welche bezüglich der Leistung den klassischen Glühlampen mit einer elektrischen Leistung von 40 W (Sockel E14) beziehungsweise von 60 W (Sockel E27) entsprechen. </p>

</div>
