<!-- FOOTER -->
<div class="site_footer">
  <div class="container">
  
    <div class="row stretch">
      <div class="col-xs-12 col-lg-3 examples">
        <div class="inside">
<!--      <a [routerLink]="['/led-produkte']">
            Sitemap
          </a> -->
        </div>
      </div>
	  
			<div class="col-xs-12 col-lg-9 navigation">
			<div class="row">
			
		<div class="col-xs-12 col-sm-6 col-lg-3">
            <h3>Allgemeines</h3>
				<ul>
				<li>
                <a [routerLink]="['/lieferkonditionen']">Lieferkonditionen</a>
				</li>
				<li>
                <a [routerLink]="['/zahlungsart']">Zahlungsart</a>
				</li>
				<li>
                <a [routerLink]="['/garantieerklaerung']">Garantieerklärung</a>
				</li>
				<li>
                <a [routerLink]="['/geschaeftsbedingungen']">Geschäftsbedingungen</a>
				</li>
				<li>
                <a [routerLink]="['/support']">Support</a>
				</li>
				</ul>
		</div>
		  
		<div class="col-xs-12 col-sm-6 col-lg-3">
            <h3>Download</h3>
            <ul>
              <li>
                  <a [routerLink]="['/download']" fragment="Logo">Logo</a>
              </li>
            <li>
                <a [routerLink]="['/download']" fragment="Kataloge">Kataloge</a>
              </li>
<!--  	       <li>
                <a [routerLink]="['/download']" fragment="Flugblatter">Fluglätter</a>
              </li>-->
              <li>
                <a [routerLink]="['/download']" fragment="Anleitungen">Inst. Anleitungen</a>
              </li>
	       <li>
                <a [routerLink]="['/download']" fragment="Elumdata">Elumdata</a>
              </li>

			</ul>
        </div>
		  
		<div class="col-xs-12 col-sm-6 col-lg-3">
            <h3>Fachartikeln</h3>
            <ul>
              <li>
                <a [routerLink]="['/thema-led-leuchmittel']">LED Leuchmittel</a>
              </li>
              <li>
                <a [routerLink]="['/thema-led-flexbaender']">LED Flexbänder</a>
              </li>
			  <li>
                <a [routerLink]="['/thema-led-profile-flexbaender']">LED Profile - Flexbänder</a>
              </li>
			  <li>
                <a [routerLink]="['/thema-led-industriebeleuchtung']">LED Fluter</a>
              </li>
            </ul>
        </div>
		  
		<div class="col-xs-12 col-sm-6 col-lg-3">
            <h3>Über McLED</h3>
            <ul>
              <li>
                <a [routerLink]="['/neuheiten']">Neuheit</a>
              </li>
              <li>
                <a [routerLink]="['/uber-uns']">Über uns</a>
              </li>

<!-- skrytá kategorie REFERENCE              
	      <li>
                <a [routerLink]="['/referenz']">Referenz</a>
              </li>
-->
			  
              <li>
                <a [routerLink]="['/kontakt']">Kontakt</a>
              </li>
            </ul>
		</div>
		
        </div>
      </div>
    </div>
  </div>
</div>
