<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED TROPFEN</h1>

<p>Wir präsentieren Ihnen unser Angebot an LED-Tropfenlampen mit den Sockeln E14 und E27. Diese Lichtquellen finden in der Regel in Lampen, dekorativen Leuchten, etc. Anwendung. Aus diesem Grund sind sie für gewöhnlich in Wohnzimmern, Schlafzimmern, Bädern, auf Fluren, etc. zu finden. </p>

<p> Dieses Produkt wird in mehreren Leistungsvarianten angeboten (Ersatz für die klassischen Glühlampen mit einer elektrischen Leistung von 25 bis 40 W) sowie in unterschiedlichen Lichtfarbtemperaturen (warmes Weiß / neutrales Weiß) und in verschiedenen Ausführungen – Glas-LED-Tropfenlampen mit einem Strahlungswinkel von 360° beziehungsweise Kunststoff-LED-Tropfenlampen mit einem Strahlungswinkel von 180°. </p>

</div>
