<div class="site_subpage_content n-space-top hide js-hide">
  <div class="subpage_slideshow n-slideshow">
    <div class="slides" id="sub_slideshow">

      <span class="item" data-title="Slide 1">
        <div class="image" style="background:url(/files/1753188.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Sima 5</div>
                <div class="banner_text">
                  5 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  24°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

      <span class="item" data-title="Slide 2">
        <div class="image" style="background:url(/files/1757259.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Sima 9</div>
                <div class="banner_text">
                  9 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  38°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

      <span class="item" data-title="Slide 3">
        <div class="image" style="background:url(/files/1753190.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Sima 16</div>
                <div class="banner_text">
                  16 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  38°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

      <span class="item" data-title="Slide 4">
        <div class="image" style="background:url(/files/1753191.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Sima 30</div>
                <div class="banner_text">
                  30 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  38°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

      <span class="item" data-title="Slide 5">
        <div class="image" style="background:url(/files/1753192.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Sima S9</div>
                <div class="banner_text">
                  9 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  24°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

      <span class="item" data-title="Slide 6">
        <div class="image" style="background:url(/files/1753193.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Sima S16</div>
                <div class="banner_text">
                  16 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  24°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

      <span class="item" data-title="Slide 7">
        <div class="image" style="background:url(/files/1753194.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Sima S30</div>
                <div class="banner_text">
                  30 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  24°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

    </div>
  </div>
</div>
