<div class="site_homepage">
    <div class="row">
        <div class="col-12">
            <h2 class="articles_title"><span>AKTUELLES</span></h2>
        </div>
    </div>
    <br />
	
<!-- 4. Nový web McLED -->
    <div class="row stretch">
        <div class="col-xs-12 col-md-6 col-xl-3 article_item">
            <h3>
                <a [routerLink]="['/neuheit']" fragment="neuheit4">Neues Web McLED</a>
            </h3>
            <p>
                Sehr geehrte Geschäftspartner, soeben wurde das neue Web McLED in Betrieb genommen! 
                <a [routerLink]="['/neuheit']" fragment="neuheit4" class="more fa_a_angle-double-right ">
                    Mehr
                </a>
            </p>
        </div>
		
<!-- 3. Nouzové osvětlení Cala E -->		
        <div class="col-xs-12 col-md-6 col-xl-3 article_item">
            <h3>
                <a [routerLink]="['/neuheit']" fragment="neuheit3">Notbeleuchtung Cala E</a>
            </h3>
            <p>
                Der neuen LED-Notleuchtenserie Cala E liegt das sehr beliebte Design unserer LED-Leuchten Cala zugrunde. Die Notleuchten Cala E verfügen über einen integrierten Akkumulator, welcher bei Stromausfall im voll aufgeladenen Zustand eine Betriebszeit von bis zu 1,5 Stunden ermöglicht. 
                <a [routerLink]="['/neuheit']" fragment="neuheit3" class="more fa_a_angle-double-right ">
                    Mehr
                </a>
            </p>
        </div>
	
<!-- 2. LED reflektor Flash s akumulátorem -->	
        <div class="col-xs-12 col-md-6 col-xl-3 article_item">
            <h3>
                <a [routerLink]="['/neuheit']" fragment="neuheit2">LED-Flash-Reflektor mit Akkumulator</a>
            </h3>
            <p>
               Unsere Angebotspalette an LED-Reflektoren umfasst ein neues Produkt - den LED-Flash-Reflektor 10, welcher über einen Akkumulator verfügt. Darüber hinaus ist dieses neue Produkt größenmäßig sehr kompakt und verfügt zusätzlich über einen praktischen Griff und Lampensockel.  
                <a [routerLink]="['/neuheit']" fragment="neuheit2" class="more fa_a_angle-double-right ">
                    Mehr
                </a>
            </p>
        </div>
		
<!-- 1. LED panely Office UGR<19  -->
        <div class="col-xs-12 col-md-6 col-xl-3 article_item">
            <h3>
                <a [routerLink]="['/neuheit']" fragment="neuheit1">LED-Leisten Office UGR<19</a>
            </h3>
            <p>
                Als Antwort auf die strengen Normanforderungen, aufgrund derer in Büroräumen nur ein sehr niedriger UGR-Wert (vereinheitlichte Blendungsbewertung) zulässig ist, haben wir eine neue Version für die meist genutzte LED-Bürobeleuchtung aus der Reihe Office entwickelt. Diese trägt den Namen „UGR<19“.  
                <a [routerLink]="['/neuheit']" fragment="neuheit1" class="more fa_a_angle-double-right ">
                    Mehr
                </a>
            </p>
        </div>

    </div>
</div>
