<div class="site_subpage_content n-space-top n-space-bottom">
  <h1 class="page_title">LED INDUSTRIEBELEUCHTUNG</h1>
  <div class="shop_categories_router">
  
    <div class="item">
      <a [routerLink]="['/led-industriebeleuchtung-fluter']" class="inside">
        <img src="/images/category/led-prumyslova-svitidla-reflektory.jpg" alt="Industriebeleuchtung Fluter" title="Industriebeleuchtung Fluter" />
        <h2>Fluter</h2>
      </a>
    </div>
	
    <div class="item">
      <a [routerLink]="['/led-industriebeleuchtung-fluter-sensor']" class="inside">
        <img src="/images/category/led-prumyslova-svitidla-senzorova.jpg" alt="Industriebeleuchtung Fluter + Senzor" title="Industriebeleuchtung Fluter + Senzor" />
        <h2>Fluter + Sensor</h2>
      </a>
    </div>
	
    <div class="item">
      <a [routerLink]="['/led-industriebeleuchtung-hallenleuchten']" class="inside">
        <img src="/images/category/led-prumyslova-svitidla-halova.jpg" alt="Industriebeleuchtung Hallenleuchten" title="Industriebeleuchtung Hallenleuchten" />
        <h2>Hallenleuchten</h2>
      </a>
    </div>
	
	<div class="item">
      <a [routerLink]="['/led-industriebeleuchtung-feuchtraumleuchten']" class="inside">
        <img src="/images/category/led-prumyslova-svitidla-prachotesna.jpg" alt="Industriebeleuchtung Feuchtraumleuchten" title="Industriebeleuchtung Feuchtraumleuchten" />
        <h2>Feuchtraumleuchten</h2>
      </a>
    </div>	
	
	<div class="item">
      <a [routerLink]="['/led-industriebeleuchtung-zubehoer']" class="inside">
        <img src="/images/category/led-prumyslova-svitidla-prislusenstvi.jpg" alt="Industriebeleuchtung Zubehoer" title="Industriebeleuchtung Zubehoer" />
        <h2>Zubehör</h2>
      </a>
    </div>

  </div>
</div>
