<div class="site_subpage_content n-space-top hide js-hide">
  <div class="subpage_slideshow n-slideshow">
    <div class="slides" id="sub_slideshow">

      <span class="item" data-title="Slide 1">
        <div class="image" style="background:url(/files/1753214.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Mold R16</div>
                <div class="banner_text">
                  16 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  100°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

      <span class="item" data-title="Slide 2">
        <div class="image" style="background:url(/files/1753215.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Mold R20</div>
                <div class="banner_text">
                  20 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  100°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

      <span class="item" data-title="Slide 3">
        <div class="image" style="background:url(/files/1753216.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Mold R30</div>
                <div class="banner_text">
                  30 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  100°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

    </div>
  </div>
</div>
