<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED Globe </h1>

<p>Wir präsentieren Ihnen die Sparlichtquellen LED-Globes mit Sockel E27. Aufgrund ihres angenehmen Lichts und der hohen Leistung werden diese Lichtquellen auch häufig in Lampen verwendet, wo diese Glühlampen nicht von einem Lampenschirm umgeben sind (vor allem bei der trüben Diffusor-Variante). Am häufigsten handelt es sich um Leuchter in Küchen und Wohnzimmern sowie um unterschiedliche Hängelampen in Haushalten, Geschäften, Restaurants, etc. </p>

<p>Unsere LED-Globes werden mit Sockel E27 sowie in der meist gewünschten Lichtfarbe – in warmem Weiß – und mit einer Leistung hergestellt, durch welche die klassische Glühlampe mit einer elektrischen Leistung von 60 oder 75 W ersetzt wird. Dieses Produkt wird in zwei verfügbaren Ausführungen angeboten – als Glaskolben mit einem Strahlungswinkel von 360° beziehungsweise als trüber Kolben mit einem Strahlungswinkel von 180°. </p>

</div>
