<div class="site_subpage_content n-space-top hide js-hide">
  <div class="subpage_slideshow n-slideshow">
    <div class="slides" id="sub_slideshow">

      <span class="item" data-title="Slide 1">
        <div class="image" style="background:url(/files/1753201.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Cristallo</div>
                <div class="banner_text">
                  16 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  110°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

    </div>
  </div>
</div>

<!-- druhý banner
      <span class="item" data-title="Slide 2">
        <div class="image" style="background:url(/files/1751615.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Calvia</div>
                <div class="banner_text">
                  5W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  100°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
-->
