<div class="site_subpage_content n-space-top hide js-hide">
  <div class="subpage_slideshow n-slideshow">
    <div class="slides" id="sub_slideshow">

      <span class="item" data-title="Slide 1">
        <div class="image" style="background:url(/files/1756887.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Nixo 8</div>
                <div class="banner_text">
                  8 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  100°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

      <span class="item" data-title="Slide 2">
        <div class="image" style="background:url(/files/1756888.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Nixo 12</div>
                <div class="banner_text">
                  12 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  100°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

      <span class="item" data-title="Slide 3">
        <div class="image" style="background:url(/files/1756889.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Nixo 18</div>
                <div class="banner_text">
                  18 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  100°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

     </div>
   </div>
 </div>
