<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED Strahler</h1>

<p> Wir präsentieren Ihnen ein vielfältiges Angebot an LED-Spar-Spots mit den Sockeln GU5,3 (MR16), GU10 und E14. Aufgrund ihres in der Regel engeren Strahlungswinkels werden die LED-Spots vielfältig genutzt. Sie sind in Bad-, Wohnzimmer-, Flur- und Küchenlampen zu finden sowie häufig auch in Lampen in Restaurants, Geschäften, Schaufenstern, etc. </p>

<p> Dieses Produkt wird in unterschiedlichen Leistungsvarianten angeboten (Ersatz für die Halogen-Glühlampen mit einer elektrischen Leistung von 20 bis 65 W) sowie mit unterschiedlichem Strahlungswinkel (36° – 100°), in unterschiedlichen Lichtfarbtemperaturen (warmes Weiß / neutrales Weiß / kaltes Weiß) und in verschiedenen Ausführungen - von den preislich günstigsten LED-Kunststoff-Spots über LED-Spots mit einem Spezialkeramik-Gehäuse bis hin zu den zuverlässigsten LED-Spots mit massivem Aluminium-Gehäuse. </p>

</div>
