<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED Kapseln</h1>

<p>Wir präsentieren Ihnen unser Angebot an LED-Sparkapseln mit den Sockeln G4 und G9. Die kleinen Lichtquellen finden am häufigsten in Lampen beziehungsweise in Deckenleuchten Anwendung. Sie sind in Wohnzimmern, Schlafzimmern und Bädern sowie in dekorativen Lampen auf Gängen, an Fassaden, etc. zu finden. </p>

<p> Dieses Produkt wird in unterschiedlichen Leistungsvarianten angeboten (Ersatz für die klassischen Kapseln mit einer elektrischen Leistung von 10 bis 30 W) sowie in der meist gewünschten Lichtfarbe – in warmem Weiß – und in verschiedenen Ausführungen hergestellt – von LED-Kapseln mit einem Strahlungswinkel von 140° bis hin zu den leistungsstärksten LED-Kapseln mit einem Strahlungswinkel von 360°. </p>

</div>
