<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED globe </h1>

<p>Představujeme Vám úsporné světelné zdroje LED globe s paticí E27. Tyto světelné zdroje jsou díky příjemnému světlu a vysokému výkonu používány často i ve svítidlech, která tyto žárovky nezakrývají stínítkem (především v případě varianty s mléčným difuzorem). Nejčastěji jsou to lustry v kuchyních a obývacích pokojích, různá závěsná svítidla v domácnostech, obchodech, restauracích apod. </p>
<p>Naše LED globy jsou vyrobeny s paticí E27, v nejžádanější teple bílé barvě světla a o výkonu nahrazujícím klasickou žárovku s příkonem 60 nebo 75 W. Vybírat můžete ze dvou dostupných provedení – skleněná baňka s vyzařovacím úhlem 360 °, případně mléčná baňka s vyzařovacím úhlem 180 °. </p>

</div>
