<div class="site_subpage_content n-space-top hide js-hide">
  <div class="subpage_slideshow n-slideshow">
    <div class="slides" id="sub_slideshow">

      <span class="item" data-title="Slide 1">
        <div class="image" style="background:url(/files/1753209.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Toro R</div>
                <div class="banner_text">
                  9-21 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  120°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

      <span class="item" data-title="Slide 2">
        <div class="image" style="background:url(/files/1753210.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">Toro S</div>
                <div class="banner_text">
                  9-21 W<br>
                  2700-5700 K<br>
                  IP 20<br>
                  120°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

    </div>
  </div>
</div>

