<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">LED INTERIOR BELEUCHTUNG</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-pendelleuchten']" class="inside">
                <img src="/images/category/interierova-svitidla-zavesna-svitidla.jpg" alt="LED Interior beleuchtung - Pendelleuchten" title="LED Interior beleuchtung - Pendelleuchten"/>
                <h2>PENDELLEUCHTEN</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-aufbauleuchten']" class="inside">
                <img src="/images/category/interierova-svitidla-prisazena-svitidla.jpg" alt="LED Interior beleuchtung - Aufbauleuchten" title="LED Interior beleuchtung - Aufbauleuchten"/>
                <h2>AUFBAULEUCHTEN</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-downlights']" class="inside">
                <img src="/images/category/interierova-svitidla-downlights.jpg" alt="LED Interior beleuchtung - Downlights" title="LED Interior beleuchtung - Downlights"/>
                <h2>DOWNLIGHTS</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-panel-leuchten']" class="inside">
                <img src="/images/category/interierova-svitidla-led-panely.jpg" alt="LED Interior beleuchtung LED panely" title="LED Interior beleuchtung LED panely"/>
                <h2>PANEL LEUCHTEN</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-einbauleuchten']" class="inside">
                <img src="/images/category/interierova-svitidla-podhledova.jpg" alt="LED Interior beleuchtung - Einbauleuchten" title="LED Interior beleuchtung - Einbauleuchten"/>
                <h2>EINBAULEUCHTEN</h2>
            </a>
        </div>
 <!--   <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-schienensysteme']" class="inside">
                <img src="/images/category/interierova-svitidla-listove-systemy.jpg" alt="LED Interior beleuchtung - Schienensysteme" title="LED Interior beleuchtung - Schienensysteme"/>
                <h2>SCHIENENSYSTEME</h2>
            </a>
        </div>-->
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-dekorative-leuchten']" class="inside">
                <img src="/images/category/interierova-svitidla-dekorativni-svitidla.jpg" alt="LED Interior beleuchtung - Dekorative leuchten" title="LED Interior beleuchtung - Dekorative leuchten"/>
                <h2>DEKORATIVE LEUCHTEN</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-wandleuchten']" class="inside">
                <img src="/images/category/interierova-svitidla-nastenna-svitidla.jpg" alt="LED Interior beleuchtung - Wandleuchten" title="LED Interior beleuchtung - Wandleuchten"/>
                <h2>WANDLEUCHTEN</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-sensorleuchten']" class="inside">
                <img src="/images/category/interierova-svitidla-senzorova-svitidla.jpg" alt="LED Interior beleuchtung - Sensorleuchten" title="LED Interior beleuchtung - Sensorleuchten" />
                <h2>SENSORLEUCHTEN</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-notbeleuchtung']" class="inside">
                <img src="/images/category/led-nouzove-osvetleni.jpg" alt="LED Interior beleuchtung - NOTBELEUCHTUNG" title="LED Interior beleuchtung - NOTBELEUCHTUNG"/>
                <h2>NOTBELEUCHTUNG</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-zubehoer']" class="inside">
                <img src="/images/category/interierova-svitidla-prislusenstvi.jpg" alt="LED Interior beleuchtung - Zubehör" title="LED Interior beleuchtung - Zubehör"/>
                <h2>ZUBEHÖR</h2>
            </a>
        </div>
    </div>
</div>
