<div class="site_subpage_content n-space-top">
    <h1 class="page_title">BARCELO</h1>

<p>Úsporná a moderní podhledová LED svítidla řady Barcelo v netradičním designu vynikají jednoduchou instalací a zajímavým zpracováním – část svítidla nepatrně vyčnívá z podhledu a jeho boční stěna je opatřena úzkým průsvitným rámečkem. Při rozsvícení se tak rozzáří i tento okraj LED svítidla, které díky tomu působí i jako zajímavý designový prvek. </p>

<p>Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), ve tvaru čtverce nebo kruhu, o rozměrech 95 x 95 mm (čtverec) nebo průměru 95 mm, ve výkonu nahrazujícím až svítidla s 70 W halogenovou žárovkou. Svítidla se ideálně hodí jako dekorativní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80. </p>

</div>
