<div class="site_subpage_content n-space-top">
    <h1 class="page_title">GAMA</h1>

<p>Die modernen LED-Sparreflektoren aus der Reihe Gama stellen einen idealen Ersatz für ältere Halogenreflektoren dar. Diese LED-Leuchten zeichnen sich durch eine hohe spezifische Leistung, eine präzise Bearbeitung, eine einfache Installation sowie durch die vielfältigen Verwendungsmöglichkeiten aus. </p>

<p>Die LED-Reflektoren Gama werden in neutraler weißer Lichtfarbe angeboten, welche bei diesem Lampentyp am meisten gefragt ist. Der Farbwiedergabeindex (CRI) ist bei dieser LED-Leuchte > 80. Es gibt Leistungsvarianten von 150 W und 200 W. </p>

</div>
