<div class="site_subpage_content n-space-top">
    <h1 class="page_title">COMET</h1>

<p> Die modernen LED-Sparleuchten aus der Reihe Comet im interessanten Design zeichnen sich durch eine hohe Leistung sowie durch einen niedrigen Stromverbrauch, eine einfache Installation und durch die Befestigung mit den mitgelieferten Griffen aus, dank derer sich die Leuchten mühelos befestigen lassen. Zur Leuchte ist auch ein Aufhängesatz käuflich erhältlich, mit welchem diese LED-Leuchte einfach aufgehängt werden kann. Im Vergleich mit den klassischen staubdichten Lampen sind unsere LED-Leuchten Comet gerade wegen ihrer geringen Höhe sowie der auf den ersten Blick erkennbaren schöneren und moderneren Bearbeitung beliebt.</p>

<p>Die LED-Leuchten Comet werden in neutraler weißer Lichtfarbe angeboten sowie in den Längen 600 bis 1.500 mm und in Leistungsvarianten, durch welche Lampen von bis zu 2x 58 W mit Leuchtstoffröhren ersetzt werden. Die Leuchten sind ideal als Hauptbeleuchtung geeignet. Die leistungsstärkeren Varianten (Comet D) verfügen darüber hinaus über eine Serienschaltungsmöglichkeit. Die Leuchten strahlen sofort mit voller Leistung, der Farbwiedergabeindex ist >80. </p>

</div>
