<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LEDtec</h1>

<p>Bei den modernen LED-Sparreflektoren aus der Reihe LEDtec handelt es sich um die Spitze unter den aktuellen LED-Reflektoren und sie sind ein idealer Ersatz für ältere Metallhalogenlampen. Diese LED-Leuchten zeichnen sich durch eine hohe spezifische Leistung, die kompakten Maße, eine lange Lebensdauer sowie durch die vielfältigen Verwendungsmöglichkeiten aus. Die LED-Reflektoren LEDtec leuchten sofort mit voller Leistung, verfügen über LED-Markenchips mit hohem Farbwiedergabeindex und können auch über Dimmer reguliert werden. </p>

<p>Die LED-Reflektoren LEDtec werden in neutraler weißer Lichtfarbe (5.000 K) angeboten, welche bei diesem Lampentyp am meisten gefragt ist. Es gibt Leistungsvarianten von 100 bis 200 W, mit einem Strahlungswinkel von 120°. Als Zubehör können auch Aluminiumreflektoren gekauft werden. Dadurch kann der Strahlungswinkel der Leuchten verändert werden. Zu diesen LED-Leuchten werden auch Bewegungssensoren sowie ein DALI-Vorschaltwiderstand angeboten. </p>

</div>
