<div class="site_subpage_content n-space-top">
    <h1 class="page_title">JOLLY</h1>

<p>Úsporná a moderní LED podhledová svítidla řady Jolly v jednoduchém funkčním designu vynikají snadnou instalací pomocí dodávaných pružin, vysokým výkonem a nízkou spotřebou energie. Jejich speciální reflektor tvořený velkým množstvím přesně nasměrovaných zrcátek umožňuje směrování světla v úzkém paprsku. </p>

<p>Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), o průměru 70 mm, ve výkonu nahrazujícím až svítidla s 65 W halogenovou žárovkou. Svítidla se ideálně hodí jako bodové osvětlení, které neoslňuje, dodává prostoru na plastičnosti a atraktivitě. Svítidla okamžitě svítí na plný výkon, index věrnosti podání barev >80.</p>

</div>
