<div class="site_subpage_content n-space-top n-space-bottom">
 <h1 class="page_title">Download</h1>
 <div class="container fluid nospace download_page">
 
<!--- FIREMNÍ - první část -->	
        <H2 id="Logo">Logo</H2>
		<a href="/files/1756495.zip" alt="Logo" title="Logo" download="Logo.zip">Logo</a> <small> (.zip)</small>
	<br>
	<br>
	
<!--- KATALOG - druhá část -->	
    <H2 id="Kataloge">Kataloge</H2>
		<a href="/files/1762031.pdf" alt="LED Leuchtmittel" name="Leuchtmittel" title="Leuchtmittel" target="_blank">Katalog LED Leuchtmittel</a> <small> (.pdf)</small><br>
		<a href="/files/1762033.pdf" alt="LED Scheinwerfer" name="Scheinwerfer" title="Scheinwerfer" target="_blank">Katalog LED Scheinwerfer</a> <small> (.pdf)</small><br>
		<a href="/files/1762034.pdf" alt="LED Scheinwerfer-Persea und Gama" name="Scheinwerfer" title="Scheinwerfer" target="_blank">Katalog LED Scheinwerfer - Persea und Gama</a> <small> (.pdf)</small><br>
		<a href="/files/1762035.pdf" alt="LED Industriebeleuchtung" name="Industriebeleuchtung" title="Industriebeleuchtung" target="_blank">Katalog LED Industriebeleuchtung</a> <small> (.pdf)</small><br>
		<a href="/files/1762036.pdf" alt="LED Stripes" name="Stripes" title="Stripes" target="_blank">Katalog LED Stripes</a> <small> (.pdf)</small><br>
	<br>

<!--- LETÁKY - třetí část -->
<!--
    <H2 id="Flugblatter">Flugblätter</H2>
 
	<H4>LED Leuchtmittel</H4>
	<ul style="margin-top: 0px;">
		<li> <a href="/files/1756551.pdf" alt="LEDtube T8" name="LEDtube" title="LEDtube" target="_blank">LEDtube T8</a> <small> (.pdf)</small></li>
		<li> <a href="/files/1756550.pdf" alt="LEDtube" name="LEDtube" title="LEDtube" target="_blank">LEDtube - amortationsrechnung</a> <small> (.pdf)</small> </li>
	</ul>

	<br>
	
	<H4>LED Interior beleuchtung</H4>
	<ul style="margin-top: 0px;">
		<li> <a href="/files/1756540.pdf" alt="Cristallo" name="Cristallo" title="Cristallo" target="_blank">Cristallo S, Cristallo R</a> <small> (.pdf)</small></li>
		<li> <a href="/files/1756541.pdf" alt="Faro" name="Faro" title="Faro" target="_blank">Faro R</a> <small> (.pdf)</small> </li>
		<li> <a href="/files/1756542.pdf" alt="Sima 9-30, Jolly 9" name="Sima, Jolly" title="Sima, Jolly" target="_blank">Sima, Jolly</a> <small> (.pdf)</small> </li>
		<li> <a href="/files/1756543.pdf" alt="Nixo 8-18, Pop 5" name="Nixo, Pop" title="Nixo, Pop" target="_blank">Nixo, Pop</a> <small> (.pdf)</small> </li>
		<li> <a href="/files/1756546.pdf" alt="Toro S9-21, Toro R9-21" name="Toro S9-21, Toro R9-21" title="Toro S9-21, Toro R9-21" target="_blank">Toro S, Toro R</a> <small> (.pdf)</small> </li>
		<li> <a href="/files/1756544.pdf" alt="Toro R25-48" name="Toro R25-48" title="Toro R25-48" target="_blank">Toro R</a> <small> (.pdf)</small> </li>
		<li> <a href="/files/1756558.pdf" alt="Inca 75-150, Calvia 75-150" name="Inca, Calvia" title="Inca, Calvia" target="_blank">Inca, Calvia</a> <small> (.pdf)</small> </li>
		<li> <a href="/files/1756559.pdf" alt="Cala" name="Cala" title="Cala" target="_blank">Cala, Cala D</a> <small> (.pdf)</small> </li>
		<li> <a href="/files/1756560.pdf" alt="Mold R16-30, Gap 8" name="Mold, Gap 8" title="Mold, Gap 8" target="_blank">Mold R, Gap 8</a> <small> (.pdf)</small> </li>
		<li> <a href="/files/1756561.pdf" alt="Mondi R35-48" name="Mondi" title="Mondi" target="_blank">Mondi R</a> <small> (.pdf)</small> </li>
		<li> <a href="/files/1756562.pdf" alt="Sima 5, Sima S9-30" name="Sima" title="Sima" target="_blank">Sima, Sima S</a> <small> (.pdf)</small> </li>
	<br>
		<li> <a href="/files/1756569.pdf" alt="Office 6060" name="Office 6060" title="Office 6060" target="_blank">Office 6060</a> <small> (.pdf)</small> </li>
		<li> <a href="/files/1756557.pdf" alt="Office 12030, Office 12060" name="Office" title="Office" target="_blank">Office 12030, Office 12060</a> <small> (.pdf)</small> </li>
		<li> <a href="/files/1756553.pdf" alt="Office UGR" name="Office UGR" title="Office UGR" target="_blank">Office 6060 UGR, Office 12030 UGR</a> <small> (.pdf)</small> </li>
	</ul>	
		
	<br>	
	
	<H4>LED Industriebeleuchtung</H4>
	<ul style="margin-top: 0px;">
		<li> <a href="/files/1756548.pdf" alt="LEDtec" name="LEDtec" title="LEDtec" target="_blank">LEDtec Print</a> <small> (.pdf)</small></li>
		<li> <a href="/files/1756549.pdf" alt="LEDtec" name="LEDtec" title="LEDtec" target="_blank">LEDtec Hallenbeleuchtung</a> <small> (.pdf)</small></li>
	</ul>
	<br>
-->
		
<!--- Návody - čtvrtá část -->	
    <H2 id="Anleitungen">Inst. Anleitungen</H2>
		<a href="/files/1761496.pdf" alt="Cala, Cala D" title="Cala, Cala D" target="_blank">Inst. Anleitungen - Cala, Cala D</a> <small> (.pdf)</small><br>
		<a href="/files/1761497.pdf" alt="Gama" title="Gama 75" target="_blank">Inst. Anleitungen - Gama</a> <small> (.pdf)</small><br>
		<a href="/files/1761498.pdf" alt="LEDtube T8" title="LEDtube T8" target="_blank">Inst. Anleitungen - LEDtube T8_01</a> <small> (.pdf)</small><br>
		<a href="/files/1761499.pdf" alt="LEDtube T8" title="LEDtube T8" target="_blank">Inst. Anleitungen - LEDtube T8_02</a> <small> (.pdf)</small><br>
		<a href="/files/1761500.pdf" alt="Mondi, Toro" title="Mondi, Toro" target="_blank">Inst. Anleitungen - Mondi, Toro</a> <small> (.pdf)</small><br>
		<a href="/files/1761501.pdf" alt="Persea" title="Persea" target="_blank">Inst. Anleitungen - Persea</a> <small> (.pdf)</small>
	
<br>	
<br>		
<!--- ELUMDATA - pátá část -->	
        <H2 id="Elumdata">Elumdata</H2>
<a href="/files/1764989.zip" alt="Elumdata" title="Elumdata" download="Elumdata" target="_blank">All zip<small> (.zip)</small></a>

<br>
<br>
		
	<ul style="margin-top: 0px;">
<!--	<li> <a href="/files/1763640.ies" alt="Barcelo R5" title="Barcelo R5" download="Barcelo_R5.IES">Barcelo R5, 5W</a> <small> (.IES)</small></li> -->
		<li> <a href="/files/1763642.ies" alt="Barcelo R10" title="Barcelo R10" download="Barcelo_R10.IES">Barcelo R10, 10W</a> <small> (.IES)</small></li>
<!--	<li> <a href="/files/1763643.ies" alt="Barcelo S5" title="Barcelo S5" download="Barcelo_S5.IES">Barcelo S5, 5W</a> <small> (.IES)</small></li> -->
		<li> <a href="/files/1763644.ies" alt="Barcelo S10" title="Barcelo S10" download="Barcelo_S10.IES">Barcelo S10, 10W</a> <small> (.IES)</small></li>
		<li> <a href="/files/1763776.IES" alt="Cala 12" title="Cala 12" download="Cala_12.IES">Cala 12, 12W</a> <small> (.IES)</small></li>
		<li> <a href="/files/1763777.IES" alt="Cala 18" title="Cala 18" download="Cala_18.IES">Cala 18, 18W</a> <small> (.IES)</small></li>
		<li> <a href="/files/1763647.IES" alt="Cala 32" title="Cala 32" download="Cala_32.IES">Cala 32, 32W</a> <small> (.IES)</small></li>
		<li> <a href="/files/1763648.IES" alt="Calvia 75" title="Calvia 75" download="Calvia_75.IES">Calvia 75, 13W</a> <small> (.IES)</small></li>
		<li> <a href="/files/1763649.IES" alt="Calvia 150" title="Calvia 150" download="Calvia_150.IES">Calvia 150, 26W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763650.IES" alt="Comet D600" title="Comet D600" download="Comet_D600.IES">Comet D600, 24W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763651.IES" alt="Comet D1200" title="Comet D1200" download="Comet_D1200.IES">Comet D1200, 50W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763652.IES" alt="Comet D1500" title="Comet D1500" download="Comet_D1500.IES">Comet D1500, 60W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763653.IES" alt="Comet S600" title="Comet S600" download="Comet_S600.IES">Comet S600, 10W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763690.IES" alt="Comet S1200" title="Comet S1200" download="Comet_S1200.IES">Comet S1200, 24W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763654.IES" alt="Comet S1500" title="Comet S1500" download="Comet_S1500.IES">Comet S1500, 32W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763655.ies" alt="Cristallo R16" title="Cristallo R16" download="Cristallo_R16.IES">Cristallo R16, 16W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763656.ies" alt="Cristallo S16" title="Cristallo S16" download="Cristallo_S16.IES">Cristallo S16, 16W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763657.IES" alt="Faro R10" title="Faro R10" download="Faro_R10.IES">Faro R10, 10W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763665.IES" alt="Faro R14" title="Faro R14" download="Faro_R14.IES">Faro R14, 14W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763658.IES" alt="Faro R20" title="Faro R20" download="Faro_R20.IES">Faro R20, 20W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763659.IES" alt="Faro R25" title="Faro R25" download="Faro_R25.IES">Faro R25, 25W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765209.IES" alt="Faro AR10" title="Faro AR10" download="Faro_AR10.IES">Faro AR10, 10W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765841.IES" alt="Faro AR18" title="Faro AR18" download="Faro_AR18.IES">Faro AR18, 18W</a> <small> (.IES)</small> </li> 
		<li> <a href="/files/1765210.IES" alt="Faro AR25" title="Faro AR25" download="Faro_AR25.IES">Faro AR25, 25W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765842.IES" alt="Faro AR35" title="Faro AR35" download="Faro_AR35.IES">Faro AR35, 35W</a> <small> (.IES)</small> </li> 
		<li> <a href="/files/1763660.IES" alt="Gama 150" title="Gama 150" download="Gama_150.IES">Gama 150, 150W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763661.IES" alt="Gama 200" title="Gama 200" download="Gama_200.IES">Gama 200, 200W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765785.IES" alt="Gap 8" title="Gap 8" download="Gap_8.IES">Gap 8, 8W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763662.IES" alt="Inca 75" title="Inca 75" download="Inca_75.IES">Inca 75, 13W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763663.IES" alt="Inca 150" title="Inca 150" download="Inca_150.IES">Inca 150, 26W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763664.ies" alt="Jolly 9" title="Jolly 9" download="Jolly_9.IES">Jolly 9, 9W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763673.IES" alt="LEDtec 100" title="LEDtec 100" download="LEDtec_100.IES">LEDtec 100, 100W, 60°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763674.IES" alt="LEDtec 100" title="LEDtec 100" download="LEDtec_100.IES">LEDtec 100, 100W, 70°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763675.IES" alt="LEDtec 100" title="LEDtec 100" download="LEDtec_100.IES">LEDtec 100, 100W, 90°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763676.IES" alt="LEDtec 100" title="LEDtec 100" download="LEDtec_100.IES">LEDtec 100, 100W, 100°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763677.IES" alt="LEDtec 100" title="LEDtec 100" download="LEDtec_100.IES">LEDtec 100, 100W, 120°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763678.IES" alt="LEDtec 150" title="LEDtec 150" download="LEDtec_150.IES">LEDtec 150, 150W, 60°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763679.IES" alt="LEDtec 150" title="LEDtec 150" download="LEDtec_150.IES">LEDtec 150, 150W, 70°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763680.IES" alt="LEDtec 150" title="LEDtec 150" download="LEDtec_150.IES">LEDtec 150, 150W, 90°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763681.IES" alt="LEDtec 150" title="LEDtec 150" download="LEDtec_150.IES">LEDtec 150, 150W, 100°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763682.IES" alt="LEDtec 150" title="LEDtec 150" download="LEDtec_150.IES">LEDtec 150, 150W, 120°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763683.IES" alt="LEDtec 200" title="LEDtec 200" download="LEDtec_200.IES">LEDtec 200, 200W, 60°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763684.IES" alt="LEDtec 200" title="LEDtec 200" download="LEDtec_200.IES">LEDtec 200, 200W, 70°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763686.IES" alt="LEDtec 200" title="LEDtec 200" download="LEDtec_200.IES">LEDtec 200, 200W, 90°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763687.IES" alt="LEDtec 200" title="LEDtec 200" download="LEDtec_200.IES">LEDtec 200, 200W, 100°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763688.IES" alt="LEDtec 200" title="LEDtec 200" download="LEDtec_200.IES">LEDtec 200, 200W, 120°</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765786.IES" alt="Mold R16" title="Mold R16" download="Mold_R16.IES">Mold R16, 16W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765787.IES" alt="Mold R20" title="Mold R20" download="Mold_R20.IES">Mold R20, 20W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765788.IES" alt="Mold R30" title="Mold R30" download="Mold_R30.IES">Mold R30, 30W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765789.IES" alt="Nixo 8" title="Nixo 8" download="Nixo_8.IES">Nixo 8, 8W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765790.IES" alt="Nixo 12" title="Nixo 12" download="Nixo_12.IES">Nixo 12, 12W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765791.IES" alt="Nixo 18" title="Nixo 18" download="Nixo_18.IES">Nixo 18, 18W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763693.IES" alt="Office 6030" title="Office 6030" download="Office_6030.IES">Office 6030, 18W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763694.IES" alt="Office 6060 UGR" title="Office 6060 UGR" download="Office_6060_UGR.IES">Office 6060 UGR, 40W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763695.IES" alt="Office 6060" title="Office 6060" download="Office_6060.IES">Office 6060, 40W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763696.IES" alt="Office 12030 UGR" title="Office 12030 UGR" download="Office_12030_UGR.IES">Office 12030 UGR, 34W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763697.IES" alt="Office 12030" title="Office 12030" download="Office_12030.IES">Office 12030, 40W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763698.IES" alt="Office 12060" title="Office 12060" download="Office_12060.IES">Office 12060, 58W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765208.IES" alt="Orion 10" title="Orion 10" download="Orion_10.IES">Orion 10, 10W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763699.IES" alt="Orion 30" title="Orion 30" download="Orion_30.IES">Orion 30, 30W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763702.IES" alt="Orion 50" title="Orion 50" download="Orion_50.IES">Orion 50, 50W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763703.IES" alt="Orion 120" title="Orion 120" download="Orion_120.IES">Orion 120, 120W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765792.IES" alt="Persea 10" title="Persea 10" download="Persea_10.IES">Persea 10, 10W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765793.IES" alt="Persea 30" title="Persea 30" download="Persea_30.IES">Persea 30, 30W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765794.IES" alt="Persea 50" title="Persea 50" download="Persea_50.IES">Persea 50, 50W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765795.IES" alt="Persea 100" title="Persea 100" download="Persea_100.IES">Persea 100, 100W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1765796.IES" alt="Pop 5" title="Pop 5" download="Pop_5.IES">Pop 5, 5W</a> <small> (.IES)</small> </li>
<!--	<li> <a href="/files/1763779.LDT" alt="Shark 35" title="Shark 35" download="Shark_35.LDT">Shark 35, 35W</a> <small> (.LDT)</small> </li>
		<li> <a href="/files/1763705.ldt" alt="Shark 60" title="Shark 60" download="Shark_60.LDT">Shark 60, 60W</a> <small> (.LDT)</small> </li>
		<li> <a href="/files/1763706.ldt" alt="Shark 90" title="Shark 90" download="Shark_90.LDT">Shark 90, 90W</a> <small> (.LDT)</small> </li>
		<li> <a href="/files/1763707.ldt" alt="Shark 120" title="Shark 120" download="Shark_120.LDT">Shark 120, 120W</a> <small> (.LDT)</small> </li>   -->
		<li> <a href="/files/1763708.ies" alt="Sima 5" title="Sima 5" download="Sima_5.IES">Sima 5, 5W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763709.ies" alt="Sima 9" title="Sima 9" download="Sima_9.IES">Sima 9, 9W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763710.ies" alt="Sima 16" title="Sima 16" download="Sima_16.IES">Sima 16, 16W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763711.ies" alt="Sima 30" title="Sima 30" download="Sima_30.IES">Sima 30, 30W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763713.ies" alt="Toro R9" title="Toro R9" download="Toro_R9.IES">Toro R9, 9W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763716.ies" alt="Toro R15" title="Toro R15" download="Toro_R15.IES">Toro R15, 15W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763717.ies" alt="Toro R21" title="Toro R21" download="Toro_R21.IES">Toro R21, 21W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763718.ies" alt="Toro S9" title="Toro S9" download="Toro_S9.IES">Toro S9, 9W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763719.ies" alt="Toro S15" title="Toro S15" download="Toro_S15.IES">Toro S15, 15W</a> <small> (.IES)</small> </li>
		<li> <a href="/files/1763720.ies" alt="Toro S21" title="Toro S21" download="Toro_S21.IES">Toro S21, 21W</a> <small> (.IES)</small> </li>		
		<li> <a href="/files/1763721.IES" alt="Troll 10" title="Troll 10" download="Troll_10.IES">Troll 10, 10W</a> <small> (.IES)</small> </li>		
		<li> <a href="/files/1763722.IES" alt="Troll 20" title="Troll 20" download="Troll_20.IES">Troll 20, 20W</a> <small> (.IES)</small> </li>		
		<li> <a href="/files/1763723.IES" alt="Troll 30" title="Troll 30" download="Troll_30.IES">Troll 30, 30W</a> <small> (.IES)</small> </li>		
		<li> <a href="/files/1763724.IES" alt="Troll 50" title="Troll 50" download="Troll_50.IES">Troll 50, 50W</a> <small> (.IES)</small> </li>		
	</ul>
 </div>
</div>
