<div class="site_subpage_content n-space-top n-space-bottom"> 
<div class="articles_list">
      <h2 class="title">Aktualität</h2>

<!-- 4. Nový web McLED -->
      <article>
        <span class="date">01.03.2017</span>
        <h3 class="title" id="neuheit4">
          Neues Web McLED 
        </h3>
        <p>
          Sehr geehrte Geschäftspartner, soeben wurde das neue Web McLED in Betrieb genommen! 
          <a href="javascript:void(0);" (click)="a4=true" *ngIf="!a4" class="more">Mehr</a>
        </p>
        <p class="hidden" *ngIf="a4">
          Sie können aus einem vielfältigen Angebot an hochwertigen LED-Leuchten für den Innenbereich sowie an LED-Lichtquellen und LED-Reflektoren wählen. Unser Angebot wird ständig erweitert. Aus diesem Grund können Sie sicher sein, dass Sie bei uns immer aktuelle Produkte zu fairen Preisen finden. 
        </p>
      </article>	  
	  
<!-- 3. Nouzové osvětlení Cala E -->
      <article>
        <span class="date">10.02.2017</span>
        <h3 class="title" id="neuheit3">
          Notbeleuchtung Cala E
        </h3>
        <p>
          Der neuen LED-Notleuchtenserie Cala E liegt das sehr beliebte Design unserer LED-Leuchten Cala zugrunde. Die Notleuchten Cala E verfügen über einen integrierten Akkumulator, welcher bei Stromausfall im voll aufgeladenen Zustand eine Betriebszeit von bis zu 1,5 Stunden ermöglicht. 
          <a href="javascript:void(0);" (click)="a3=true" *ngIf="!a3" class="more">Mehr</a>
        </p>
        <p class="hidden" *ngIf="a3">
          Die LED-Leuchten Cala E sind in drei Leistungsvarianten erhältlich, wobei die Leistung bei Akku-Betrieb auf 50 bzw. 30 % reduziert wird.  
        </p>
      </article>	  
	  
<!-- 2. LED reflektor Flash s akumulátorem -->
      <article>
        <span class="date">09.02.2017</span>
        <h3 class="title" id="neuheit2">
          LED-Flash-Reflektor mit Akkumulator
        </h3>
        <p>
          Unsere Angebotspalette an LED-Reflektoren umfasst ein neues Produkt - den LED-Flash-Reflektor 10, welcher über einen Akkumulator verfügt. Darüber hinaus ist dieses neue Produkt größenmäßig sehr kompakt und verfügt zusätzlich über einen praktischen Griff und Lampensockel.  
        <a href="javascript:void(0);" (click)="a2=true" *ngIf="!a2" class="more">Mehr</a>
        </p>
        <p class="hidden" *ngIf="a2">
			Mit diesen Eigenschaften können Sie den neuen LED-Flash-Reflektor 10 auch dort verwenden, wo kein elektrischer Strom vorhanden ist. Z. B. zu Hause bei einem Stromausfall oder in der Natur. Der Reflektor passt einfach in den Kofferraum und fungiert auch bei einer Panne als Lichtquelle sowie bei Reparaturen an der Elektroinstallation, wo der Strom abgestellt werden muss. 
		</p>
        <p class="hidden" *ngIf="a2">
			Der LED-Flash-Reflektor 10 mit Akkumulator kann auch über das automatische Ladegerät aufgeladen werden, welches zum Verpackungsinhalt gehört. Die Betriebszeit im voll aufgeladenen Zustand beträgt bis zu 3,5 Stunden. 
        </p>
      </article>
	  
<!-- 1. LED panely Office UGR<19  -->
      <article>
        <span class="date">08.02.2017</span>
        <h3 class="title" id="neuheit1">
          LED-Leisten Office UGR<19  
        </h3>
        <p>
			Als Antwort auf die strengen Normanforderungen, aufgrund derer in Büroräumen nur ein sehr niedriger UGR-Wert (vereinheitlichte Blendungsbewertung) zulässig ist, haben wir eine neue Version für die meist genutzte LED-Bürobeleuchtung aus der Reihe Office entwickelt. Diese trägt den Namen „UGR<19“.  
		</p>
		<p>
			Über einen prismatischen Spezialdiffusor, über welchen diese neue LED-Leistenvariante aus der Reihe Office mit dem Namen UGR verfügt, ist gewährleistet, dass unter Standardbedingungen ein maximaler UGR-Wert von 19 erreicht wird. Und dies ist genau der Wert, welcher aufgrund der Norm für Büroräume und Bürotätigkeiten noch zulässig ist. 
          <a href="javascript:void(0);" (click)="a1=true" *ngIf="!a1" class="more">Mehr</a>
        </p>
        <p class="hidden" *ngIf="a1">
			Bei UGR handelt es sich um eine Abkürzung der englischen Wortverbindung <i>unified glare rating</i>, was eines der Blendungsbewertungssysteme darstellt. Den UGR-Wert erhält man durch Berechnung einer empirischen Formel, in deren Ergebnis man eine dimensionslose Zahl erhält (derzeit erfolgt die Berechnung des UGR-Werts in der Regel über intelligente Programme zur Beleuchtungsberechnung). 
        </p>
      </article>
	  
    </div>
</div>

