<div class="site_subpage_content n-space-top">
    <h1 class="page_title">FARO AR</h1>

<p> Die modernen LED-Sparleuchten für Deckenabhängungen aus der Reihe Faro im interessanten Design zeichnen sich durch eine hohe Leistung sowie durch einen niedrigen Stromverbrauch, eine einfache Installation und auch durch eine Spezialkante aus, durch welche das Blenden reduziert wird. Durch deren Spezial-Diffusor ist eine gleichmäßige Lichtstreuung über die gesamte Lichtfläche sowie ein breiter Strahlungswinkel gewährleistet. Dank der Schutzart IP44 sind die LED-Leuchten Faro auch für Bereiche mit höherer Feuchtigkeit (z. B. Bäder) geeignet. </p>

<p> Die Leuchten werden in zwei generellen Lichtfarbtemperaturen (in warmem oder neutralem Weiß) angeboten sowie mit einem Durchmesser von 113 bis 279 mm und in Leistungsvarianten, durch welche Lampen mit einer CFL-Glühlampe von 2x 32 W ersetzt werden. Die Leuchten sind ideal als Hauptbeleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80.</p>

</div>
