<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED kerzen</h1>

<p>Wir präsentieren Ihnen unser Angebot an LED-Sparkerzen mit Sockel E14. Lichtquellen mit diesem Sockel sind sehr häufig in den unterschiedlichsten Leuchtern und Lampen zu finden – in der Regel in Wohn- und Schlafzimmern sowie in Hotels, Bädern, etc. </p>

<p> Dieses Produkt wird in mehreren Leistungsvarianten angeboten (Ersatz für die klassischen Glühlampen mit einer elektrischen Leistung von 25 bis 40 W) sowie in unterschiedlichen Lichtfarbtemperaturen (warmes Weiß / neutrales Weiß) und in zwei Ausführungen – LED-Kerzen mit Aluminium-Kühlkörper im Kunststoffgehäuse beziehungsweise LED-Kerzen mit maximalem Strahlungswinkel – bis 360°. Diese LED-Glaskerzen bieten wir auch in einer speziellen Designvariante an. </p>


</div>
