<div class="site_subpage_content n-space-bottom">
    <hr />
    <div class="container fluid nospace">
        <div class="row">
		
<!-- skrytá část s odkazem na stažení .PDFka	
            <div class="col-xs-12 col-md-7 col-xl-9">	
				<div class="downloads_list">				
					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756513" class="download fa_a_download" alt="LEDtube T8" name="LEDtube" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            LED Scheinwerfer <small>(.pdf)</small>
                        </h2>
					</div>
				</div> 
			</div>
-->	
			
			<div class="col-xs-12 col-md-12 col-xl-12">			
<p>Das Angebot der Firma McLED<sup>®</sup> umfasst ein vielfältiges Sortiment an zuverlässigen LD-Leuchten für den Innenbereich, welche sich durch eine hohe Qualität, eine präzise Bearbeitung, ein fortschrittliches Design sowie durch eine lange Lebensdauer auszeichnen.</p>

<p>Die LED-Leuchten haben wir für Sie in einzelne Kategorien entsprechend den typischen Verwendungsarten unterteilt.Somit können Sie unter Leuchten wählen, welche zur Montage in Rigips-Platten bestimmt sind sowie des Weiteren unter Leuchten, welche zum Aufhängen bestimmt sind, unter dekorativen Leuchten, etc. </p>

            </div>
			
		<!-- pravá část - rozdělení na dvě části obrazovku
			<div class="col-xs-12 col-md-7 col-xl-9">

            <div class="col-xs-12 col-md-5 col-xl-3">
			

                <div class="product_action_sidebox nospace-left">
                    <div class="texts">
                        <h3 class="title">Akce</h3>
                        <p>
                            LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                        </p>
                        <div class="price_buy">
                            <a [routerLink]="['/']" class="buy"></a>
                            <div class="prices">
                                <div class="old">4 999 Kč</div>
                                <div class="primary">3 999 Kč</div>
                                <div class="secondary">4 499 Kč bez DPH</div>
                            </div>
                        </div>
                    </div>
                    <a class="image">
                        <img src="/images/example/121.255.10_0_L.jpg" alt="" />
                    </a>
                </div>
		
		
            </div>
		-->
        </div>
    </div>
</div>
