<div class="site_subpage_content n-space-top">
    <h1 class="page_title">POP</h1>

<p> Die modernen LED-Sparleuchten für Deckenabhängungen aus der Reihe Pop im originellen Design zeichnen sich durch eine einfache Installation und vor allem durch eine interessante Bearbeitung aus – ein klarer Lampen-Diffusor ragt aus der Unterdecke heraus und lässt somit den Eindruck einer unauffälligen Aufsatzleuchte entstehen. Beim Einschalten des Lichts beginnt der komplette Diffusor zu strahlen, wodurch ein sehr spannender Effekt erzielt wird, der Ihnen sicher auf den ersten Blick gefallen wird. </p>

<p> Die Leuchten werden in zwei generellen Lichtfarbtemperaturen (in warmem oder neutralem Weiß) angeboten sowie mit einem Durchmesser von 80 mm und in Leistungsvarianten, durch welche Lampen mit einer klassischen 40-W-Glühlampe ersetzt werden. Die Leuchten sind ideal als Haupt- oder dekorative Beleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80. </p>

</div>
