<div class="site_subpage_content n-space-top">
    <h1 class="page_title">OFFICE 12060</h1>

<p>Die modernen LED-Sparleuchten aus der Reihe Office im beliebten Design zeichnen sich durch eine hohe Leistung, einen niedrigen Stromverbrauch, eine einfache Installation und durch das vielfältige Zubehör aus, mit welchem die Leuchten sowohl in Deckenabhängungen installiert als auch mit Clips aufgesetzt beziehungsweise aufgehängt werden können. Durch den Spezial-Diffusor ist eine gleichmäßige Lichtstreuung über die gesamte Lichtfläche sowie ein breiter Strahlungswinkel gewährleistet. </p>

<p>Diese LED-Leuchten werden in neutraler weißer Lichtfarbe angeboten, welche bei diesem Lampentyp am meisten gefragt ist und dem natürlichen Tageslicht am nächsten kommt. Die Leuchten werden mit einem Rahmen im anodisierenden Aluminium-Farbton hergestellt. Die Maße der LED-Leuchten betragen 595 x 1.195 mm, wobei sie größenmäßig die älteren Leuchtstofflampentypen ersetzen, welche für vier 36-W-Röhren bestimmt sind. Die Leuchten sind ideal als Hauptbeleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80. </p>

</div>
