<div class="site_subpage_content n-space-top">
    <h1 class="page_title">POP</h1>

<p>Úsporná a moderní podhledová LED svítidla řady Pop v originálním designu vynikají jednoduchou instalací a především zajímavým zpracováním – čirý difuzor svítidla vyčnívá z podhledu a působí tak dojmem nenápadného přisazeného svítidla. Při rozsvícení se celý tento difuzor rozzáří, díky tomu je dosaženo velmi poutavého efektu, který se Vám jistě na první pohled zalíbí. </p>

<p>Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), o průměru 80 mm, ve výkonu nahrazujícím až svítidla s 40 W klasickou žárovkou. Svítidla se ideálně hodí jako hlavní nebo dekorativní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80. </p>

</div>
