<div class="site_subpage_content n-space-top">
    <h1 class="page_title">CALVIA</h1>

<p>Úsporná a moderní LED svítidla řady Calvia vynikají vysokým výkonem, nízkou spotřebou energie, jednoduchou instalací a bajonetovým upevněním, díky kterému není nikde patrný žádný šroub. Jejich design je doplněn ozdobným rámečkem z kartáčovaného nerezu. Svítidla nabízíme také v provedení s vyšším krytí – IP44, díky kterému je možné svítidla instalovat také do koupelen, nebo venkovních prostor.</p>

<p>Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), v průměrech 295 mm nebo 340 mm, ve výkonech nahrazujících až svítidla s 2x 75 W klasickou žárovkou. Svítidla se ideálně hodí jako hlavní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80. V nabídce naleznete varianty s krytím IP20 vhodným pouze do interiérů, nebo varianty s krytím IP44, které lze instalovat i do prostředí s vyšší vlhkostí (koupelny, venkovní prostředí). </p>

</div>
