<div class="site_subpage_content n-space-top">
    <h1 class="page_title">ORION</h1>

<p>Úsporné a moderní LED reflektory řady Orion představují ideální náhradu starších halogenových reflektorů. Tato LED svítidla vynikají vysokým měrným výkonem, dlouhou životností, precizním zpracováním, snadnou instalací a širokými možnostmi použití. </p>

<p>LED reflektory Orion nabízíme ve třech barvách světla (teple bílá, neutrální bílá i studeně bílá). LED reflektory dodáváme ve výkonech od 10 W po 120 W. Řada Orion zahrnuje také RGB reflektor o výkonu 60 W. </p>

</div>
