<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LED röhren</h1>

<p>Wir präsentieren Ihnen die leistungsstarken sowie LED-Sparröhren T8 mit Sockel G13. Unsere LED-Röhren sind einfach in klassischen Leuchtstofflampen mit elektromagnetischem Vorschaltwiderstand zu verwenden. Solche Lampen werden häufig in Büros, auf Fluren, in Küchen, Kellern, Garagen, Arbeitszimmern, etc. verwendet.</p>

<p>In unserem Angebot finden Sie LED-Röhren mit den meist verwendeten Längen – 60, 120 und 150 cm. Sie werden in der beliebtesten Lichtfarbe – in neutralem Weiß – hergestellt. Das Produkt wird in zwei Leistungsvarianten angeboten, wobei die leistungsstärkere Variante im Vergleich mit unserer LED-Röhren-Basisvariante bei gleichem Verbrauch über 30 % intensiver leuchtet. </p>


</div>
