<div class="site_subpage_content n-space-top n-space-bottom">
  <h1 class="page_title">Neuheiten</h1>
  <div class="articles_list">
    <h2 class="title">Neue Produkte</h2>
    <div class="new_products_category_list">
      <div class="shop_categories_router">

        <div class="item">
            <a [routerLink]="['/neuheit-led-leuchtmittel']" class="inside">
                <img src="/images/category/led-svetelne-zdroje.jpg" alt="LED leuchtmittel"/>
                <h2>Leuchtmittel</h2>
          </a>
        </div>

        <div class="item">
            <a [routerLink]="['/neuheit-led-interior-beleuchtung']" class="inside">
                <img src="/images/category/led-interierova-svitidla.jpg" alt="LED interior beleuchtung" />
                <h2>Interior </h2>
          </a>
        </div>

        <div class="item">
            <a [routerLink]="['/neuheit-led-industriebeleuchtung']" class="inside">
                <img src="/images/category/led-prumyslova-svitidla.jpg" alt="LED industriebeleuchtung" />
                <h2>Industriebe- leuchtung</h2>
            </a>
        </div>


        <div class="item">
            <a [routerLink]="['/neuheit-led-notbeleuchtung']" class="inside">
                <img src="/images/category/led-nouzove-osvetleni.jpg" alt="LED notbeleuchtung" />
                <h2> Notbeleuchtung </h2>
          </a>
        </div>

<!-- skryté kategorie pro 2.fázi
        <div class="item">
          <a [routerLink]="['/led-kapsle']" class="inside">
            <img src="/images/category/svetelne-zdroje-kapsle.jpg" alt="LED kapsle"/>
            <h2>LED kapsle</h2>
          </a>
        </div>

        <div class="item">
          <a [routerLink]="['/led-globe']" class="inside">
            <img src="/images/category/svetelne-zdroje-globe.jpg" alt="LED globe"/>
            <h2>LED globe</h2>
          </a>
        </div>

        <div class="item">
          <a [routerLink]="['/led-reflektory']" class="inside">
            <img src="/images/category/svetelne-zdroje-reflektory.jpg" alt="LED reflektory"/>
            <h2>LED reflektory</h2>
          </a>
        </div>

        <div class="item">
          <a [routerLink]="['/led-trubice']" class="inside">
            <img src="/images/category/svetelne-zdroje-trubice.jpg" alt="LED trubice"/>
            <h2>LED trubice</h2>
          </a>
        </div>
-->

      </div>
    </div>
  </div>
  <hr/>
