<div class="site_subpage_content n-space-top hide js-hide">
  <div class="subpage_slideshow n-slideshow">
    <div class="slides" id="sub_slideshow">
      <span class="item" data-title="Slide 1">
        <div class="image" style="background:url(/files/1760590.jpg) left top no-repeat;background-size:cover">
          <div class="n-texts-full">
            <div class="inside">
              <div class="content">
                <div class="banner_header">LED Industriebeleuchtung</div>
                <div class="banner_text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
