<div class="site_subpage_content n-space-top hide js-hide">
  <div class="subpage_slideshow n-slideshow">
    <div class="slides" id="sub_slideshow">

      <span class="item" data-title="Slide 1">
        <div class="image" style="background:url(/files/1756062.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">LED Röhren</div>
                <div class="banner_text">
                  10-23 W<br>
                  3000-6000 K<br>
                  320°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

    </div>
  </div>
</div>

<!-- druhý banner
      <span class="item" data-title="Slide 2">
        <div class="image" style="background:url(/files/1756055.jpg) left top no-repeat;background-size:cover">
          <div class="texts n-texts">
            <div class="inside">
              <div class="content">
                <div class="banner_header">LED strahler</div>
                <div class="banner_text">
                  2,1-5,5 W<br>
                  2700-4000 K<br>
                  180° - 360°<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
-->
