<div class="site_subpage_content n-space-top">
    <h1 class="page_title">CALA</h1>

<p>Úsporná a moderní LED svítidla řady Cala v oblíbeném designu vynikají vysokým výkonem, nízkou spotřebou energie, jednoduchou instalací a také bajonetovým upevněním, díky kterému není nikde patrný žádný šroub. Nespornou výhodou, kterou na našem LED svítidle Cala oceníte, je i vyšší krytí – IP44, díky kterému je možné svítidla instalovat také do koupelen, nebo venkovních prostor.</p>

<p>Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), v průměrech 280 mm až 410 mm, ve výkonech nahrazujících až svítidla s celkem 170 W příkonu klasických žárovek. Svítidla se ideálně hodí jako hlavní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80. </p>

</div>
