<div class="site_subpage_content n-space-top">
    <h1 class="page_title">OFFICE 12060</h1>

<p>Úsporná a moderní LED svítidla řady Office v oblíbeném designu vynikají vysokým výkonem, nízkou spotřebou energie, jednoduchou instalací a širokým příslušenstvím, díky němuž je možné svítidla instalovat jak do podhledů, tak i přisadit pomocí klipů, případně zavěsit. Speciální difuzor zajišťuje rovnoměrné rozptýlení světla po celé jeho ploše a široký vyzařovací úhel. </p>

<p>Tato LED svítidla nabízíme v neutrálně bílé barvě světla, která je u tohoto typu svítidla nejžádanější a je nejvíce podobná barvě přirozeného denního světla. Svítidla jsou vyráběna s rámem v odstínu anodizovaného hliníku. Rozměry LED svítidel jsou 595 x 1195 mm, čímž rozměrově nahrazují starší typy zářivkových svítidel určených pro čtyři trubice 36 W. Svítidla se ideálně hodí jako hlavní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80. </p>

</div>
