<div class="site_subpage_content n-space-top">
    <h1 class="page_title">INCA</h1>

<p>Úsporná a moderní LED svítidla řady Inca v oblíbeném designu vynikají vysokým výkonem, nízkou spotřebou, jednoduchou instalací a bajonetovým upevněním, díky kterému není nikde patrný žádný šroub. </p>

<p>Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), v průměrech 270 mm nebo 340 mm, ve výkonech nahrazujících až svítidla s 2x 75 W klasickou žárovkou. Svítidla se ideálně hodí jako hlavní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80. </p>

</div>
