<div class="site_subpage_content n-space-top n-space-bottom"> 
<div class="articles_list">
      <h2 class="title">Aktuality</h2>

<!-- 4. Nový web McLED -->
      <article>
        <span class="date">01.03.2017</span>
        <h3 class="title" id="novinka4">
          Nový web McLED 
        </h3>
        <p>
          Vážení obchodní partneři, právě jsme spustili nový web McLED! 
          <a href="javascript:void(0);" (click)="a4=true" *ngIf="!a4" class="more">Více</a>
        </p>
        <p class="hidden" *ngIf="a4">
          Vybírat můžete ze široké nabídky kvalitních interiérových LED svítidel, LED světelných zdrojů a LED reflektorů. Naše nabídka se neustále rozšiřuje, můžete si tedy být jisti, že u nás naleznete vždy aktuální produkty za férové ceny. 
        </p>
      </article>	  
	  
<!-- 3. Nouzové osvětlení Cala E -->
      <article>
        <span class="date">10.02.2017</span>
        <h3 class="title" id="novinka3">
          Nouzové osvětlení Cala E
        </h3>
        <p>
          Nová řada nouzových LED svítidel Cala E vychází z velmi oblíbeného designu našich LED svítidel Cala. Nouzová svítidla Cala E jsou vybavena integrovaným akumulátorem, který umožňuje v případě plného nabití při výpadku proudu až 1,5 hodiny provozu. 
          <a href="javascript:void(0);" (click)="a3=true" *ngIf="!a3" class="more">Více</a>
        </p>
        <p class="hidden" *ngIf="a3">
          LED svítidla Cala E jsou dostupná ve třech výkonových variantách, přičemž v případě provozu na akumulátor je výkon snížený na 50, resp. 30 %. 
        </p>
      </article>	  
	  
<!-- 2. LED reflektor Flash s akumulátorem -->
      <article>
        <span class="date">09.02.2017</span>
        <h3 class="title" id="novinka2">
          LED reflektor Flash s akumulátorem
        </h3>
        <p>
          Naši nabídku LED reflektorů rozšířil nový kousek – LED reflektor Flash 10 vybavený akumulátorem. Tento nový produkt je navíc velmi kompaktních rozměrů, doplněný praktickým madlem a podstavcem. 
        <a href="javascript:void(0);" (click)="a2=true" *ngIf="!a2" class="more">Více</a>
        </p>
        <p class="hidden" *ngIf="a2">
			Díky těmto vlastnostem Vám nový LED reflektor Flash 10 také v místech a situacích, kdy není k dispozici elektrická energie. Např. doma, pokud dojde k výpadku proudu, nebo v přírodě, snadno se vejde do kufru auta a poslouží i jako osvětlení v případě poruchy, pomůže i při opravách elektroinstalace, které vyžadují vypnutí proudu. 
		</p>
        <p class="hidden" *ngIf="a2">
			LED reflektor Flash 10 s akumulátorem je možné dobíjet i pomocí autonabíječky, která je součástí balení. Na plné nabití vydrží svítit až 3,5 hodiny
        </p>
      </article>
	  
<!-- 1. LED panely Office UGR<19  -->
      <article>
        <span class="date">08.02.2017</span>
        <h3 class="title" id="novinka1">
          LED panely Office UGR<19 
        </h3>
        <p>
			V reakci na přísné požadavky norem, které v kancelářských prostorách připouští pouze velmi nízký index oslnění,
			jsme vyvinuli novou verzi nejpoužívanějšího kancelářské LED svítidla řady Office, která nese označení „UGR<19“.
		</p>
		<p>
			Speciální prismatický difuzor, kterým je tato nová varianta LED panelů Office s označením UGR vybavena, zajišťuje
			za standardních podmínek dosažení maximálního UGR ve výši 19. A právě to je hodnota, kterou ještě norma pro kancelářské
			prostory a činnosti připouští.		
          <a href="javascript:void(0);" (click)="a1=true" *ngIf="!a1" class="more">Více</a>
        </p>
        <p class="hidden" *ngIf="a1">
			UGR je zkratka anglického slovního spojení <i>unified glare rating</i> a vyjadřuje jeden ze systému hodnocení oslnění. Hodnotu UGR lze získat výpočtem empirického vzorce, jehož výsledkem je bezrozměrné číslo (v současnosti provádí výpočet velikosti UGR zpravidla sofistikované programy pro výpočet osvětlení). 
        </p>
      </article>
	  
    </div>
</div>

