<div class="site_subpage_content n-space-top">
    <h1 class="page_title">BARCELO</h1>

<p> Die modernen LED-Sparleuchten für Deckenabhängungen aus der Reihe Barcelo im ungewöhnlichen Design zeichnen sich durch eine einfache Installation und eine interessante Bearbeitung aus – ein Teil der Lampe ragt unmerklich aus der Unterdecke heraus und deren Seitenwand ist mit einem schmalen durchsichtigen Rahmen versehen. Auf diese Weise beginnt beim Einschalten des Lichts auch dieser LED-Lampenrand zu strahlen, welcher dadurch auch als interessantes Designelement wirkt. </p>

<p> Die Leuchten werden in zwei generellen Lichtfarbtemperaturen (in warmem oder neutralem Weiß) angeboten sowie in quadratischer oder Kreisform, mit Maßen von 95 x 95 mm (quadratische Form) oder einem Durchmesser von 95 mm und in Leistungsvarianten, durch welche Lampen mit einer 70-W-Halogenlampe ersetzt werden. Die Leuchten sind ideal als dekorative Beleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80. </p>

</div>
