<div class="site_subpage_content n-space-top">
    <h1 class="page_title">GAMA</h1>

<p>Úsporné a moderní LED reflektory řady Gama představují ideální náhradu starších halogenových reflektorů. Tato LED svítidla vynikají vysokým měrným výkonem, precizním zpracováním, snadnou instalací a širokými možnostmi použití. </p>

<p>LED reflektory Gama nabízíme ve studeně bílé barvě světla, která je u tohoto typu svítidla velmi žádaná. Index věrnosti podání barev (CRI) je v případě tohoto LED svítidla > 80. K dispozici jsou varianty o výkonech 150 W a 200 W. </p>

</div>
