<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">LED Produkte</h1>
    <div class="shop_categories_router">

        <div class="item">
            <a [routerLink]="['/led-leuchtmittel']" class="inside">
                <img src="/images/category/led-svetelne-zdroje.jpg" alt="LED leuchtmittel"/>
                <h2>Leuchtmittel</h2>
          </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung']" class="inside">
                <img src="/images/category/led-interierova-svitidla.jpg" alt="LED interior beleuchtung" />
                <h2>Interior </h2>
          </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-industriebeleuchtung']" class="inside">
                <img src="/images/category/led-prumyslova-svitidla.jpg" alt="LED industriebeleuchtung" />
                <h2>Industriebeleuchtung</h2>
            </a>
        </div>


        <div class="item">
            <a [routerLink]="['/led-notbeleuchtung']" class="inside">
                <img src="/images/category/led-nouzove-osvetleni.jpg" alt="LED notbeleuchtung" />
                <h2> Notbeleuchtung </h2>
          </a>
        </div>

<!-- skryté kategorie pro 2.fázi
        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <img src="http://placekitten.com/440/440" alt="" />
                <h2>Lorem ipsum</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <img src="http://placekitten.com/440/440" alt="" />
                <h2>Lorem ipsum</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <img src="http://placekitten.com/440/440" alt="" />
                <h2>Lorem ipsum</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/']" class="inside">
                <img src="http://placekitten.com/440/440" alt="" />
                <h2>Lorem ipsum</h2>
            </a>
        </div>
-->

    </div>
</div>
