<div class="site_subpage_content n-space-top">
    <h1 class="page_title">LEDtec</h1>

<p>Úsporné a moderní LED reflektory řady LEDtec představují špičku mezi současnými LED reflektory a jsou ideální náhradou starších metalhalogenidových svítidel. Tato LED svítidla vynikají vysokým měrným výkonem, kompaktními rozměry, dlouhou životností a širokými možnostmi použití. LED reflektory LEDtec svítí okamžitě na plný výkon, jsou osazeny značkovými LED čipy s vysokým indexem podání barev a lze je také stmívat. </p>

<p>LED reflektory LEDtec nabízíme ve studeně bílé barvě světla (5000 K), která je u tohoto typu svítidla nejžádanější. K dispozici jsou varianty ve výkonech 100 – 200 W, s vyzařovacím úhlem 120 °. Jako příslušenství je možné zakoupit hliníkové reflektory a tím změnit vyzařovací úhel svítidel. K těmto LED svítidlům nabízíme také pohybové čidlo i DALI předřadník. </p>

</div>
