<div class="site_subpage_content n-space-bottom">
    <hr />
    <div class="container fluid nospace">
        <div class="row">
<!--		
            <div class="col-xs-12 col-md-7 col-xl-9">	
			
                <div class="downloads_list">				

						<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Download PDF" />
                            </div>
                        </div>
                        <a href="/files/1762035.pdf" class="download fa_a_download" alt="Bildpreisliste LED Industriebeleuchtung" name="Bildpreisliste LED Industriebeleuchtung" target="_blank">Download</a>
                        <h2 class="filename">
                            Bildpreisliste LED Industriebeleuchtung<small>(.pdf)</small>
                        </h2>
                   </div>
                </div>
        </div>
-->
			
			<div class="col-xs-12 col-md-12 col-xl-12">
<p>Wir präsentieren Ihnen unsere neuen leistungsfähigen Industrieleuchten von McLED<sup>®</sup>, welche sich durch eine hohe Zuverlässigkeit, einen sehr niedrigen Stromverbrauch, eine lange Lebensdauer sowie auch durch eine höhere Schutzart (bis IP67) auszeichnen, wodurch die Leuchten auch im Außenbereich verwendet werden können.</p>

<p>Mit unseren LED-Reflektoren können Sie auf einfache Weise Außeninstallationen, Fassaden, Werbe-Plakatwände, Wege, etc. beleuchten. Die ausgewählten Leuchten können Sie auch zur Beleuchtung von Industrieräumen, Lagern, Parkplätzen, Fluren, Kellern, etc. verwenden. Sehr häufig können Sie mit unseren LED-Spar-Industrieleuchten preisgünstig veraltete Röhrenreflektoren beziehungsweise Leuchtstofflampen ersetzen.</p>

            </div>
			
		<!-- pravá část - rozdělení na dvě části obrazovku
			<div class="col-xs-12 col-md-7 col-xl-9">

            <div class="col-xs-12 col-md-5 col-xl-3">
			

                <div class="product_action_sidebox nospace-left">
                    <div class="texts">
                        <h3 class="title">Akce</h3>
                        <p>
                            LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                        </p>
                        <div class="price_buy">
                            <a [routerLink]="['/']" class="buy"></a>
                            <div class="prices">
                                <div class="old">4 999 Kč</div>
                                <div class="primary">3 999 Kč</div>
                                <div class="secondary">4 499 Kč bez DPH</div>
                            </div>
                        </div>
                    </div>
                    <a class="image">
                        <img src="/images/example/121.255.10_0_L.jpg" alt="" />
                    </a>
                </div>
		
		
            </div>
		-->
        </div>
    </div>
</div>
