<div class="site_subpage_content n-space-top">
    <h1 class="page_title">FARO</h1>

<p>Úsporná a moderní LED podhledová svítidla řady Faro v důmyslném designu vynikají vysokým výkonem, nízkou spotřebou energie, jednoduchou instalací a také speciální hranou, která pomáhá snižovat možné oslnění. Jejich speciální difuzor zajišťuje rovnoměrné rozptýlení světla po celé jeho ploše a široký vyzařovací úhel. LED svítidla Faro jsou díky krytí IP44 vhodná i do prostor se zvýšenou vlhkostí (např. koupelny). </p>

<p> Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), o průměru 113 až 279 mm, ve výkonech nahrazujících až svítidla s 2x 32 W CFL zářivkou. Svítidla se ideálně hodí jako hlavní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80.</p>

</div>
