<div class="site_subpage_content n-space-top">
    <h1 class="page_title">ORION</h1>

<p>Die modernen LED-Sparreflektoren aus der Reihe Orion stellen einen idealen Ersatz für ältere Halogenreflektoren dar. Diese LED-Leuchten zeichnen sich durch eine hohe spezifische Leistung, eine lange Lebensdauer, eine präzise Bearbeitung, eine einfache Installation sowie durch die vielfältigen Verwendungsmöglichkeiten aus. </p>

<p>Die LED-Reflektoren Orion werden in drei weißen Farbvarianten angeboten (in warmem Weiß, neutralem Weiß und in kaltem Weiß). Die LED-Reflektoren werden in Leistungsvarianten von 10 W bis 120 W geliefert. Zur Reihe Orion gehört auch ein RGB-Reflektor mit einer Leistung von 60 W. </p>

</div>
