<div class="site_subpage_content n-space-bottom">
    <hr />
    <div class="container fluid nospace">
        <div class="row">
<!--		
            <div class="col-xs-12 col-md-7 col-xl-9">	
				<div class="downloads_list">				

					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Download PDF" />
                            </div>
                        </div>
                        <a href="/files/1762031.pdf" class="download fa_a_download" target="_blank">Download</a>
                        <h2 class="filename">
                            Bildpreisliste - LED Leuchmittel <small>(.pdf)</small>
                        </h2>
                    </div>
                </div>
	</div>
-->

<div class="col-xs-12 col-md-12 col-xl-12">
<p>LED-Glühlampen stellen zum gegenwärtigen Zeitpunkt die <strong>sparsamste Beleuchtungstechnologie</strong> auf dem Markt dar.In unserem Sortiment finden Sie ein sehr vielfältiges Angebot dieser LED-Spar-Lichtquellen.</p>

<p>Sie können Ihre Auswahl bequem <strong>aus mehr als 90 unterschiedlichen LED-Glühlampen und LED-Röhren</strong> mit allen gängigen Sockeln (E14, E27, GU10, MR16, G4, G9, G13…) treffen, welche Ihnen in vielen Leistungsvarianten sowie mit unterschiedlichen Strahlungswinkeln und in verschiedenen Farbtemperaturen (warmes Weiß, neutrales Weiß und kaltes Weiß) angeboten werden.</p>

<p>Für unsere <strong>LED-Glühlampen von McLED<sup>®</sup></strong>werden ausschließlich hochwertige Komponenten von weltweit führenden Herstellern verwendet.Bei der Entwicklung jeder LED-Lichtquelle sind unsere langjährigen Erfahrungen mit eingeflossen, dank derer wir eine stabile Lichtleistung, eine lange Lebensdauer sowie eine hohe Qualität zu einem erschwinglichen Preis erzielen konnten.</p>
            </div>
			
		<!-- pravá část - rozdělení na dvě části obrazovku
			<div class="col-xs-12 col-md-7 col-xl-9">

            <div class="col-xs-12 col-md-5 col-xl-3">
			

                <div class="product_action_sidebox nospace-left">
                    <div class="texts">
                        <h3 class="title">Akce</h3>
                        <p>
                            LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                        </p>
                        <div class="price_buy">
                            <a [routerLink]="['/']" class="buy"></a>
                            <div class="prices">
                                <div class="old">4 999 Kč</div>
                                <div class="primary">3 999 Kč</div>
                                <div class="secondary">4 499 Kč bez DPH</div>
                            </div>
                        </div>
                    </div>
                    <a class="image">
                        <img src="/images/example/121.255.10_0_L.jpg" alt="" />
                    </a>
                </div>
		
		
            </div>
		-->
        </div>
    </div>
</div>
