<div class="site_subpage_content n-space-top">
    <h1 class="page_title">zubehör</h1>

<p>Wir empfehlen, zu unseren LED-Industrieleuchten auch das Originalzubehör von McLED<sup>®</sup> zu kaufen. Auf diese Weise ist eine problemlose Installation sowie eine maximale Kompatibilität mit Ihrer neuen LED-Leuchte von McLED<sup>®</sup> gewährleistet. </p>

<p>Zu unseren LED-Leuchten werden Ständer, Verbindungsstecker, Aufhängungssätze, Reflektoren, Bewegungsmelder, DALI-Vorschaltwiderstände sowie weitere interessante Produkte angeboten. </p>

</div>
