<div class="site_subpage_content n-space-top">

<p>LED-Leuchten vom Typ Downlight sind in verschiedenen Anwendungen beliebt, wo ein engerer Strahlungswinkel bevorzugt wird. Die Leuchten werden am häufigsten in Rigips-Unterdecken installiert. Sie können unter LED-Leuchten mit höherer Schutzart beziehungsweise mit sehr engem Strahlungswinkel wählen, einschließlich unterschiedlicher Farbtemperaturen. Zum Bestandteil unserer LED-Leuchten gehört auch ein Marken-Treiber, welcher entweder direkt in der Leuchte integriert ist oder mit einem Verbindungsstecker an der Leuchte angeschlossen wird, wobei der Verbindungsstecker zum Packungsinhalt gehört. </p> 

<p>Unsere LED-Downlights zeichnen sich durch eine hohe Zuverlässigkeit, eine lange Lebensdauer, niedrige Betriebskosten, eine hohe Farbwiedergabe sowie durch viele weitere Vorteile aus. Sie sorgen für angenehmes Licht ohne Blinken. Sie leuchten sofort mit voller Leistung und für deren Produktion wurden Komponenten von weltweit führenden Herstellern verwendet. </p>

</div>
