<div class="site_subpage_content n-space-top">
    <h1 class="page_title">COMET + ZÁVĚS</h1>

<p>Úsporná a moderní závěsná LED svítidla řady Comet v zajímavém designu vynikají vysokým výkonem, nízkou spotřebou energie, jednoduchou instalací a vysokým krytím IP67. Oproti klasickým prachotěsným svítidlům jsou naše LED svítidla Comet oblíbená právě díky velmi malé výšce a na první pohled hezčímu a modernějšímu zpracování. </p>

<p>Závěsná LED svítidla Comet nabízíme v neutrální bílé barvě světla, v délkách 600 až 1500 mm, ve výkonech nahrazujících až svítidla s 2x 58 W zářivkovými trubicemi. Dodávaný lankový závěs umožňuje zavěšení dlouhé až 2 m. Svítidla se ideálně hodí jako hlavní osvětlení, výkonnější varianty (Comet D) navíc disponují možností sériového propojení. Svítidla okamžitě svítí na plný výkon, index věrnosti podání barev >80, stupeň krytí IP67.</p>

</div>
