<div class="site_subpage_content n-space-top">
    <h1 class="page_title">OFFICE + RÁM</h1>

<p>Úsporná a moderní přisazená LED svítidla řady Office v oblíbeném designu vynikají vysokým výkonem, nízkou spotřebou energie a jednoduchou instalací. Speciální difuzor zajišťuje rovnoměrné rozptýlení světla po celé jeho ploše a široký vyzařovací úhel. </p>

<p>Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), Svítidla jsou vyráběna s bílým rámem (RAL 9010), případně s rámem v odstínu anodizovaného hliníku. Rozměry LED svítidla v rámu jsou 600 x 600 mm, čímž rozměrově nahrazuje zářivková svítidla s 4x 18 W zářivkou. Svítidla se ideálně hodí jako hlavní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80. </p>

</div>
