<div class="site_subpage_content n-space-top">
    <h1 class="page_title">INCA</h1>

<p> Die modernen LED-Sparleuchten aus der Reihe Inca im beliebten Design zeichnen sich durch eine hohe Leistung sowie durch einen niedrigen Stromverbrauch, eine einfache Installation und durch eine Bajonettbefestigung aus, dank derer keine Schraube mehr zu sehen ist. </p>

<p> Die Leuchten werden in zwei generellen Lichtfarbtemperaturen (in warmem oder neutralem Weiß) angeboten sowie mit einem Durchmesser von 270 oder 340 mm und in Leistungsvarianten, durch welche Lampen mit einer klassischen Glühlampe von 2x 75 W ersetzt werden. Die Leuchten sind ideal als Hauptbeleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80. </p>

</div>
