<div class="site_subpage_content n-space-top">

<p> Die modernen LED-Sparleuchten aus der Reihe Cala E im beliebten Design zeichnen sich durch eine hohe Leistung sowie durch einen niedrigen Stromverbrauch, eine einfache Installation und durch eine Bajonettbefestigung aus, dank derer keine Schraube mehr zu sehen ist. Darüber hinaus verfügen diese LED-Leuchten zusätzlich über eine eingebaute Batterie, mit welcher der Lampenbetrieb auch bei Stromausfall für ganze 1,5 Stunden möglich ist. </p>

<p>Diese LED-Leuchten werden in neutraler weißer Lichtfarbe angeboten, welche bei diesem Lampentyp am meisten gefragt ist und dem natürlichen Tageslicht am nächsten kommt sowie mit einem Durchmesser von 280 mm bis 410 mm und in Leistungsvarianten, durch welche Lampen bis zu einer durch klassische Glühlampen erzeugten elektrischen Gesamtleistung von 170 W ersetzt werden. Die Leuchten sind ideal als Hauptbeleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80. </p>

</div>
