<div class="site_subpage_content n-space-top">
    <h1 class="page_title">OFFICE + RAHMEN</h1>

<p> Die modernen LED-Spar-Aufsatzleuchten aus der Reihe Office im beliebten Design zeichnen sich durch eine hohe Leistung sowie durch einen niedrigen Stromverbrauch und durch eine einfache Installation aus. Durch den Spezial-Diffusor ist eine gleichmäßige Lichtstreuung über die gesamte Lichtfläche sowie ein breiter Strahlungswinkel gewährleistet. </p>

<p> Die Leuchten werden in zwei generellen Lichtfarbtemperaturen (in warmem oder neutralem Weiß) angeboten und werden mit weißem Rahmen (RAL 9010) beziehungsweise mit einem Rahmen im anodisierenden Aluminium-Farbton hergestellt. Die Maße der LED-Leuchten im Rahmen betragen 600 x 600 mm, wobei sie größenmäßig Leuchtstoffröhren von 4x 18 W ersetzen. Die Leuchten sind ideal als Hauptbeleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80. </p>

</div>
