<div class="site_subpage_content n-space-top">
    <h1 class="page_title">NIXO</h1>

<p> Die modernen LED-Sparleuchten für Deckenabhängungen aus der Reihe Nixo im ungewöhnlichen Design zeichnen sich durch eine hohe Leistung sowie durch einen niedrigen Stromverbrauch, eine einfache Installation und durch die interessante Bearbeitung aus – ein trüber Lampen-Diffusor ragt aus der Unterdecke heraus und lässt somit den Eindruck einer Aufsatzleuchte entstehen. Beim Einschalten des Lichts beginnt somit der komplette Diffusor zu strahlen, welcher im Unterschied zu den sich komplett in der Deckenabhängung befindlichen Leuchten dazu beiträgt, dass auch der angrenzende Deckenteil angestrahlt wird. Dadurch wird ein interessanter Effekt erzielt, was im Raum für ein behagliches Gefühl sorgt. </p>

<p> Die Leuchten werden in zwei generellen Lichtfarbtemperaturen (in warmem oder neutralem Weiß) angeboten sowie mit einem Durchmesser von 90 bis 140 mm und in Leistungsvarianten, durch welche Lampen mit einer klassischen 100-W-Glühlampe ersetzt werden. Die Leuchten sind ideal als Haupt- oder dekorative Beleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80.</p>

</div>
