<div class="site_subpage_content n-space-top">
    <h1 class="page_title">MOLD</h1>

<p>Úsporná a moderní LED přisazená svítidla řady Mold v jednoduchém pěkném designu vynikají vysokým výkonem, nízkou spotřebou energie, jednoduchou instalací a také bajonetovým upevněním, díky kterému není nikde patrné žádné uchycení pomocí šroubů. Jejich speciální difuzor zajišťuje rovnoměrné rozptýlení světla po celé jeho ploše a široký vyzařovací úhel. </p>

<p>Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), o průměru 175 až 250 mm, ve výkonech nahrazujících až svítidla s 180 W žárovkou. Svítidla se ideálně hodí jako hlavní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80.</p>

</div>
