<div class="site_subpage_content n-space-top">
    <h1 class="page_title">CALA D</h1>

<p> Die modernen LED-Sparleuchten aus der Reihe Cala D im beliebten Design zeichnen sich durch eine hohe Leistung sowie durch einen niedrigen Stromverbrauch, eine einfache Installation und durch eine Bajonettbefestigung aus, dank derer keine Schraube mehr zu sehen ist. Darüber hinaus sind diese Leuchten zusätzlich mit einem hochwertigen Mikrowellen-Bewegungssensor mit vielfältigen Einstellungsmöglichkeiten ausgestattet. </p>

<p> Die Leuchten werden in zwei generellen Lichtfarbtemperaturen (in warmem oder neutralem Weiß) angeboten sowie mit einem Durchmesser von 280 bis 410 mm und in Leistungsvarianten, durch welche Lampen bis zu einer durch klassische Glühlampen erzeugten elektrischen Gesamtleistung von 170 W ersetzt werden. Die Leuchten sind ideal als Hauptbeleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80. </p>

</div>
