<div class="site_subpage_content n-space-top">
    <h1 class="page_title">COMET + Aufhänger</h1>

<p> Die modernen LED-Hängesparleuchten aus der Reihe Comet im interessanten Design zeichnen sich durch eine hohe Leistung sowie durch einen niedrigen Stromverbrauch, eine einfache Installation und durch eine hohe Schutzart – IP67 – aus. Im Vergleich mit den klassischen staubdichten Leuchten sind unsere LED-Leuchten Comet gerade wegen ihrer geringen Höhe sowie der auf den ersten Blick erkennbaren schöneren und moderneren Bearbeitung beliebt. </p>

<p>Die LED-Hängeleuchten Comet werden in neutraler weißer Lichtfarbe angeboten sowie in den Längen 600 bis 1.500 mm und in Leistungsvarianten, durch welche Lampen von bis zu 2x 58 W mit Leuchtstoffröhren ersetzt werden. Mit der gelieferten Drahtaufhängung kann eine bis zu 2 m lange Aufhängung installiert werden. Die Leuchten sind ideal als Hauptbeleuchtung geeignet. Die leistungsstärkeren Varianten (Comet D) verfügen darüber hinaus über eine Serienschaltungsmöglichkeit. Die Leuchten strahlen sofort mit voller Leistung, der Farbwiedergabeindex ist >80, die Schutzart beträgt IP67.</p>

</div>
