<div class="site_subpage_content n-space-top">
    <h1 class="page_title">SIMA S</h1>

<p>Úsporná a moderní LED přisazená svítidla řady Sima S v jednoduchém funkčním designu vynikají vysokým výkonem, nízkou spotřebou energie, snadnou instalací a bajonetovým upevněním, díky kterému není nikde patrné žádné uchycení pomocí šroubů. Jejich speciální reflektor tvořený velkým množstvím přesně nasměrovaných zrcátek umožňuje směrování světla v úzkém paprsku ve zvoleném směru. </p>

<p>Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), o průměru 90 až 140 mm, ve výkonech nahrazujících až svítidla s 180 W halogenovou žárovkou. Svítidla se ideálně hodí jako bodové osvětlení, které neoslňuje, dodává prostoru na plastičnosti a atraktivitě. Svítidla okamžitě svítí na plný výkon, index věrnosti podání barev >80.</p>

</div>
