<div class="site_subpage_content n-space-top">

<p>LED-Hängeleuchten stellen eine interessante Alternative zu den Aufsatzleuchten dar. Bei uns finden Sie ein vielfältiges Angebot an Leuchten, welche an einem bis zu 2 Meter langen Drahtseil aufgehängt werden können. Zum Bestandteil unserer LED-Hängeleuchten gehört auch ein Marken-Treiber, welcher entweder direkt in der Leuchte integriert ist oder mit einem Verbindungsstecker an der Leuchte angeschlossen wird, wobei der Verbindungsstecker zum Packungsinhalt gehört. </p>

<p>Unsere LED-Hängeleuchten zeichnen sich durch eine lange Lebensdauer, niedrige Betriebskosten, eine hohe Farbwiedergabe sowie durch viele weitere Vorteile aus. Sie sorgen für angenehmes Licht ohne Blinken. Sie leuchten sofort mit voller Leistung und für deren Produktion wurden Komponenten von weltweit führenden Herstellern verwendet. </p>


</div>
