<div class="site_subpage_content n-space-top">
    <h1 class="page_title">SIMA S</h1>

<p> Die modernen LED-Spar-Aufsatzleuchten aus der Reihe Sima S im schlichten und funktionalen Design zeichnen sich durch eine hohe Leistung sowie durch einen niedrigen Stromverbrauch, eine einfache Installation und durch eine Bajonettbefestigung aus, dank derer keine Schraubbefestigung mehr zu sehen ist. Durch deren Spezialreflektor infolge der Vielzahl von genau ausgerichteten Spiegeln kann die Lichtausrichtung im engen Lichtstrahl in beliebiger Richtung erfolgen. </p>

<p> Die Leuchten werden in zwei generellen Lichtfarbtemperaturen (in warmem oder neutralem Weiß) angeboten sowie mit einem Durchmesser von 90 bis 140 mm und in Leistungsvarianten, durch welche Lampen mit einer 180-W-Halogenlampe ersetzt werden. Die Leuchten sind ideal als nicht blendende Punktbeleuchtung geeignet, durch welche der Raum plastisch und interessant wirkt. Die Leuchten strahlen sofort mit voller Leistung, der Farbwiedergabeindex ist >80.</p>

</div>
