<div class="site_subpage_content n-space-top">
    <h1 class="page_title">TORO</h1>

<p>Úsporná a moderní LED podhledová svítidla řady Toro v klasickém designu vynikají vysokým výkonem, nízkou spotřebou energie, jednoduchou instalací a zejména malou montážní hloubkou, díky které se vejdou i do velmi nízkých podhledů. Jejich speciální difuzor zajišťuje rovnoměrné rozptýlení světla po celé jeho ploše a široký vyzařovací úhel. </p>

<p>LED svítidla Toro nabízíme v kulatém a čtvercovém tvaru, ve třech základních teplotách barev světla (teplá, neutrální nebo studená bílá), o průměru 120 až 600 mm (v případě čtvercových svítidel v rozměrech 120 x 120 až 225 x 225 mm), ve výkonech nahrazujících až svítidla s 83 W zářivkou. Svítidla se ideálně hodí jako hlavní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80.</p>

</div>
