<div class="site_subpage_content n-space-top">
    <h1 class="page_title">PERSEA</h1>

<p>Úsporné a moderní LED reflektory řady Persea představují ideální náhradu starších halogenových reflektorů. Tato LED svítidla vynikají vysokým měrným výkonem, dlouhou životností, rozměrově úsporným provedením a nízkou hmotností, snadnou instalací a širokými možnostmi použití. </p>

<p>LED reflektory Persea nabízíme v neutrálně bílé barvě světla, která je u tohoto typu svítidla nejžádanější a je nejvíce podobná barvě přirozeného denního světla. Tyto LED reflektory dodáváme ve výkonech od 10 W po 100 W a součástí svítidla je i přívodní kabel s vidlicí. </p>

</div>
