<div class="site_subpage_content n-space-top">
    <h1 class="page_title">NIXO</h1>

<p>Úsporná a moderní podhledová LED svítidla řady Nixo v netradičním designu vynikají vysokým výkonem, nízkou spotřebou energie, jednoduchou instalací a zajímavým zpracováním – mléčný difuzor svítidla vyčnívá z podhledu a působí dojmem přisazeného svítidla. Při rozsvícení se tak rozzáří celý difuzor, který na rozdíl od zcela zapuštěných svítidel pomáhá nasvětlit i přiléhající část stropu. Díky tomu je dosaženo zajímavého efektu a v místnosti se tak cítíte příjemněji. </p>

<p>Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), o průměru 90 až 140 mm, ve výkonech nahrazujících až svítidla s 100 W klasickou žárovkou. Svítidla se ideálně hodí jako hlavní nebo dekorativní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80.</p>

</div>
