<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Downlights</h1>
    <div class="shop_categories_router">

        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-downlights-sima']" class="inside">
                <img src="/images/category/led-interierova-svitidla-downlights-sima.jpg" alt="LED Interior beleuchtung downlights - Sima"/>
                <h2>Sima</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-downlights-faro']" class="inside">
                <img src="/images/category/led-interierova-svitidla-downlights-faro.jpg" alt="LED Interior beleuchtung downlights - Faro"/>
                <h2>Faro</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-downlights-jolly']" class="inside">
                <img src="/images/category/led-interierova-svitidla-downlights-jolly.jpg" alt="LED Interior beleuchtung downlights - Jolly"/>
                <h2>Jolly</h2>
            </a>
        </div>

    </div>
</div>
