<div class="site_subpage_content n-space-top">

<p>Die sehr gefragten LED-Sensorleuchten sind ideal für Räume geeignet, wo Sie sich eher kurz aufhalten und bewegen werden. Die LED-Leuchten mit integriertem Bewegungssensor werden typischerweise auf Fluren, bei Eingängen, in Kellern, Garagen, etc. installiert. Unser Angebot umfasst LED-Sensorleuchten mit höherer Schutzart und in zwei Lichtfarbtemperaturen – in warmem Weiß beziehungsweise in neutralem Weiß. Zum Bestandteil unserer LED-Wandleuchten gehört auch ein Markentreiber, welcher direkt in der Leuchte integriert ist. </p> 

<p>Unsere LED-Sensorleuchten zeichnen sich durch die vielfältigen Einstellungsmöglichkeiten des Bewegungssensors aus sowie durch eine hohe Zuverlässigkeit, eine lange Lebensdauer, niedrige Betriebskosten, eine hohe Farbwiedergabe und durch viele weitere Vorteile. Sie sorgen für angenehmes Licht ohne Blinken. Sie leuchten sofort mit voller Leistung und für deren Produktion wurden Komponenten von weltweit führenden Herstellern verwendet. </p>

</div>
