<div class="site_subpage_content n-space-top">
    <h1 class="page_title">TORO</h1>

<p> Die modernen LED-Sparleuchten für Deckenabhängungen aus der Reihe Toro im klassischen Design zeichnen sich durch eine hohe Leistung sowie durch einen niedrigen Stromverbrauch, eine einfache Installation und vor allem durch eine niedrige Montagetiefe aus, dank derer die Leuchten auch für sehr niedrige Deckenabhängungen geeignet sind. Durch deren Spezial-Diffusor ist eine gleichmäßige Lichtstreuung über die gesamte Lichtfläche sowie ein breiter Strahlungswinkel gewährleistet. </p>

<p>Die LED-Leuchten Toro werden in runder und quadratischer Form angeboten sowie in drei generellen Lichtfarbtemperaturen (in warmem, neutralem oder kaltem Weiß), mit einem Durchmesser von 120 bis 600 mm (bei quadratischen Leuchten in den Maßen 120 x 120 bis 225 x 225 mm) und in Leistungsvarianten, durch welche Lampen mit einer 83-W-Glühlampe ersetzt werden. Die Leuchten sind ideal als Hauptbeleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80.</p>

</div>
