<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">LED Notbeleuchtung</h1>
    <div class="shop_categories_router">

        <div class="item">
            <a [routerLink]="['/led-notbeleuchtung-cala-e']" class="inside">
                <img src="/images/category/led-nouzova-svitidla.jpg" alt="Cala E"/>
                <h2>Cala E</h2>
            </a>
        </div>

<!-- Skrytá kategorie 
        <div class="item">
            <a [routerLink]="['/led-nouzove-osvetleni-prislusenstvi']" class="inside">
                <img src="/images/category/nouzove-osvetleni.jpg" alt="Příslušenství pro nouzové osvětlení"/>
                <h2>Příslušenství</h2>
            </a>
        </div>
-->

    </div>
</div>
