<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">PANEL LEUCHTEN</h1>
    <div class="shop_categories_router">

        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-panel-leuchten-office-6030']" class="inside">
                <img src="/images/category/led-interierova-svitidla-led-panely-office-6030.jpg" alt="LED Interior beleuchtung panel leuchten - Office 6030" title="LED Interior beleuchtung panel leuchten - Office 6030"/>
                <h2>Office 6030</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-panel-leuchten-office-6060']" class="inside">
                <img src="/images/category/led-interierova-svitidla-led-panely-office-6060.jpg" alt="LED Interior beleuchtung panel leuchten - Office 6060" title="LED Interior beleuchtung panel leuchten - Office 6060"/>
                <h2>Office 6060</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-panel-leuchten-office-12030']" class="inside">
                <img src="/images/category/led-interierova-svitidla-led-panely-office-12030.jpg" alt="LED Interior beleuchtung panel leuchten - Office 12030" title="LED Interior beleuchtung panel leuchten - Office 12030"/>
                <h2>Office 12030</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-panel-leuchten-office-12060']" class="inside">
                <img src="/images/category/led-interierova-svitidla-led-panely-office-12060.jpg" alt="LED Interior beleuchtung panel leuchten - Office 12060" title="LED Interior beleuchtung panel leuchten - Office 12060"/>
                <h2>Office 12060</h2>
            </a>
        </div>

    </div>
</div>
