<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">PENDELLEUCHTEN</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-pendelleuchten-office-aufhaenger']" class="inside">
                <img src="/images/category/led-interierova-svitidla-zavesna-office-zaves.jpg" alt="LED Interior beleuchtung pendelleuchten - Office + Aufhänger"/>
                <h2>Office+Aufhänger</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-pendelleuchten-comet-aufhaenger']" class="inside">
                <img src="/images/category/led-interierova-svitidla-zavesna-comet-zaves.jpg" alt="LED Interior beleuchtung pendelleuchten - Comet + Aufhänger" title="LED Interior beleuchtung pendelleuchten - Comet + Aufhänger"/>
                <h2>Comet+Aufhänger</h2>
            </a>
        </div>

<!-- skrytá kategorie
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-pendelleuchten-md32']" class="inside">
                <img src="/images/category/led-interierova-svitidla-zavesna-md32.jpg" alt="LED Interior beleuchtung pendelleuchten - MD32" title="LED Interior beleuchtung pendelleuchten - MD32"/>
                <h2>MD32</h2>
            </a>
        </div>
-->

    </div>
</div>
