<div class="site_subpage_content n-space-top">

<p>Die modernen LED-Sparleuchten aus der Reihe Office im beliebten Design zeichnen sich durch eine hohe Leistung, einen niedrigen Stromverbrauch, eine einfache Installation und durch das vielfältige Zubehör aus, mit welchem die Leuchten sowohl in Deckenabhängungen installiert als auch mit Clips oder einem Rahmen (die Rahmen sind für Plattengrößen 6060 erhältlich) aufgesetzt werden können. Unsere Platten sind einfach zum Aufhängen. Durch den Spezial-Diffusor ist eine gleichmäßige Lichtstreuung über die gesamte Lichtfläche sowie ein breiter Strahlungswinkel gewährleistet. </p>

<p> Die Leuchten werden in zwei generellen Lichtfarbtemperaturen (in warmem oder neutralem Weiß) angeboten sowie in quadratischer oder rechteckiger Form, mit weißem Rahmen (RAL 9010) beziehungsweise mit Rahmen im anodisierenden Aluminium-Farbton, in den Maßen von 295 x 595 mm bis 595 x 1.195 mm und in zwei Lichtausbeuten bis 4.750 lm. Es werden auch Varianten mit Spezial-Diffusor zur Begrenzung des UGR-Werts (vereinheitlichte Blendungsbewertung) angeboten. Die Leuchten sind ideal als Hauptbeleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80. </p>

</div>
