<div class="site_subpage_content n-space-top">
    <h1 class="page_title">OFFICE + Aufhänger</h1>

<p> Die modernen LED-Hängesparleuchten aus der Reihe Office im beliebten Design zeichnen sich durch eine hohe Leistung sowie durch einen niedrigen Stromverbrauch und durch eine einfache Installation aus. Durch den Spezial-Diffusor ist eine gleichmäßige Lichtstreuung über die gesamte Lichtfläche sowie ein breiter Strahlungswinkel gewährleistet. </p>

<p> Die Leuchten werden in zwei generellen Lichtfarbtemperaturen (in warmem oder neutralem Weiß) angeboten sowie in quadratischer oder rechteckiger Form, mit weißem Rahmen (RAL 9010) beziehungsweise mit Rahmen im anodisierenden Aluminium-Farbton, in den Maßen von 295 x 595 mm bis 595 x 1.195 mm und in zwei Lichtausbeuten bis 4.750 lm. Mit der gelieferten Drahtaufhängung kann eine bis zu 1,5 m lange Aufhängung installiert werden. Es werden auch Varianten mit Spezial-Diffusor zur Begrenzung des UGR-Werts (vereinheitlichte Blendungsbewertung) angeboten. Die Leuchten sind ideal als Hauptbeleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80. </p>

</div>
