<div class="site_subpage_content n-space-top">
    <h1 class="page_title">MONDI</h1>

<p>Úsporná a moderní LED přisazená svítidla řady Mondi v oblíbeném designu vynikají vysokým výkonem, nízkou spotřebou energie i jednoduchou instalací. Jejich speciální difuzor zajišťuje rovnoměrné rozptýlení světla po celé jeho ploše a široký vyzařovací úhel. </p>

<p>Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), o průměru 405 a 605 mm, ve výkonech nahrazujících až svítidla s 83 W zářivkou. Svítidla se ideálně hodí jako hlavní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80. </p>

</div>
