<div class="site_subpage_content n-space-top">
    <h1 class="page_title">FLASH</h1>

<p>Unsere Angebotspalette an LED-Reflektoren umfasst ein neues Produkt - den LED-Flash-Reflektor 10, welcher über einen Akkumulator verfügt. Darüber hinaus ist dieses neue Produkt größenmäßig sehr kompakt und verfügt zusätzlich über einen praktischen Griff und Lampensockel. </p>
<p>Mit diesen Eigenschaften können Sie den neuen LED-Flash-Reflektor 10 auch dort verwenden, wo kein elektrischer Strom vorhanden ist. Z. B. zu Hause bei einem Stromausfall oder in der Natur. Der Reflektor passt einfach in den Kofferraum und fungiert auch bei einer Panne als Lichtquelle sowie bei Reparaturen an der Elektroinstallation, wo der Strom abgestellt werden muss. </p>

<p>Der LED-Flash-Reflektor 10 mit Akkumulator kann auch über das automatische Ladegerät aufgeladen werden, welches zum Verpackungsinhalt gehört. Die Betriebszeit im voll aufgeladenen Zustand beträgt bis zu 3,5 Stunden. </p>

</div>
