<div class="site_subpage_content n-space-top">
    <h1 class="page_title">OFFICE + ZÁVĚS</h1>

<p>Úsporná a moderní závěsná LED svítidla řady Office v oblíbeném designu vynikají vysokým výkonem, nízkou spotřebou energie a jednoduchou instalací. Speciální difuzor zajišťuje rovnoměrné rozptýlení světla po celé jeho ploše a široký vyzařovací úhel. </p>

<p>Svítidla nabízíme ve dvou základních teplotách barev světla (teplá nebo neutrální bílá), ve tvaru čtverce nebo obdélníku, s bílým rámem (RAL 9010), případně s rámem v odstínu anodizovaného hliníku, o rozměrech od 295 x 595 mm až po 595 x 1195 mm, ve výkonech až 4 750 lm. Dodávaný lankový závěs umožňuje zavěšení dlouhé až 1,5 m. Nabízíme také varianty se speciálním difuzorem pro omezení indexu činitele oslnění UGR. Svítidla se ideálně hodí jako hlavní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80. </p>

</div>
