<div class="site_subpage_content n-space-top">

<p>Naše LED dekorativní svítidla patří mezi nejzajímavější produkty. Instalují se zpravidla do sádrokartonových podhledů. V naší nabídce naleznete více druhů dekorativních LED svítidel, a to v různých designech, výkonech a teplotách barev. Součástí našich LED dekorativních svítidel je vždy i značkový driver připojený ke svítidlu pomocí konektoru, který je součástí balení. </p> 

<p>Naše LED dekorativní svítidla se vyznačují originálním designem, vysokou spolehlivostí, dlouhou životností, nízkými provozními náklady, vysokou věrností podání barev a celou řadou dalších výhod. Poskytují příjemné světlo bez blikání, okamžitě svítí na plný výkon a k jejich výrobě jsme použili komponenty předních světových dodavatelů. </p>

</div>
