<div class="site_subpage_content n-space-top">

<p>Die sehr beliebten LED-Aufsatzleuchten gehören zu den meist verkauften Produkten unserer Firma. Unser Angebot umfasst eine breite Skala an LED-Aufsatzleuchten – und dies in unterschiedlichen Designs, auch mit höherer Schutzart, mit Sensor, einschließlich der Notmodul-Variante bei Stromausfall. Zum Bestandteil unserer LED-Leuchten gehört auch ein Markentreiber, welcher direkt in der Leuchte integriert ist. </p> 
<p>Unsere LED-Aufsatzleuchten zeichnen sich durch eine hohe Zuverlässigkeit, eine lange Lebensdauer, niedrige Betriebskosten, eine hohe Farbwiedergabe sowie durch viele weitere Vorteile aus. Sie sorgen für angenehmes Licht ohne Blinken. Sie leuchten sofort mit voller Leistung und für deren Produktion wurden Komponenten von weltweit führenden Herstellern verwendet. </p>


</div>
