<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Wandleuchten</h1>
    <div class="shop_categories_router">

        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-wandleuchten-inca']" class="inside">
                <img src="/images/category/led-interierova-svitidla-nastenna-inca.jpg" alt="LED Interior beleuchtung wandleuchten - Inca" title="LED Interior beleuchtung wandleuchten - Inca"/>
                <h2>Inca</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-wandleuchten-calvia']" class="inside">
                <img src="/images/category/led-interierova-svitidla-nastenna-calvia.jpg" alt="LED Interior beleuchtung wandleuchten - Calvia" title="LED Interior beleuchtung wandleuchten - Calvia"/>
                <h2>Calvia</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-wandleuchten-cala']" class="inside">
                <img src="/images/category/led-interierova-svitidla-nastenna-cala.jpg" alt="LED Interior beleuchtung wandleuchten - Cala" title="LED Interior beleuchtung wandleuchten - Cala"/>
                <h2>Cala</h2>
            </a>
        </div>

    </div>
</div>
