<div class="site_subpage_content n-space-top">
    <h1 class="page_title">FLASH</h1>

<p>Naši nabídku LED reflektorů rozšířil nový kousek – LED reflektor Flash 10 vybavený akumulátorem. Tento nový produkt je navíc velmi kompaktních rozměrů, doplněný praktickým madlem a podstavcem. </p>
<p>Díky těmto vlastnostem Vám nový LED reflektor Flash 10 také v místech a situacích, kdy není k dispozici elektrická energie. Např. doma, pokud dojde k výpadku proudu, nebo v přírodě, snadno se vejde do kufru auta a poslouží i jako osvětlení v případě poruchy, pomůže i při opravách elektroinstalace, které vyžadují vypnutí proudu. </p>

<p>LED reflektor Flash 10 s akumulátorem je možné dobíjet i pomocí autonabíječky, která je součástí balení. Na plné nabití vydrží svítit až 3,5 hodiny. </p>

</div>
