<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Einbauleuchten</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-einbauleuchten-office']" class="inside">
                <img src="/images/category/led-interierova-svitidla-podhledova-office.jpg" alt="LED Interior beleuchtung einbauleuchten - Office" title="LED Interior beleuchtung einbauleuchten - Office"/>
                <h2>Office</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-einbauleuchten-toro']" class="inside">
                <img src="/images/category/led-interierova-svitidla-podhledova-toro.jpg" alt="LED Interior beleuchtung einbauleuchten - Toro" title="LED Interior beleuchtung einbauleuchten - Toro"/>
                <h2>Toro</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-einbauleuchten-cristallo']" class="inside">
                <img src="/images/category/led-interierova-svitidla-podhledova-cristallo.jpg" alt="LED Interior beleuchtung einbauleuchten - Cristallo" title="LED Interior beleuchtung einbauleuchten - Cristallo"/>
                <h2>Cristallo</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-einbauleuchten-nixo']" class="inside">
                <img src="/images/category/led-interierova-svitidla-podhledova-nixo.jpg" alt="LED Interior beleuchtung einbauleuchten - Nixo" title="LED Interior beleuchtung einbauleuchten - Nixo"/>
                <h2>Nixo</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-einbauleuchten-pop']" class="inside">
                <img src="/images/category/led-interierova-svitidla-podhledova-pop.jpg" alt="LED Interior beleuchtung einbauleuchten - Pop" title="LED Interior beleuchtung einbauleuchten - Pop"/>
                <h2>Pop</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-einbauleuchten-barcelo']" class="inside">
                <img src="/images/category/led-interierova-svitidla-podhledova-barcello.jpg" alt="LED Interior beleuchtung einbauleuchten - Barcelo" title="LED Interior beleuchtung einbauleuchten - Barcelo"/>
                <h2>Barcelo</h2>
            </a>
        </div>
    </div>
</div>
