<div class="site_subpage_content n-space-top">
    <h1 class="page_title">MONDI</h1>

<p> Die modernen LED-Spar-Aufsatzleuchten aus der Reihe Mondi im beliebten Design zeichnen sich durch eine hohe Leistung sowie durch einen niedrigen Stromverbrauch und durch eine einfache Installation aus. Durch deren Spezial-Diffusor ist eine gleichmäßige Lichtstreuung über die gesamte Lichtfläche sowie ein breiter Strahlungswinkel gewährleistet. </p>

<p> Die Leuchten werden in zwei generellen Lichtfarbtemperaturen (in warmem oder neutralem Weiß) angeboten sowie mit einem Durchmesser von 405 und 605 mm und in Leistungsvarianten, durch welche Lampen mit einer 83-W-Glühlampe ersetzt werden. Die Leuchten sind ideal als Hauptbeleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80. </p>

</div>
