<div class="site_subpage_content n-space-bottom">
    <hr />
    <div class="container fluid nospace">
        <div class="row">

<!--		
            <div class="col-xs-12 col-md-7 col-xl-9">	
			
                <div class="downloads_list">				
					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <h2 class="filename">
                            <small>(.pdf)</small>
                        </h2>
                    </div>
                </div>
			</div>
-->			
			<div class="col-xs-12 col-md-12 col-xl-12">
<p> Die modernen LED-Sparleuchten aus der Reihe Cala E im beliebten Design zeichnen sich durch eine hohe Leistung sowie durch einen niedrigen Stromverbrauch, eine einfache Installation und durch eine Bajonettbefestigung aus, dank derer keine Schraube mehr zu sehen ist. Darüber hinaus verfügen diese LED-Leuchten zusätzlich über eine eingebaute Batterie, mit welcher der Lampenbetrieb auch bei Stromausfall für ganze 1,5 Stunden möglich ist. </p>

<p>Diese LED-Leuchten werden in neutraler weißer Lichtfarbe angeboten, welche bei diesem Lampentyp am meisten gefragt ist und dem natürlichen Tageslicht am nächsten kommt sowie mit einem Durchmesser von 280 mm bis 410 mm und in Leistungsvarianten, durch welche Lampen bis zu einer durch klassische Glühlampen erzeugten elektrischen Gesamtleistung von 170 W ersetzt werden. Die Leuchten sind ideal als Hauptbeleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80. </p>
            </div>
			
		<!-- pravá část - rozdělení na dvě části obrazovku
			<div class="col-xs-12 col-md-7 col-xl-9">

            <div class="col-xs-12 col-md-5 col-xl-3">
			

                <div class="product_action_sidebox nospace-left">
                    <div class="texts">
                        <h3 class="title">Akce</h3>
                        <p>
                            LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                        </p>
                        <div class="price_buy">
                            <a [routerLink]="['/']" class="buy"></a>
                            <div class="prices">
                                <div class="old">4 999 Kč</div>
                                <div class="primary">3 999 Kč</div>
                                <div class="secondary">4 499 Kč bez DPH</div>
                            </div>
                        </div>
                    </div>
                    <a class="image">
                        <img src="/images/example/121.255.10_0_L.jpg" alt="" />
                    </a>
                </div>
		
		
            </div>
		-->
        </div>
    </div>
</div>
