<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Sensorleuchten</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-interior-beleuchtung-sensorleuchten-cala-d']" class="inside">
                <img src="/images/category/led-interierova-svitidla-senzorova-cala.jpg" alt="LED Interior beleuchtung sensorleuchten - Cala D" title="LED Interior beleuchtung sensorleuchten - Cala D"/>
                <h2>Cala D</h2>
            </a>
        </div>
    </div>
</div>
