<div class="site_subpage_content n-space-top">
    <h1 class="page_title">CRISTALLO</h1>

<p>Die modernen LED-Sparleuchten aus der Reihe Cristallo zeichnen sich durch eine hohe Leistung, einen niedrigen Stromverbrauch, eine einfache Installation und vor allem durch das einmalige Design und die hochwertige Bearbeitung aus – das Gehäuse dieser LED-Leuchte wird nämlich aus einer Aluminium-Glas-Kombination hergestellt. Dies sorgt für eine ungewöhnliche sowie interessante Hintergrundbeleuchtung über die gesamte Lampenkontur, was aus der reinen Nutzfunktion der LED-Leuchten Cristallo für Deckenabhängungen ein interessantes und designvolles Accessoire entstehen lässt. </p>

<p> Die Leuchten werden in drei generellen Lichtfarbtemperaturen (in warmem Weiß, neutralem oder kaltem Weiß) angeboten sowie in quadratischer oder Kreisform, mit Maßen von 163 x 163 mm (quadratische Form) oder einem Durchmesser von 160 mm und in Leistungsvarianten, durch welche Lampen mit einer 26-W-CFL-Glühlampe ersetzt werden. Die Leuchten sind ideal als Haupt- oder dekorative Beleuchtung geeignet. Sie leuchten sofort mit voller Leistung, der Farbwiedergabeindex ist >80. </p>

</div>
