<div class="site_subpage_content n-space-top">
    <h1 class="page_title">CRISTALLO</h1>

<p>Úsporná a moderní LED svítidla řady Cristallo vynikají vysokým výkonem, nízkou spotřebou energie jednoduchou instalací a především jedinečným designem a hodnotným zpracováním – tělo tohoto LED svítidla je totiž vyrobeno z kombinace hliníku a skla. LED svítidlo Cristallo tak posouvá využití podhledových svítidel z čistě užitné funkce na zajímavý designový doplněk, a to díky netradičnímu zajímavému podsvětlení lemujícímu celý obrys svítidla. </p>

<p>Svítidla nabízíme ve třech základních teplotách barev světla (teplá, neutrální nebo studená bílá), ve tvaru čtverce nebo kruhu, o rozměrech 163 x 163 mm (čtverec) nebo průměr 160 mm, ve výkonech nahrazujících až svítidla s 26 W CFL zářivkou. Svítidla se ideálně hodí jako hlavní nebo dekorativní osvětlení, okamžitě svítí na plný výkon, index věrnosti podání barev >80. </p>

</div>
