<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">LED-Glühlampen</h1>
    <div class="container fluid">
        <div class="block">

<h3>LED-Glühlampen</h3>
<p>Die Auswahl der richtigen LED-Glühlampe ist sehr einfach. Sie müssen nur die richtige Fassung, die entsprechende Leistung und weiße Lichtfarbtemperatur auswählen (ob kaltweiße oder warmweiße Lichtfarbe). </p>
<p><strong>Durch die Fassung</strong> wird das Gewinde bzw. Glühlampenende gekennzeichnet, welches in die Fassung der Leuchte geschraubt oder gesteckt wird. Auf der klassischen Glühlampe, welche Sie durch eine moderne LED-Sparglühlampe ersetzen möchten, ist der Name der Fassung in der Regel angegeben (E27, E14, GU 5,3, GU10, G4, G9). Durch die Zahl im Namen der Fassung wird der Außendurchmesser der Fassung in Millimetern angegeben. Manchmal wird auch die Leuchte durch die Fassung gekennzeichnet. </p>
<p><strong>Die entsprechende LED-Glühlampen-Leistung</strong> bestimmen Sie anhand der Leistung der ursprünglichen klassischen Glühlampe (am häufigsten 40 W, 60 W, 100 W, etc.). Bei den aktuellen LED-Glühlampen von unvergleichbar höherer Wirkung ist es nicht mehr sinnvoll, sich nur nach der Wattleistung zu richten. Viel wichtiger ist der <strong>Lichtstrom-Wert</strong>, welcher allein etwas über die von der Lichtquelle in den Raum abgestrahlten Energiemenge aussagt.</p>
<p>Um bei der Auswahl von LED-Glühlampen eine einfache Orientierung zu gewährleisten, wurde aufgrund der Verordnung der Europäischen Kommission die <strong>Tabelle zur Umrechnung von Watt der klassischen Faden-Glühlampe in Lumen des Lichtstroms</strong> für LED-Glühlampen eingeführt. Um Ihnen die Auswahl so einfach wie möglich zu machen, wurden all unsere LED-Glühlampen, welche dem Ersatz entsprechen, mithilfe dieser Tabelle gekennzeichnet. </p>
<p><strong>Die Farbtemperatur Weiß</strong>, also den weißen Farbton, in welchem die Glühlampe leuchten wird, können Sie je nach beabsichtigtem Verwendungszweck auswählen. Bei der Farbtemperatur Weiß (bzw. der Ersatz-Farbtemperatur) handelt es sich um eine Angabe als ganze Zahl in Kelvin, mit welcher sich der weiße Farbton eindeutig beschreiben lässt: </p>
<ul>
<li>Farbtöne mit einer Farbtemperatur um <strong>2.700 K</strong> werden zusammenfassend als <strong>Warmweiß</strong> bezeichnet (kommt der Fadenglühlampe am nächsten) </li>
<li>Farbtöne mit einer Farbtemperatur um <strong>4.000 K</strong> werden als <strong>Neutralweiß</strong> bezeichnet (kommt dem Tageslicht am nächsten) </li>
<li>Farbtöne mit einer Farbtemperatur um <strong>6.000 K</strong> werden als <strong>Kaltweiß</strong> bezeichnet (werden als Blautöne wahrgenommen) </li>
</ul>
<p>Im Rahmen der Auswahl der konkreten Farbtemperatur können Sie sich an die allgemeinen Empfehlungen halten, aber auch nach eigenem Geschmack, dem beabsichtigten Verwendungszweck, etc. entscheiden.</p>

<p><strong>Warmweiß</strong> wird allgemein in Haushalten, Innenbereichen, Restaurants, Hotels, etc. verwendet. Der angenehm gelbliche Ton sorgt für eine entspannte und behagliche Atmosphäre, welche wir vom klassischen Glühlampen- bzw. Kerzenlicht her kennen. Wir empfehlen, diese Lichtfarbe im Schlafzimmer und in anderen Räumen zu verwenden, die zum Schlafen, zur Entspannung, etc. bestimmt sind.</p>

Die Lichtfarbe <p><strong>Neutralweiß</strong> findet am häufigsten an Arbeitsplätzen Verwendung sowie in öffentlichen Räumen, auf Fluren, Sportplätzen, etc. Neutralweiß oder auch die natürlich weiße Lichtfarbe kommt dem Tageslicht am nächsten. </p> 

Ebenso wie Neutralweiß findet die Lichtfarbe <p><strong>Kaltweiß</strong> am häufigsten an Arbeitsplätzen Verwendung sowie in öffentlichen Räumen, etc. Auf den ersten Blick wirkt das Licht kühler bis hin zu Weiß mit Blautönen. </p>

<p>Im Vergleich mit Warmweiß ist im Neutral- oder Kaltweiß <strong>der Blaulichtanteil höher</strong>. Es gibt Studien, durch welche der Einfluss dieser Lichtspektrumsbestandteile auf den menschlichen Organismus bestätigt wurde. Den aktuellen Erkenntnissen zufolge trägt dieser Bestandteil dazu bei, ein Hormon zu unterdrücken, welches sich bei Dämmerung auf natürliche Weise im menschlichen Körper entwickelt und u. a. dazu beiträgt, dass wir einschlafen können. Eine Lichtquelle mit einem höheren Blaulichtanteil wirkt somit auf unseren Organismus - bildlich gesprochen - als <strong>Auslöser des Wachzustands</strong>. </p>

<p>Aufgrund der vorgenannten Eigenschaften ergibt sich somit die typische Verwendung von kühleren weißen Farbtönen - vor allem für Arbeitsplätze, Sportplätze oder bevorzugt auch für Straßenbeleuchtungen, etc. Umgekehrt ist es nicht empfehlenswert, diese Farbtöne im Schlafzimmer oder in Erholungsräumen zu verwenden. </p>


</div>
</div>
</div>
