<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">HALOVÁ SVÍTIDLA</h1>
    <div class="shop_categories_router">
	
    <div class="item">
      <a [routerLink]="['/led-prumyslova-svitidla-halova-ledtec']" class="inside">
        <img src="/images/category/prumyslova-svitidla-ledtec.jpg" alt="Průmyslová svítidla LEDtec" title="Průmyslová svítidla LEDtec" />
        <h2>LEDtec</h2>
      </a>
    </div>
	
	<div class="item">
      <a [routerLink]="['/led-prumyslova-svitidla-halova-ledpot']" class="inside">
        <img src="/images/category/prumyslova-svitidla-ledpot.jpg" alt="Průmyslová svítidla LEDpot" title="Průmyslová svítidla LEDpot" />
        <h2>LEDpot</h2>
      </a>
    </div>
	
	<div class="item">
	  <a [routerLink]="['/led-prumyslova-svitidla-halova-ledalley']" class="inside">
        <img src="/images/category/prumyslova-svitidla-ledalley.jpg" alt="Průmyslová svítidla LEDalley" title="Průmyslová svítidla LEDalley" />
        <h2>LEDalley</h2>
      </a>
    </div>
	
	<div class="item">
      <a [routerLink]="['/led-prumyslova-svitidla-halova-lts']" class="inside">
        <img src="/images/category/prumyslova-svitidla-comet.jpg" alt="Průmyslová svítidla LTS" title="Průmyslová svítidla LTS"/>
        <h2>LTS</h2>
      </a>
    </div>
		
    </div>
</div>
