<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Allgemeine Geschäftsbedingungen (AGB) der McLED s.r.o</h1>
    <div class="container fluid">
        <div class="row">

<p><b>Geltungsbereich:</b> Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für alle Geschäfte, mit Unternehmern gemäß UGB mit Sitz in Österreich sowie mit österreichischen Zweigniederlassungen von Unternehmern gemäß UGB. Abweichende Bedingungen sind ausschließlich nach firmenmäßiger schriftlicher Bestätigung gültig.</p>
<br>
<p><b>Angebote:</b> Angebote werden von der McLED s.r.o nur schriftlich erstellt. Angebote sind ausnahmslos unverbindlich und freibleibend, soferne im Angebot keine abweichende Bedingung enthalten ist. Ein Auftrag kommt ausschließlich durch eine elektronische Auftragsbestätigung zustande.</p>
<br>
<p>Kostenvoranschläge der McLED s.r.o werden ausschließlich ohne Gewährleistung erstellt. </p>
<br>
<p><b>Preise:</b> Die im Webshop genannten Preise sind die aktuellen Verkaufspreise. Die vereinbarten Preise gelten unter der Bedingung, dass die Lieferungen zu den von der McLED s.r.o im Auftrag vereinbarten Terminen ausgeführt werden können. Soferne die Ausführung der Arbeiten durch Umstände verzögert oder erschwert wird, die nicht von der McLED s.r.o zu vertreten sind, ist die McLED s.r.o berechtigt, einen angemessenen Mehrpreis für die daraus resultierenden erhöhten Aufwendungen in Rechnung zu stellen. Sämtliche Preise verstehen sich, wenn die Umsatzsteuer nicht ausdrücklich angeführt ist, als Nettopreise.</p>
<br>
<p>Die genannten Preise verstehen sich inkl. Verpackung, der Gefahrenübergang erfolgt bei Versand oder Abholung (auch bei frachtfreier Lieferung).</p>
<br>
<p><b>Mitwirkungspflicht:</b> Der Kunde haftet für die Richtigkeit bereitgestellter Pläne und Maßangaben. Die McLED s.r.o ist nicht verpflichtet, solche Angaben zu überprüfen.</p>
<br>
<p><b>Zahlungsbedingungen:</b> Rechnungen sind innerhalb von 30 Tagen netto ab Rechnungsdatum zur Zahlung fällig, sofern nichts anderes vereinbart wurde. Der Auftraggeber ist nicht berechtigt, Forderungen gegen Forderungen der McLED s.r.o aufzurechnen, soweit diese nicht entweder ausdrücklich anerkannt oder gerichtlich festgestellt wurden.</p>
<p>Im Falle des Zahlungsverzuges des Auftraggebers ist die McLED s.r.o wahlweise berechtigt, entweder weitere Leistungen von Vorauszahlungen oder Sicherheitsleistungen abhängig zu machen, Schadenersatz wegen Nichterfüllung zu verlangen oder unbeschadet allfälliger Schadenersatzansprüche vom Vertrag nach Setzung einer 8-tägigen Nachfrist zurück zu treten. Im Falle des Zahlungsverzuges werden 1 % Zinsen per Monat verrechnet.</p>
<p>Die McLED s.r.o ist berechtigt, Zahlungen ohne Widmung auf jedwede andere Schuld des Auftraggebers anzurechnen. Dem Auftraggeber steht die Einbehaltung eines Haft- und/oder Deckungsrücklasses nur dann zu, wenn ein solcher ausdrücklich vereinbart ist. In jedem Fall kann ein vereinbarter Haft- und Deckungsrücklass durch eine Bankgarantie abgelöst werden.</p>
<br>
<p><b>Termine:</b> Vereinbarte Termine sind nur dann Fixtermine, wenn dies ausdrücklich schriftlich von McLED s.r.o bestätigt wird.</p>
<p>Eine Überschreitung von vereinbarten Terminen um maximal eine Woche gilt vom Auftraggeber als ausdrücklich genehmigt.</p>
<p>Im Falle eines Verzuges um mehr als eine Woche ist der Auftraggeber verpflichtet, McLED s.r.o eine angemessene Nachfrist mindestens im Ausmaß von zwei Wochen, zur Durchführung der Lieferungen einzuräumen.</p>
<p>Soferne die Arbeiten binnen dieser Nachfrist fertiggestellt werden, sind weitere Ansprüche des Auftraggebers wegen des Verzuges, insbesondere Schadenersatzansprüche ausgeschlossen.</p>
<br>
<p><b>Eigentumsvorbehalt:</b> Alle gelieferten, montierten oder sonst übergebenen Waren bleiben bis zur vollständigen Bezahlung im Eigentum der McLED s.r.o. Die McLED s.r.o ist bei der Ausübung des Eigentumsvorbehaltes auch berechtigt, Waren zurück zu nehmen und dabei auch montierte Waren abzumontieren. Die Zurücknahme der unter Eigentumsvorbehalt stehenden Waren gilt nicht als Rücktritt vom Vertrag. Kosten im Zusammenhang mit der Geltendmachung des Eigentumsvorbehaltes gehen zu Lasten des Auftraggebers. Ein Eigentumsvorbehalt gilt zur Sicherung sämtlicher Forderungen gegen den Auftraggeber. </p>
<br>
<p><b>Gewährleistung:</b> Die McLED s.r.o leistet, im Rahmen der gesetzlichen Bestimmungen, Gewähr für eine Lieferung bzw. Ausführung der Arbeiten entsprechend den im Auftrag vereinbarten Bedingungen, sowie dem jeweiligen Stand der Technik.</p>
<br>
<p>Eine darüber hinausgehende Gewährleistung für besondere Eigenschaften bzw. eine besondere Eignung wird von McLED s.r.o nur dann übernommen, wenn dies im Auftrag ausdrücklich vereinbart wurde.</p>
<br>
<p>Der Auftraggeber ist verpflichtet, Lieferungen und Leistungen unverzüglich zu überprüfen und allfällige Mängel binnen einer Frist von längstens 7 Tagen ab Lieferung bzw. Leistungserbringung schriftlich zu rügen, andernfalls Gewährleistungsansprüche ausnahmslos erlöschen. Bei nicht offensichtlichen Mängeln muss die Rüge unverzüglich innerhalb von 7 Tagen ab Entdeckung des Mangels erfolgen.</p>
<br>
<p><b>Schadenersatz:</b> Die McLED s.r.o haftet ausschließlich im Falle von Vorsatz und grober Fahrlässigkeit.</p>
<br>
<p>Die Haftung für unternehmerische Sachschäden nach Produkthaftungsgesetz wird ausdrücklich ausgeschlossen.</p>
<br>
<p><b>Schriftformerfordernis:</b> Änderungen sowie Ergänzungen des Umfanges sowie der Bedingungen von Aufträgen sind ausschließlich nach elektronischer Bestätigung durch die McLED s.r.o gültig.</p>
<br>
<p><b>Anwendbares Recht und Gerichtsstand:</b> Auf sämtliche Streitigkeiten ist ausschließlich Österreichisches Recht, unter Ausschluss des UN-Kaufrechts, anzuwenden. Gerichtsstand für sämtliche Streitigkeiten ist Linz.</p>
<br>
<p><b>Salvatorische Klausel:</b> Sollten einzelne Bestimmungen dieser Geschäftsbedingungen unwirksam sein oder werden, so berührt dies die Wirksamkeit der übrigen Bestimmungen nicht. Anstelle einer unwirksamen Vorschrift gilt eine Regelung als vereinbart, die der unwirksamen am nächsten kommt und zulässig ist. </p>

        </div>
    </div>
</div>
