<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">PRACHOTĚSNÁ SVÍTIDLA</h1>
    <div class="shop_categories_router">
	
    <div class="item">
      <a [routerLink]="['/led-prumyslova-svitidla-prachotesna-comet']" class="inside">
        <img src="/images/category/prumyslova-svitidla-comet.jpg" alt="Průmyslová svítidla Comet" title="Průmyslová svítidla Comet"/>
        <h2>Comet</h2>
      </a>
    </div>
	
	<div class="item">
	   <a [routerLink]="['/led-prumyslova-svitidla-prachotesna-ledheaven']" class="inside">
        <img src="/images/category/prumyslova-svitidla-ledheaven.jpg" alt="Průmyslová svítidla LEDheaven" title="Průmyslová svítidla LEDheaven" />
        <h2>LEDheaven</h2>
      </a>
    </div>
		
    </div>
</div>
