<style>
li  {margin-left: 30px;}
</style>

<div class="site_subpage_content n-space-top n-space-bottom">
	<h1 class="page_title">Lieferkonditionen</h1>
<div class="container fluid">
<div class="block">
		
	<h2>Zustellung mittels GEIS</h2>
<!--	<b>Kunden ohne individuelle B2B-Geschäftsbedingungen:</b>
		<ul>
			<li>Zustellung innerhalb Österreich € 5,90 inkl. MWSt.</li>
			<li>Kostenlose Zustellung bei Bestellung über € 50,- inkl. MWSt.</li>
		</ul>-->
<br>		
		<b>Firmenkunden mit B2B-Geschäftsbedingungen:</b>
		<ul>
			<li>Zustellung innerhalb Österreich € 8,- ohne MWSt.</li>
			<li>Kostenlose Zustellung bei Bestellung über € 100,- ohne Mwst.</li> 
		</ul>
	
</div>
</div>
</div>
