<div class="site_subpage_content n-space-top">
    <h1 class="page_title">TROLL D</h1>

<p>Die modernen LED-Sparreflektoren aus der Reihe Troll stellen einen idealen Ersatz für ältere Halogenreflektoren dar. Diese LED-Leuchten zeichnen sich durch eine hohe spezifische Leistung, eine lange Lebensdauer, eine einfache Installation sowie durch die vielfältigen Verwendungsmöglichkeiten aus. </p>

<p>Die LED-Reflektoren Troll werden in neutraler weißer Lichtfarbe angeboten, welche bei diesem Lampentyp am meisten gefragt ist und dem natürlichen Tageslicht am nächsten kommt. Es gibt Varianten mit Sensor, in weißer oder schwarzer Chassis-Farbe, in Leistungsvarianten von 20 W bis 50 W. Sensor erfasst den Winkel von 140 ° in einem Abstand von bis zu 12 m von dem Sensor. Sehr gewünschte Sensor LED-Leuchten sind die ideale Beleuchtung in einen Raum, wo Sie mehr Bewegung antizipieren und für einen kürzeren Zeitraum bleiben.</p>

</div>
