<style> 
.odsazeni {
    padding-bottom: 0px;
    padding-left: 30px;
    padding-top: 0px;
}
</style>

<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Support</h1>
    <div class="container fluid">
        <div class="block">

            <h2>McLED Support</h2>
            <p>Damit wir Ihnen den Einkauf so viel wie möglich erleichtern, haben wir für Sie den McLED assist Dienst errichtet, der Ihnen kostenlos mit der Produktauswahl hilft.</p>
            <p>Zum Beispiel bei einer LED-Strip-Auswahl, wo Sie ein passendes Netzgerät oder Bedienungseinheit brauchen werden, helfen wir Ihnen gerne mit dieser Auswahl. Kontaktieren Sie bitte unser McLED assist Dienst, wo wir Ihnen technische Beratung leisten.</p>
            <p>Der<strong> McLED assist</strong> Dienst ist Ihnen an Werkstagen im Zeitraum</p>
            <p class="odsazeni">Mo – Do &nbsp;&nbsp; 8:00 – 16:00</p>
            <p class="odsazeni">Fr&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00 – 12:30</p>
            <p>Auf der Telefonnummer  <strong>+43 73276460 </strong> oder Email: <strong><a href="mailto:mcled.support@schmachtl.at">mcled.support@schmachtl.at</a></strong> </p>

        </div>
    </div>
</div>
