<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Téma: Hliníkové profily</h1>
    <div class="container fluid">
        <div class="block">

<h3>Ten správný design pro LED pásek</h3>
<p>LED pásek doporučujeme umístit do hliníkového profilu. Nejen, že z něj jednoduchým způsobem <strong>vytvoříte designové LED svítidlo</strong>, zároveň také umožníte rychlejší odvod tepla od LED pásku a tím <strong>zvýšíte jeho životnost</strong>. Některé výkonnější typy LED pásků je dokonce bezpodmínečně nutné do hliníkových profilů instalovat, a to právě z důvodu zachování deklarované životnosti. </p>
<p>Naše hliníkové profily nabízíme v těchto základních kategoriích:</p>

<ul>
<li><strong>vestavné</strong> – profily jsou zapouštěny do drážky, jejíž okraj díky svému provedení snadno překryjí. Profil je vhodné v drážce zafixovat pomocí lepidla, úchytů nebo přivrtáním</li>
<li><strong>přisazené</strong> – profily jsou umístěny na povrchu, zpravidla uchycené pomocí úchytů, případně přivrtané, přilepené</li>
<li><strong>rohové</strong> – profily určené pro umístění v rozích, uchycené pomocí úchytů, nebo vrutů</li>
<li><strong>závěsné</strong> – profily určené k zavěšení pomocí nabízeného příslušenství, můžete díky nim vytvořit moderní zavěšené LED svítidlo</li>
<li><strong>nástěnné</strong> – profily s originálním designem, které jsou určeny především k dekorativnímu osvětlení</li>
<li><strong>nášlapné</strong> – profily určené k umístění do podlahy</li>
<li><strong>speciální</strong> – profily k umístění na sklo, plastové profily určené do vlhkých prostor, profily ohebné</li>
</ul>
<p>Součástí hliníkového profilu je i krytka, tzv. <strong>difuzor</strong>. Ten zajišťuje jednak ochranu LED pásku, zároveň však také <strong>rozptýlení světla z jednotlivých LED</strong> na LED pásku. Každý difuzor je opatřen hodnotou propustnosti světla, která mimo jiné vyjadřuje, kolik světla se průchodem přes difuzor ztratí. </p>
<p><strong>Mléčnou variantu difuzoru</strong> volte, když potřebujete maximální rozptýlení světla – typicky v situaci, kdy se LED pásek s profilem může objevit v zorném poli a kdy by tedy jednotlivé LED mohly být viditelné. Tím by mohlo docházet k nepříjemnému oslňování. Pomocí mléčného difuzoru se Vám tak podaří vytvořit nejkompaktnější světelnou linii. Další časté použití mléčného difuzoru je v případě, kdy bude LED pásek v profilu umístěn hned u nasvětlované plochy – tím by došlo na této ploše k nerovnoměrnému světlu s viditelnými světlejšími a tmavými místy. </p>
<p><strong>Čirý difuzor</strong> slouží především jako ochrana LED pásku. Má nejvyšší propustnost světla, ale toto světlo téměř nerozptýlí. Je tedy vhodný především u aplikací, kdy je LED pásek určen k nepřímému osvětlení, podsvětlení apod. Obecně ho volte v aplikacích, kde nehrozí, že bude LED pásek viditelný, nebo kde naopak chcete zdůraznit použití LED technologie zviditelněním jednotlivých LED. </p>
<p><strong>Matný difuzor</strong> je alternativa k mléčnému difuzoru, která ale má vyšší propustnost světla a o něco menší schopnost světlo rozptýlit.</p>
<p>Součástí naší široké nabídky je rovněž <strong>originální příslušenství</strong> k hliníkovým profilům, které zahrnuje koncovky k profilům, úchyty, sady k zavěšení, spojky apod. </p>


</div>
</div>
</div>
