<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Téma: LED žárovky</h1>
    <div class="container fluid">
        <div class="row">

<h3>Jak správně vybrat žárovku</h3>
<p>Výběr správné LED žárovky je velmi jednoduchý. Stačí Vám pouze zvolit si správnou patici, odpovídající výkon a teplotu bílé barvy (zda teple nebo studeně bílá barva světla). </p>
<p><strong>Patice</strong> označuje závit neboli konec žárovky, který se zašroubovává či zasouvá do objímky svítidla. Na klasické žárovce, kterou se chystáte nahradit naší moderní a úspornou LED žárovkou, bývá název patice zpravidla uveden (E27, E14, GU 5,3, GU10, G4, G9). Číslo v názvu patice značí vnější průměr patice v milimetrech. Někdy je paticí označeno také svítidlo. </p>
<p><strong>Odpovídající výkon LED žárovky</strong> určíte podle výkonu původní klasické žárovky (nejčastěji 40 W, 60 W, 100 W apod.). U současných LED žárovek o nesrovnatelně vyšších účinnostech již nemá smysl řídit se pouze wattáží, mnohem důležitější je hodnota <strong>světelného toku</strong>, který jediný vypovídá o množství vyzařovaného světla.</p>
<p>Abychom se dokázali při výběru LED žárovky snadno zorientovat, byla na základě nařízení evropské komise zavedena <strong>převodní tabulka mezi watty klasické vláknové žárovky a světelným tokem v lumenech</strong> u LED žárovky. Pomocí této tabulky jsme označili všechny naše LED žárovky odpovídající náhradou, abychom Vám tím výběr co nejvíce zjednodušili. </p>
<p><strong>Teplotu bílé barvy</strong>, tedy jakým odstínem bílé barvy bude žárovka svítit, si můžete zvolit podle zamýšleného použití. Teplota bílé (resp. náhradní teplota chromatičnosti) je celočíselný údaj v kelvinech, díky němuž dokážeme jednoznačně popsat barevný odstín bílé barvy: </p>
<ul>
<li>odstíny s teplotou kolem <strong>2700 K</strong> pak souhrnně označujeme jako <strong>teple bílé</strong> (nejvíce podobné vláknové žárovce) </li>
<li>odstíny s teplotou kolem <strong>4000 K</strong> nazýváme <strong>neutrálně bílé</strong> (nejvíce podobné dennímu světlu) </li>
<li>odstíny s teplotou kolem <strong>6000 K</strong> nazýváme <strong>studeně bílé</strong> (vnímáme nádech do modra) </li>
</ul>
<p>Při výběru konkrétní teploty barvy se můžete řídit obecnými doporučeními, ale také vlastním vkusem, zamýšleným efektem apod. </p>

<p><strong>Teple bílá</strong> se obecně používá v domácnostech, interiérech, restauracích, hotelech apod. Její příjemně nažloutlý tón navozuje uklidňující pohodovou atmosféru, na kterou jsme zvyklí z osvětlení klasickými žárovkami, případně svíčkami. Doporučujeme tedy tuto barvu světla do ložnic a všech dalších místností, kde se budete chystat ke spánku, relaxovat apod.</p>

<p><strong>Neutrálně bílá</strong> barva světla se nejčastěji používá na pracovištích, ve veřejných prostorách, na chodbách, sportovištích apod. Neutrálně nebo také přirozeně bílá barva je nejvíce podobná barvě denního světla. </p> 

<p><strong>Studeně bílá</strong> barva světla se stejně jako neutrálně bílá používá nejčastěji na pracovištích, ve veřejných prostorách apod. Na první pohled působí světlo chladnějším dojmem, až jako bílá s nádechem do modra. </p>

<p>Ve srovnání s teple bílou barvou obsahují neutrálně a studeně bílé odstíny <strong>vyšší podíl modrého světla</strong>. Existují studie, které potvrdily vliv této složky světelného spektra na lidský organismus. Dle současných poznatků pomáhá tato složka potlačovat hormon, který se v lidském těle začíná přirozeně vytvářet při soumraku a pomáhá nám mj. usnout. Světlo s vyšším podílem modré složky tak působí přímo na náš organismus obrazně řečeno jako <strong>aktivátor bdělosti</strong>. </p>

<p>Z výše uvedené vlastnosti tedy plyne typické použití studenějších odstínů bílé – jsou to zejména pracoviště, sportoviště, nebo s velkou výhodou také osvětlení komunikací apod. Nedoporučuje se naopak umístění těchto barevných odstínů do ložnic a odpočíváren. </p>
 


</div>
</div>
</div>
