<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Téma: LED průmyslová svítidla</h1>
    <div class="container fluid">
        <div class="block">

<h3>Klasické a průmyslové LED reflektory</h3>
<p>LED reflektory jsou určené jak pro domácnosti, tak i pro komerční účely. Perfektně slouží k nasvícení výloh, reklamních tabulí, fasád, soch, zahrad, vjezdů, plotů a mnoha jiných objektů. Některé naše LED reflektory jsou přenosné, případně vybavené integrovanou baterií. Možnosti použití jsou tedy skutečně široké. </p>
<p>Při výběru LED reflektorů je základním parametrem <strong>výkon – světelný tok v lumenech</strong>. Pro orientaci a lepší představu uvádíme rovněž odpovídající výkon klasického halogenového reflektoru, který vyzáří stejné množství světla, jako naše LED varianta. </p>
<p>Dalšími parametry, které musíte před nákupem LED reflektoru zvážit, je rovněž <strong>teplota barvy světla</strong> (teple bílá / neutrálně bílá / studeně bílá) a také <strong>barva šasi</strong> reflektoru (bílá se lépe hodí na bílé fasády, černá zase na tmavší apod). </p>
<p><strong>Teplotu bílé barvy</strong>, tedy jakým odstínem bílé barvy bude LED reflektor svítit, si můžete zvolit podle zamýšleného použití. Teplota bílé (resp. náhradní teplota chromatičnosti) je celočíselný údaj v kelvinech, díky němuž dokážeme jednoznačně popsat barevný odstín bílé barvy: </p>
<ul>
<li>odstíny s teplotou kolem <strong>2700 K</strong> pak souhrnně označujeme jako <strong>teple bílé</strong> (nejvíce podobné vláknové žárovce) </li>
<li>odstíny s teplotou kolem <strong>4000 K</strong> nazýváme <strong>neutrálně bílé</strong> (nejvíce podobné dennímu světlu)</li>
<li>odstíny s teplotou kolem <strong>6000 K</strong> nazýváme <strong>studeně bílé</strong> (vnímáme nádech do modra) </li>
</ul>
<p>Při výběru konkrétní teploty barvy se můžete řídit obecnými doporučeními, ale také vlastním vkusem, zamýšleným efektem apod. </p>
<p><strong>Průmyslové LED reflektory</strong> jsou díky svým výkonům určeny především jako spolehlivá a úsporná varianta k halogenovým či jiným typům hlavního osvětlení ve výrobních i skladových halách, prodejních i manipulačních prostorách apod.). </p>
<p>Protože jsou tato svítidla používána nejčastěji k osvětlení pracovních prostor, je vhodné vybrat odpovídající výkon a počet svítidel tak, aby byly splněny požadavky platných norem. Nezřídka je třeba provést alespoň orientační <strong>výpočet parametrů osvětlení</strong>, na jehož základě doporučíme vhodnou soustavu svítidel. </p>
<p><strong>Výpočet Vám můžeme zpracovat</strong> (zdarma), budeme ale potřebovat základní údaje o nasvětlovaném prostoru:</p>
<ul>
<li>šířku, délku a výšku prostoru </li>
<li>předpokládanou výšku umístění svítidel </li>
<li>detailní popis činnosti prováděné pod osvětlením (nutné pro zatřídění činnosti a stanovení odpovídajících požadavků normy) </li>
<li>pro případné další zpřesnění pak také četnost údržby prostor a svítidel, barvu a materiál povrchů – stěn, podlahy a stropu </li>
<li>vše urychlí také zaslání půdorysu ve formátu *dwg </li>
</ul>


</div>
</div>
</div>
