<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">HALLENLEUCHTEN</h1>
    <div class="shop_categories_router">
	
    <div class="item">
      <a [routerLink]="['/led-industriebeleuchtung-hallenleuchten-ledtec']" class="inside">
        <img src="/images/category/prumyslova-svitidla-ledtec.jpg" alt="LED Industriebeleuchtung Hallenleuchten LEDtec" title="LED Industriebeleuchtung Hallenleuchten LEDtec" />
        <h2>LEDtec</h2>
      </a>
    </div>
	
<!-- <div class="item">
      <a [routerLink]="['/led-industriebeleuchtung-hallenleuchten-tedpot']" class="inside">
        <img src="/images/category/prumyslova-svitidla-ledpot.jpg" alt="LED Industriebeleuchtung Hallenleuchten LEDpot" title="LED Industriebeleuchtung Hallenleuchten LEDpot" />
        <h2>LEDpot</h2>
      </a>
    </div> -->
	
<!-- <div class="item">
	  <a [routerLink]="['/led-industriebeleuchtung-hallenleuchten-ledalley']" class="inside">
        <img src="/images/category/prumyslova-svitidla-ledalley.jpg" alt="LED Industriebeleuchtung Hallenleuchten LEDalley" title="Industriebeleuchtung Hallenleuchten LEDalley" />
        <h2>LEDalley</h2>
      </a>
    </div> -->
	
<!-- <div class="item">
      <a [routerLink]="['/led-industriebeleuchtung-hallenleuchten-lts']" class="inside">
        <img src="/images/category/prumyslova-svitidla-comet.jpg" alt="LED Industriebeleuchtung Hallenleuchten LTS" title="LED Hallenleuchten Industriebeleuchtung LTS"/>
        <h2>LTS</h2>
      </a>
    </div> -->
		
    </div>
</div>
