<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Téma: LED pásky, napájecí zdroje a ovládání</h1>
    <div class="container fluid">
        <div class="block">

<h3>Jak se neztratit v LED páscích</h3>
<p>LED pásky nachází v současné době stále širší možnosti uplatnění. S výhodou je můžete použít jako dekorativní osvětlení v interiérech i exteriérech, ale také jako hlavní osvětlení místností, chodeb apod. Použitím LED pásků v kombinaci s hliníkovými profily jednak prodloužíte jejich životnost, jednak vytvoříte prakticky hotové LED svítidlo s moderním designem. </p>
<p>LED pásky nabízíme v balení po 5 metrech (to je zároveň u těchto typů také minimální objednací množství). Některé typy nabízíme také v návinech dlouhých 30 či 50 metrů, z těchto rolí Vám <strong>můžeme ustřihnout požadovanou délku</strong>. V našem e-shopu u každého LED pásku naleznete informaci o tom, zda je možné LED pásek prodávat i v zákaznických délkách, případně po jak dlouhých úsecích lze daný LED pásek stříhat. </p>
<p>LED pásky vybírejte dle následujících základních parametrů: </p>
<ul>
<li><strong>stupeň krytí IP</strong> – charakterizuje ochranu LED pásku proti vnějším vlivům: </li>
<ul>
<li>IP 20 – LED pásek určený výhradně pro vnitřní prostředí</li>
<li>IP 54 – LED pásek vhodný i do vlhkého prostředí, vrchní strana kryta silikonem</li>
<li>IP 68 – LED pásek lze použít i v exteriérech, lze jej krátkodobě ponořit do vody. LED pásek je umístěn v silikonovém pouzdře, které je vyplněno silikonem</li>
</ul>
<li><strong>svítivost</strong> (světelný tok v lumenech) – čím větší číslo, tím více světla</li>
<li><strong>počet LED na metr</strong> LED pásku – čím vyšší číslo, tím méně jsou patrná tmavá místa mezi jednotlivými LED (vyšší hustota LED na pásku) </li>
<li><strong>napájecí napětí</strong> – LED pásky je nutné napájet stabilizovaným napětím 12 V nebo 24 V, k tomu slouží síťové napájecí zdroje</li>
<li><strong>barva světla</strong> – studeně bílá, teple bílá, červená, žlutá, modrá, zelená, RGB, kombinace RGB + studená bílá (RGB+W) a studeně bílá + teple bílá (W+WW) </li>
</ul>
<p>LED pásky doporučujeme vždy instalovat na teplovodivý a nehořlavý povrch. </p>
<p>Každý LED pásek můžete v případě potřeby <strong>snadno dodatečně zkrátit</strong> dle Vašich aktuálních požadavků. Jednoduše pásek běžnými nůžkami přestříhnete na jakémkoli vyznačeném místě. </p>

<br> 

<h3>Správně zvolený napájecí zdroj a ovládání</h3>
<p>LED pásek je napájen stejnosměrným napětím 12 nebo 24 V (záleží na vybraném LED pásku). Pro zajištění tohoto napětí je potřeba vložit mezi síťové napětí a LED pásek zařízení, které se nazývá napájecí zdroj. </p>
<p><strong>Hlavní parametry zdrojů</strong>, na které byste se při výběru měli soustředit: </p>

<ul>
<li><strong>Správný výkon</strong> napájecího zdroje určíte podle Vámi vybraného LED pásku. Každý LED pásek je popsán údajem o wattáži (např. 12 W/m apod.) Pokud tedy víte, že budete potřebovat např. 3 metry LED pásku o wattáži 12 W/m, pak takový LED pásek bude potřebovat minimálně 3 m x 12 W = 36 W. Napájecí zdroje je však potřeba (z důvodu optimální životnosti) vybírat tak, aby pokryly předpokládanou wattáž LED pásků i s cca 20% rezervou. Minimální výkon zdroje je v uvedeném případě 3 m x 12 W x 1,2 (rezerva 20 %) = 43,2 W. Z naší nabídky pak vyberete vhodný zdroj s vyšší wattáží</li>
<li><strong>Stupeň krytí IP</strong> u zdroje vybírejte podle plánovaného umístění. Pokud nehrozí, že se k napájecímu zdroji dostane voda, případně že zde bude vysoká vlhkost, postačí vybrat zdroj s krytím IP20. V opačném případě vybírejte z napájecích zdrojů s krytím IP 67</li>
<li><strong>Odpovídající výstupní napětí</strong> napájecího zdroje určíte podle LED pásku, který chcete na napájecí zdroj připojit. Zpravidla se jedná o 12 V nebo 24 V</li>
</ul>

<p><strong>Ovládání</strong> je potřeba zapojit mezi napájecí zdroj a LED pásek v případě, že chcete mít <strong>možnost LED pásek stmívat</strong>, v případě barevných RGB LED pásků pak <strong>nastavovat barvy a různé světelné efekty</strong> (blikání, postupná změna barev apod.). V nabídce máme také LED pásky, které jsou osazeny dvěma druhy LED – teple a studeně bílými. Pomocí dálkového ovládání si pak můžete <strong>regulovat teplotu bílé barvy</strong> od studeně bílé po teple bílou. Při výběru dálkového ovládání je třeba si opět dát pozor na maximální proudové/výkonové zatížení jednotlivých ovladačů. V případě potřeby je možné zvýšit přípustné zatížení RGB ovladačů připojením RGB zesilovače. </p>



</div>
</div>
</div>
