<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Aluminiumprofile</h1>
    <div class="container fluid">
        <div class="block">

<h3>Aluminiumprofile</h3>
<p>Es wird empfohlen, den LED-Streifen auf einem Aluminiumprofil zu installieren. Somit erhalten Sie auf einfache Weise eine <strong>designvolle LED-Leuchte</strong> und sorgen gleichzeitig für eine schnellere Wärmeableitung vom LED-Streifen, wodurch sich die <strong>Lebensdauer des LED-Streifens erhöht</strong>. Einige leistungsstärkere LED-Streifentypen müssen sogar auf Aluminiumprofilen installiert werden, damit die angegebene Lebensdauer gewährleistet ist. </p>
<p>Die Aluminiumprofile werden in folgenden Basiskategorien angeboten:</p>

<ul>
<li><strong>Einbauprofile</strong> – die Profile sind in einer Nut eingelassen, und verdecken aufgrund ihrer Ausführung den Nutrand. Das Profil kann in der Nut mit Leim, Haltestücken oder durch Anbohren fixiert werden</li>
<li><strong>Aufbauprofile</strong> – die Profile befinden sich auf der Oberfläche, und werden in der Regel mit Haltestücken befestigt bzw. werden sie angebohrt oder aufgeklebt</li>
<li><strong>Eck-profile</strong> – die Profile werden in Ecken installiert und mit Haltestücken bzw. Holzschrauben befestigt</li>
<li><strong>Hänge-profile</strong> – mit dem erhältlichen Zubehör werden die Profile aufgehängt, auf diese Weise erhalten Sie eine moderne LED-Hängeleuchte</li>
<li><strong>Wand-profile</strong> – Profile im originellen Design, welche vor allem zu dekorativen Beleuchtungszwecken bestimmt sind</li>
<li><strong>Boden-profile</strong> – die Profile werden im Boden installiert</li>
<li><strong>Spezial-profile</strong> – Profile zur Installation auf Glas, Kunststoffprofile für feuchte Bereiche, biegsame Profile</li>
</ul>
<p>Zum Bestandteil des Aluminiumprofils gehört auch eine Schutzkappe - der sog. <strong>Diffusor</strong>. Durch diesen ist der Schutz des LED-Streifens gewährleistet sowie auch <strong>die Lichtstreuung von den einzelnen LEDs</strong> im LED-Streifen. Jeder Diffusor verfügt über einen Lichtdurchlässigkeitswert, durch welchen unter anderem angegeben wird, wie viel Licht über den Diffusor verloren geht. </p>
<p><strong>Für die Diffusor-Nebelvariante</strong> entscheiden Sie sich, wenn eine maximale Lichtstreuung erforderlich ist - typischerweise in Situationen, wo sich der LED-Streifen mit dem Profil im Blickfeld befinden könnte und die einzelnen LEDs somit zu sehen sein könnten. Dies könnte unangenehmes Blenden zur Folge haben. Der Nebeldiffusor sorgt somit für die kompakteste Lichtlinie. Des Weiteren findet der Nebeldiffusor sehr häufig in Situationen Verwendung, wo sich der LED-Streifen im Profil direkt bei angestrahlten Flächen befindet. Dadurch könnte auf dieser Fläche ein ungleichmäßiges Licht mit sichtbaren helleren und dunklen Stellen entstehen. </p>
<p><strong>Der klare Diffusor</strong> dient vor allem zum Schutz des LED-Streifens. Er verfügt über eine höhere Lichtdurchlässigkeit, wobei aber dieses Licht durch den Diffusor fast nicht zerstreut wird. Somit ist er vor allem dort zur Verwendung geeignet, wo der LED-Streifen zur indirekten Beleuchtung, Hintergrundbeleuchtung, etc. bestimmt ist. Allgemein entscheiden Sie sich in den Fällen für einen klaren Diffusor, wo keine Gefahr besteht, dass der LED-Streifen zu sehen ist bzw. wo Sie umgekehrt die verwendete LED-Technologie hervorheben möchten, indem die einzelnen LEDs zu sehen sind. </p>
<p><strong>Der matte Diffusor</strong> stellt eine Alternative zum Nebeldiffusor dar, der jedoch über eine höhere Lichtdurchlässigkeit sowie über eine etwas geringere Lichtstreuungsfähigkeit verfügt.</p>
<p>Zum Bestandteil unseres vielfältigen Angebots gehört auch <strong>Original-Zubehör</strong> für die Aluminiumprofile. Hierzu gehören Profil-Endstücke, Haltstücke, Sets zur Hängemontage, Verbindungsstücke, etc. </p>


</div>
</div>
</div>
