<div class="site_subpage_content n-space-top n-space-bottom">
<h1 class="page_title">Zahlungsart</h1>
<div class="container fluid">
<div class="block">
<br>
<!--	<h2>Banküberweisung</h2>
<p>Nach Ihrer Bestellung erhalten Sie auf Ihre E-Mail Adresse die Zahlungsanforderung. Nach dem Zahlungseingang auf unser Konto (Nr. …………, bei der Oberbank Linz), wird Ihnen die Ware zugeschickt. Der Zahlungseingang kann 1-2 Arbeitstage dauern.<p>-->

	<h2>Bankverdindung</h2>
<p>
	<span style="padding-right: 20px;">
		<strong>BLZ:</strong> 15000 Oberbank AG <br>
		<strong>Kontonummer:</strong> 751-1081.84 <br>
		<strong>BIC:</strong> OBKLAT2L <br>
		<strong>IBAN:</strong> AT691500000751108184 <br>
	</span> 
</p>
</div>
</div>
</div>
