<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Garantieerklärung</h1>
    <div class="container fluid">
        <div class="block">

<p><b>Die McLED s.r.o. gewährt folgende Herstellergarantie auf McLED Produkte: </b></p>
<p>McLED s.r.o garantiert während eines Garantiezeitraums von 24 Monaten ab Lieferdatum, dass  Originalprodukte die mit der Marke „McLED“ gekennzeichnet sind, bei bestimmungsgemäßem Gebrauch frei von Herstellungs- und Materialfehlern sind. Eine längere Garantie gilt, sofern auf der Verpackung oder im Datenblatt ein längerer Zeitraum angegeben ist.</p>
<p>Auf Anfrage kann eine "verlängerte Garantie" oder eine "projektbezogene Garantie" nach Kenntnis und Beurteilung der spezifischen Anwendungsbedingungen vereinbart werden.</p>
<p>Diese Garantie gilt nur in den Mitgliedstaaten der Europäischen Union (EU) und der Europäischen Freihandelsassoziation (EFTA) und nur gegenüber Kunden, die das Produkt in einem Mitgliedstaat der EU oder EFTA erstmalig erworben und in Betrieb genommen haben. </p>
<p> <b>1.</b> Die Garantie gilt ausschließlich unter der Bedingung, dass</p>
<p> <b>a.</b> die Produkte in Übereinstimmung mit den vorgegebenen Produkt- und Anwendungsspezifikationen (insbesondere gemäß Datenblatt, Produktbroschüre, Produktetikett und dergleichen) verwendet werden; </p>
<p> <b>b.</b> die Produkte fachmännisch (gemäß dem Produkt beigelegter Montageanleitung) installiert und in Betrieb gesetzt wurden; </p>
<p> <b>c.</b> Wartungs- und Reparaturleistungen an den Produkten ausschließlich nach Vorgaben des Herstellers durch geschultes Fachpersonal erfolgen; </p>
<p> <b>d.</b> die Erbringung von sonstigen Dienstleistungen wie z.B. Softwareupgrades oder Funktionserweiterungen ausschließlich durch den Hersteller oder einen von diesem namhaft gemachten Dritten erfolgt; </p>
<p> <b>e.</b> die nach den einschlägigen technischen Normen bzw. produktspezifisch angegebenen, zulässigen Grenzwerte für Temperaturen und Spannungen nicht überschritten werden; </p>
<p> <b>f.</b> das Produkt keinen nicht bestimmungsgemäßen mechanischen und/oder chemischen Belastungen ausgesetzt wird. </p>
<p> <b>2.</b> Die Garantie erfasst ausschließlich Produktausfälle, die durch nachgewiesene Material-, Konstruktions- oder Produktfehler verursacht wurden sowie die mittlere Nennausfallrate übersteigen. Bei elektronischen Betriebsgeräten bzw. Bauteilen wie LED-Modulen beträgt die mittlere Nennausfallsrate 0,2%/1000 Betriebsstunden, sofern die mittlere Nennlebensdauer und Nennausfallsrate der Geräte oder Bauteile in den Produkt- und Anwendungsspezifikationen (insbesondere gemäß Datenblatt, Produktbroschüre und dergleichen) nicht anders definiert sind. </p>
<p> <b>3.</b> Die Garantie erlischt, wenn der Kunde den Garantiefall nicht innerhalb von 30 Tagen (einlangend) ab Feststellen des Defektes gegenüber McLED s.r.o., schriftlich unter Beifügung einer Kopie des betreffenden Kaufvertrages bzw. der Rechnung und eines entsprechenden Nachweises über den eingetretenen Defekt bekannt gibt. Sollte sich nach Prüfung des Produktes herausstellen, dass ein Garantiefall eingetreten ist, liegt es im Ermessen von McLED s.r.o, das fehlerhafte Produkt zu reparieren, kostenlos ein gleichwertiges Produkt zu liefern oder eine Preisminderung anzubieten. </p>
<p> Diese Garantie gilt nicht für Garantiefälle, die bereits im Rahmen der Gewährleistung durch Austausch, Reparatur oder Preisminderung behoben wurden. </p>
<p> Die Garantiefrist beginnt mit Erfüllung der Garantie nicht wieder neu zu laufen. </p>
<p> Die Abwicklung von Garantiefällen erfolgt ausnahmslos über McLED. </p>
<p> <b>4.</b> Die Garantie bezieht sich nicht auf</p>
<p> <b>a.</b> alle im Zusammenhang mit der Mängelbehebung (Garantieerfüllung) entstehenden Nebenkosten (wie z.B. für Ein- Ausbau, Transport des fehlerhaften und des reparierten bzw. neuen Produktes, Entsorgung, Fahrt- und Wegzeit, Hebevorrichtungen, Gerüste); diese Kosten gehen zu Lasten des Käufers; </p>
<p> <b>b.</b> Kunststoffteile z.B. aus Polycarbonat, soweit diese sich aufgrund des natürlichen Alterungsprozesses verfärben oder verspröden; </p>
<p> <b>c.</b> Einstellungen bzw. Parametrierungen an Anlagen, die sich aufgrund von Verschleiß, Ermüdung oder Verschmutzung verändern; </p>
<p> <b>d.</b> Produktfehler, welche auf Softwarefehler, Bugs, Viren oder Ähnliches zurückzuführen sind; </p>
<p> <b>e.</b> von Zeit zu Zeit notwendige Dienstleistungen wie neuerliche Inbetriebnahme, Softwareupdates etc. </p>
<p> Eine erweiterte Garantie, inklusive Kostenübernahme für die De- und Remontage in den ersten 5 Jahren, kann durch den zusätzlichen Abschluss eines Wartungsvertrages erfolgen. Bei Interesse wenden Sie sich bitte an Ihren zuständigen Vertriebsmitarbeiter. </p>
<p> <b>5.</b> Die Garantie erlischt, wenn an den Produkten ohne vorherige schriftliche Einwilligung durch McLED s.r.o. Änderungen, Reparaturen, Servicearbeiten oder Störungsbehebungen durch den Kunden oder Dritten vorgenommen werden. </p>
<p> <b>6.</b> Zusatzinformation zu LED Produkten: Bei LED-Modulen ist ein Lichtstromrückgang bis zu einem Wert von 0,6%/1000 Betriebsstunden Stand der Technik und somit nicht von der Garantie erfasst. Die Farbtoleranz von LED-Modulen ist von der Herstellergarantie nicht umfasst. Der Lichtstrom und die Leistung unterliegen bei einem neuen LED-Modul einer Toleranz von +/-10%. In den Produkt und Anwendungsspezifikationen (insbesondere gemäß Datenblatt, Produktbroschüre und dergleichen) sind alle relevanten technischen Daten angeführt. Bei Nachlieferungen von LED-Modulen kann es auf Grund des technischen Fortschritts sowie der nutzungsbedingten Veränderung des Lichtstroms und der Lichtfarbe von Produkten zu Abweichungen in den Lichteigenschaften gegenüber den Ursprungsprodukten kommen. </p>
<p> <b>7.</b> Die gesetzlichen Gewährleistungsrechte des Kunden werden durch diese Garantiebedingungen nicht ausgeschlossen, eingeschränkt oder abgeändert. </p>



        </div>
    </div>
</div>
