<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">LED-Streifen, Versorgungsquelle und Steuergerät</h1>
    <div class="container fluid">
        <div class="block">

<h3>LED-Streifen</h3>
<p>LED-Streifen erfreuen sich aktuell einer immer größeren Beliebtheit. Sie können bevorzugt als dekorative Beleuchtung im Innen- und Außenbereich verwendet werden, aber auch als Hauptbeleuchtung in Räumen, Fluren, etc. Durch die Verwendung von LED-Streifen in Kombination mit Aluminiumprofilen verlängern Sie einerseits deren Lebensdauer und andererseits entsteht somit eine praktisch fertige LED-Leuchte im modernen Design. </p>
<p>Die LED-Streifen werden in Packungen zu 5 Metern angeboten (dies stellt bei diesen Typen auch gleichzeitig die Mindestbestellmenge dar). Einige Typen werden auch in einer Länge von 30 oder 50 Metern auf Rollen aufgewickelt angeboten. Von diesen Rollen <strong>können wir sie in der gewünschten Länge für Sie herunterschneiden</strong>. In unserem E-Shop ist bei jedem LED-Streifen die Information angegeben, ob der LED-Streifen auch in kundenindividuellen Längen verkauft werden kann beziehungsweise in welchen Längen der betreffende LED-Streifen von der Rolle heruntergeschnitten werden kann. </p>
<p>Treffen Sie Ihre Auswahl bei den LED-Streifen nach folgenden Basis-Parametern: </p>
<ul>
<li>nach der <strong>IP-Schutzart</strong> – durch diese wird der Schutz des LED-Streifens vor äußeren Einflüssen charakterisiert: </li>
<ul>
<li>IP 20 – Der LED-Streifen ist ausschließlich zur Verwendung im Innenbereich bestimmt</li>
<li>IP 54 – Der LED-Streifen kann auch im feuchten Milieu verwendet werden, die Oberfläche ist mit einer Silikonschicht geschützt</li>
<li>IP 68 – Der LED-Streifen kann auch im Außenbereich verwendet sowie kurzfristig ins Wasser eingetaucht werden. Der LED-Streifen befindet sich in einer mit Silikon gefüllten Silikonhülle</li>
</ul>
<li>nach der <strong>Lichtstärke</strong> (Lichtstrom in Lummen) – je höher der Wert ist, desto mehr Licht ist vorhanden</li>
<li>durch die <strong>LED-Anzahl pro Meter</strong> des LED-Streifens – je höher die Anzahl ist, desto weniger dunkle Stellen sind zwischen den einzelnen LEDs zu sehen (höhere LED-Dichte auf dem Streifen) </li>
<li>durch die <strong>Versorgungsspannung</strong> – Die LED-Streifen benötigen eine stabilisierte Spannung von 12 V oder 24 V, hierfür dient das Netzanschlussgerät</li>
<li>durch die <strong>Lichtfarbe</strong> – Kaltweiß, Warmweiß, rot, gelb, blau, grün, RGB, eine Kombination aus RGB + Kaltweiß (RGB+W) sowie Kaltweiß + Warmweiß (W+WW) </li>
</ul>
<p>Es wird empfohlen, die LED-Streifen immer auf einer Wärme leitenden und nicht brennbaren Oberfläche zu installieren. </p>
<p>Jeder LED-Streifen kann bei Bedarf <strong>nachträglich einfach gekürzt werden</strong> - entsprechend Ihren aktuellen Wünschen und Vorstellungen. Hierfür das Band mit einer herkömmlichen Schere einfach an einer beliebigen Stelle durchschneiden. </p>

<br>

<h3>Versorgungsquelle und Steuergerät</h3>
<p>Die Versorgung der LED-Streifen erfolgt mit Gleichstromspannung von 12 oder 24 V (ist vom ausgewählten LED-Streifen abhängig). Zur Gewährleistung dieser Spannung muss zwischen der Netzspannung und dem LED-Streifen das Netzanschlussgerät angeschlossen werden. </p>
<p><strong>Nachfolgend sind die wichtigsten Geräteparameter</strong> aufgeführt, auf welche Sie sich bei der Auswahl konzentrieren sollten: </p>

<ul>
<li><strong>Die richtige Leistung</strong> des Netzanschlussgeräts bestimmen Sie anhand des von Ihnen ausgewählten LED-Streifens. Bei jedem LED-Streifen ist die Wattleistung angegeben (z. B. 12 W/m, etc.) Sofern Sie also wissen, dass Sie z. B. 3 Meter LED-Streifen mit einer Wattleistung von 12 W/m benötigen, sind für so einen LED-Streifen mindestens 3 m x 12 W = 36 W erforderlich. Die Auswahl des Netzanschlussgeräts muss (aufgrund der optimalen Lebensdauer) jedoch in der Form erfolgen, dass die vorausgesetzte Wattleistung der LED-Streifen auch mit einer ca. 20%igen Reserve abgedeckt ist. Die Mindestleistung des Geräts beträgt im genannten Fall 3 m x 12 W x 1,2 (Reserve von 20 %) = 43,2 W. Aus unserem Angebot können Sie das passende Gerät mit einer höheren Wattleistung auswählen</li>
<li>Die <strong>IP-Schutzart</strong> für das Gerät wählen Sie entsprechend dem geplanten Standort aus. Sofern keine Gefahr besteht, dass das Netzanschlussgerät in die Nähe einer Quelle kommt bzw. dass hier eine hohe Feuchtigkeit vorhanden ist, reicht es aus, ein Gerät mit Schutzart IP20 zu wählen. Im umgekehrten Fall wählen Sie unter den Netzanschlussgeräten mit Schutzart IP 67 aus</li>
<li><strong>Die entsprechende Ausgangsspannung</strong> des Netzanschlussgeräts bestimmen Sie anhand des LED-Streifens, welchen Sie an das Netzanschlussgerät anschließen möchten. In der Regel handelt es sich um eine Ausgangsspannung von 12 V oder 24 V</li>
</ul>

<p>Ein <strong>Steuergerät</strong> ist dann zwischen dem Netzanschlussgerät und dem LED-Streifen anzuschließen, wenn Sie den <strong>LED-Streifen dimmen möchten</strong> bzw. wenn Sie bei bunten RGB-LED-Streifen die <strong>Farben sowie verschiedene Lichteffekte einstellen möchten</strong> (Blinken, sukzessiver Farbwechsel, etc.). Unser Angebot umfasst auch LED-Streifen mit zwei LED-Arten - in Warmweiß und Kaltweiß. Per Fernbedienung können Sie dann die <strong>Farbtemperatur Weiß regulieren</strong> - von Kaltweiß bis Warmweiß. Wenn Sie sich für eine Fernbedienung entscheiden, ist wieder auf die maximale Strom-/Leistungsbelastung der einzelnen Regler zu achten. Bei Bedarf kann die zulässige Belastung der RGB-Regler durch Anschluss eines RGB-Verstärkers erhöht werden. </p>

</div>
</div>
</div>
