<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">FLUTER</h1>
    <div class="shop_categories_router">
	
        <div class="item">
            <a [routerLink]="['/led-industriebeleuchtung-fluter-persea']" class="inside">
                <img src="/images/category/prumyslova-svitidla-persea.jpg" alt="LED Industriebeleuchtung Fluter Persea" title="LED Industriebeleuchtung Fluter Persea"/>
                <h2>Persea</h2>
            </a>
        </div>
		
        <div class="item">
            <a [routerLink]="['/led-industriebeleuchtung-fluter-troll']" class="inside">
                <img src="/images/category/prumyslova-svitidla-troll.jpg" alt="LED Industriebeleuchtung Fluter Troll" title="LED Industriebeleuchtung Fluter Troll"/>
                <h2>Troll</h2>
            </a>
        </div>
		
        <div class="item">
            <a [routerLink]="['/led-industriebeleuchtung-fluter-orion']" class="inside">
                <img src="/images/category/prumyslova-svitidla-orion.jpg" alt="LED Industriebeleuchtung Fluter Orion" title="LED Industriebeleuchtung Fluter Orion" />
                <h2>Orion</h2>
            </a>
        </div>
		
        <div class="item">
            <a [routerLink]="['/led-industriebeleuchtung-fluter-gama']" class="inside">
                <img src="/images/category/prumyslova-svitidla-gama.jpg" alt="LED Industriebeleuchtung Fluter Gama" title="LED Industriebeleuchtung Fluter Gama"/>
                <h2>Gama</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-industriebeleuchtung-fluter-flash']" class="inside">
                <img src="/images/category/prumyslova-svitidla-flash.jpg" alt="LED Industriebeleuchtung Fluter Flash" title="LED Industriebeleuchtung Fluter Flash"/>
                <h2>Flash</h2>
            </a>
        </div>
		
 <!--   <div class="item">
            <a [routerLink]="['/led-industriebeleuchtung-fluter-ledstream']" class="inside">
                <img src="/images/category/prumyslova-svitidla-ledstream.jpg" alt="LED Industriebeleuchtung Fluter LEDstream" title="LED Industriebeleuchtung Fluter LEDstream"/>
                <h2>LEDstream</h2>
            </a>
        </div> -->
		
        <div class="item">
            <a [routerLink]="['/led-industriebeleuchtung-fluter-proxima']" class="inside">
                <img src="/images/category/prumyslova-svitidla-proxima.jpg" alt="LED Industriebeleuchtung Fluter Proxima" title="LED Industriebeleuchtung Fluter Proxima"/>
                <h2>Proxima</h2>
            </a>
        </div>
		
        <div class="item">
            <a [routerLink]="['/led-industriebeleuchtung-fluter-star']" class="inside">
                <img src="/images/category/prumyslova-svitidla-star.jpg" alt="LED Industriebeleuchtung Fluter Star" title="LED Industriebeleuchtung Fluter Star" />
                <h2>Star</h2>
            </a>
        </div>
		
    </div>
</div>
