<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">REFLEKTORY</h1>
    <div class="shop_categories_router">
	
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-reflektory-persea']" class="inside">
                <img src="/images/category/prumyslova-svitidla-persea.jpg" alt="Průmyslová svítidla Persea" title="Průmyslová svítidla Persea"/>
                <h2>Persea</h2>
            </a>
        </div>
		
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-reflektory-troll']" class="inside">
                <img src="/images/category/prumyslova-svitidla-troll.jpg" alt="Průmyslová svítidla Troll" title="Průmyslová svítidla Troll"/>
                <h2>Troll</h2>
            </a>
        </div>
		
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-reflektory-orion']" class="inside">
                <img src="/images/category/prumyslova-svitidla-orion.jpg" alt="Průmyslová svítidla Orion" title="Průmyslová svítidla Orion" />
                <h2>Orion</h2>
            </a>
        </div>
		
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-reflektory-gama']" class="inside">
                <img src="/images/category/prumyslova-svitidla-gama.jpg" alt="Průmyslová svítidla Gama" title="Průmyslová svítidla Gama"/>
                <h2>Gama</h2>
            </a>
        </div>

        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-reflektory-flash']" class="inside">
                <img src="/images/category/prumyslova-svitidla-flash.jpg" alt="Průmyslová svítidla Flash" title="Průmyslová svítidla Flash"/>
                <h2>Flash</h2>
            </a>
        </div>
		
		<div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-reflektory-ledstream']" class="inside">
                <img src="/images/category/prumyslova-svitidla-ledstream.jpg" alt="Průmyslová svítidla LEDstream" title="Průmyslová svítidla LEDstream"/>
                <h2>LEDstream</h2>
            </a>
        </div>
		
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-reflektory-proxima']" class="inside">
                <img src="/images/category/prumyslova-svitidla-proxima.jpg" alt="Průmyslová svítidla Proxima" title="Průmyslová svítidla Proxima"/>
                <h2>Proxima</h2>
            </a>
        </div>
		
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-reflektory-star']" class="inside">
                <img src="/images/category/prumyslova-svitidla-star.jpg" alt="Průmyslová svítidla Star" title="Průmyslová svítidla Star" />
                <h2>Star</h2>
            </a>
        </div>
		
    </div>
</div>
