<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Klassische LED-Fluter und LED-Industriefluter</h1>
    <div class="container fluid">
        <div class="block">

<h3>Klassische LED-Fluter und LED-Industriefluter</h3>
<p>LED-Fluter sind sowohl zur Verwendung in Haushalten als auch zu kommerziellen Zwecken bestimmt. Auf perfekte Weise lassen sich mit ihnen Schaufenster, Werbetafeln, Fassaden, Skulpturen, Parks, Einfahrten, Zäune sowie viele weitere Objekte anstrahlen bzw. beleuchten. Unser Angebot umfasst auch tragbare LED-Fluter bzw. LED-Fluter mit integrierter Batterie. Die Verwendungsmöglichkeiten sind somit wirklich sehr vielfältig. </p>
<p>Bei der Auswahl der LED-Fluter gibt es einen Basisparameter - <strong>die Leistung – den Lichtstrom in Lumen</strong>. Zur besseren Orientierung und Vorstellung ist auch die entsprechende Leistung eines klassischen Halogenreflektors angegeben, welcher die gleiche Lichtmenge ausstrahlt, wie unsere LED-Variante. </p>
<p>Die weiteren Parameter, welche Sie beim Kauf eines LED-Reflektors berücksichtigen müssen, sind <strong>die Farbtemperatur des Lichts</strong> (Warmweiß / Neutralweiß / Kaltweiß) sowie auch die <strong>Chassis-Farbe</strong> des Reflektors (weiß ist besser für weiße Fassaden geeignet, schwarz für dunklere Fassaden, etc.). </p>
<p><strong>Die Farbtemperatur Weiß</strong>, also den weißen Farbton, in welchem der LED-Reflektor leuchten wird, können Sie je nach beabsichtigtem Verwendungszweck auswählen. Bei der Farbtemperatur Weiß (bzw. der Ersatz-Farbtemperatur) handelt es sich um eine Angabe als ganze Zahl in Kelvin, mit welcher sich der weiße Farbton eindeutig beschreiben lässt: </p>
<ul>
<li>Farbtöne mit einer Farbtemperatur um <strong>2.700 K</strong> werden zusammenfassend als <strong>Warmweiß</strong> bezeichnet (kommt der Fadenglühlampe am nächsten) </li>
<li>Farbtöne mit einer Farbtemperatur um <strong>4.000 K</strong> werden als <strong>Neutralweiß</strong> bezeichnet (kommt dem Tageslicht am nächsten)</li>
<li>Farbtöne mit einer Farbtemperatur um <strong>6.000 K</strong> werden als <strong>Kaltweiß</strong> bezeichnet (werden als Blautöne wahrgenommen) </li>
</ul>
<p>Im Rahmen der Auswahl der konkreten Farbtemperatur können Sie sich an die allgemeinen Empfehlungen halten, aber auch nach eigenem Geschmack, dem beabsichtigten Verwendungszweck, etc. entscheiden.</p>
<p><strong>LED-Industriefluter</strong> dienen aufgrund ihrer Leistung vor allem als zuverlässige und Sparvariante für Halogenbeleuchtungen und andere Hauptbeleuchtungsarten in Produktions- und Lagerhallen, Verkaufs- und Arbeitsräumen, etc.). </p>
<p>Da diese Leuchten am häufigsten zur Beleuchtung von Arbeitsbereichen verwendet werden, sollten die entsprechende Leistung und Anzahl der Leuchten in der Form ausgewählt werden, dass sie die Anforderungen der geltenden Normen erfüllen. Nicht selten muss zumindest die <strong>Berechnung der Beleuchtungsparameter</strong> zu Orientierungszwecken erfolgen, aufgrund derer das passende Beleuchtungssystem empfohlen werden kann. </p>
<p><strong>Die Berechnung können wir für Sie übernehmen</strong> (kostenlos). Hierfür sind jedoch folgende generelle Angaben über den zu beleuchtenden Raum erforderlich:</p>
<ul>
<li>Raumbreite, -länge und -höhe </li>
<li>die voraussichtliche Höhe der Stelle, wo die Leuchten installiert werden sollen </li>
<li>eine detaillierte Beschreibung der Tätigkeit, welche unter der Beleuchtung verrichtet wird (dies ist zur Einstufung der Tätigkeit sowie zur Festlegung der entsprechenden Normanforderungen erforderlich) </li>
<li>zur eventuell weiteren Konkretisierung auch Angaben dazu, wie oft der Raum sowie die Leuchten, die Farbe und das Material der Oberflächen - der Wände, des Fußbodens und der Decke gewartet werden </li>
<li>das Ganze können Sie beschleunigen, indem Sie uns einen Grundriss im Format *dwg übersenden</li>
</ul>


</div>
</div>
</div>
