<style>
@media (max-width: 991px) {
.free_lieferzeit {
    margin: 0 -15px;
  }
}

.free_lieferzeit h2 {
  position: relative;
  display: block;
  padding: 0 0 15px 0;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

.free_lieferzeit h2:before {
  display: block;
  height: 85px;
  width: 100%;
  font-weight: normal;
  font-size: 70px;
  color: white;
}

.free_lieferzeit h2:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 70px;
  margin-left: -35px;
  height: 4px;
  background: white;
  content: "";
}

.free_lieferzeit p {
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
  color: #31434f;
}

.free_lieferzeit p strong {
  display: inline-block;
  font-size: 20px;
}

.free_lieferzeit {
  padding: 15px 20px 15px 20px;
  background: url(/images/theme/lines_yellow.png) #e5bf44;
}

</style>

<!-- FREE LIEFERZEIR-->
<div class="free_lieferzeit last-object">
    <h2> <IMG SRC="/files/1766642.png"> <br>
        LIEFERZEIT
    </h2>
    <p>2-3 Werkstage
    bei Bestellung bis 10 Uhr</p>
</div>


<!--
@media (max-width: 991px) {
  .portlets_definition_middle > .portlets_definition_middle_data .portlets_definition_left .free_lieferzeit {
    margin: 0 -15px;
  }
}

.portlets_definition_middle > .portlets_definition_middle_data .portlets_definition_left .free_lieferzeit h2 {
  position: relative;
  display: block;
  padding: 0 0 15px 0;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

.portlets_definition_middle > .portlets_definition_middle_data .portlets_definition_left .free_lieferzeit h2:before {
  display: block;
  height: 85px;
  width: 100%;
  font-weight: normal;
  font-size: 70px;
  color: white;
}

.portlets_definition_middle > .portlets_definition_middle_data .portlets_definition_left .free_lieferzeit h2:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 70px;
  margin-left: -35px;
  height: 4px;
  background: white;
  content: "";
}

.portlets_definition_middle > .portlets_definition_middle_data .portlets_definition_left .free_lieferzeit p {
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
  color: #31434f;
}

.portlets_definition_middle > .portlets_definition_middle_data .portlets_definition_left .free_lieferzeit p strong {
  display: inline-block;
  font-size: 20px;
}

.portlets_definition_middle > .portlets_definition_middle_data .portlets_definition_left .free_lieferzeit {
  padding: 15px 20px 15px 20px;
  background: url(/images/theme/lines_yellow.png) #e5bf44;
}
-->
